{{!-- Equipment Tab --}}
<div class="tab equipment" data-group="primary" data-tab="equipment">
    <div class="equipment-container">
        {{!-- Deed Roll --}}
        {{#if system.config.rollAttackBonus}}
        <div class="attack-bonus-container skills-container">
            <div style="grid-template-columns: 22px max-content; justify-self: end;">
                <img class="attack-bonus rollable" src="systems/dcc/styles/images/game-icons-net/d4-black.svg">
                <label class="attack-bonus rollable" for="dummyAttackBonus">{{localize "DCC.DeedRoll"}}</label>
            </div>
            <div style="grid-template-columns: max-content 20px;">
                <label for="system.details.lastRolledAttackBonus">{{localize "DCC.DeedRollValue"}}</label>
                <input type="text" id="system.details.lastRolledAttackBonus"
                       name="system.details.lastRolledAttackBonus"
                       value="{{system.details.lastRolledAttackBonus}}"
                       title="{{localize " DCC.DeedRollTitle"}}"
                readonly/>
            </div>
        </div>
        {{/if}}

        {{!-- Melee Weapons --}}
        {{#* inline "weaponRow"}}
        <li class="weapon" data-item-id="{{id}}" data-item-slot="{{type}}{{add index 1}}">
            <input type="checkbox"
                   name="itemUpdates.{{id}}.system.equipped"
                   data-dtype="Boolean" {{checked weapon.system.equipped}}/>
            <img class="weapon-draggable" src="{{weapon.img}}" title="{{weapon.name}}" alt="{{weapon.name}}" width="22" height="22">
            <div class="rollable weapon-button weapon-draggable" title="{{localize 'DCC.Roll'}}">&nbsp;</div>
            {{#if canBackstab}}
            <div class="rollable backstab-button weapon-draggable">&nbsp;</div>
            {{/if}}
            <input class="weapon-name" type="text"
                   name="itemUpdates.{{id}}.name"
                   value="{{weapon.name}}"/>
            <input type="text"
                   name="itemUpdates.{{id}}.system.toHit"
                   value="{{weapon.system.toHit}}"/>
            <input class="weapon-damage" type="text"
                   name="itemUpdates.{{id}}.system.damage"
                   value="{{weapon.system.damage}}"/>
            {{#if weapon.melee}}
            <input class="weapon-notes" type="text"
                   name="itemUpdates.{{id}}.system.description.summary"
                   value="{{{weapon.system.description.summary}}}"/>
            {{else}}
            <input class="weapon-notes" type="text"
                   name="itemUpdates.{{id}}.system.range"
                   value="{{weapon.system.range}}"/>
            {{/if}}
            <input type="checkbox"
                   name="itemUpdates.{{id}}.system.trained"
                   data-dtype="Boolean" {{checked weapon.system.trained}}/>
            <div>
                <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/inline}}
        <div class="weapons-heading">{{localize "DCC.MeleeWeapons"}}</div>
        <ol class="weapon-list">
            <li class="weapon-list-header">
                <div title="{{localize 'DCC.Equipped'}}"><i class="fa-solid fa-hand-holding"></i></div>
                <div></div>
                {{#if system.config.showBackstab}}
                <div class="backstab-padding"></div>
                {{/if}}
                <div title="{{localize 'DCC.Roll'}}"></div>
                <div>{{localize "DCC.Name"}}</div>
                <div>{{localize "DCC.ToHit"}}</div>
                <div>{{localize "DCC.Damage"}}</div>
                <div>{{localize "DCC.Notes"}}</div>
                <div title="{{localize 'DCC.WeaponPropertiesTrained'}}"><i class="fa-solid fa-user-graduate"></i></div>
                <div>
                    <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="weapon" data-melee=1>
                        <i class="fas fa-plus"></i>
                        {{localize "DCC.Add"}}
                    </a>
                </div>
            </li>
            {{#each actor.weapons.melee as |weapon index|}}
            {{> weaponRow weapon=weapon id=weapon._id type='m' index=index canBackstab=../system.config.showBackstab}}
            {{/each}}
        </ol>

        {{!-- Ranged Weapons --}}
        <div class="weapons-heading">{{localize "DCC.RangedWeapons"}}</div>
        <ol class="weapon-list">
            <li class="weapon-list-header">
                <div class="weapon-headericon" title="{{localize 'DCC.WeaponEquipped'}}"><i class="fa-solid fa-hand-holding"></i></div>
                <div></div>
                {{#if system.config.showBackstab}}
                <div class="backstab-padding"></div>
                {{/if}}
                <div title="{{localize 'DCC.Roll'}}"></div>
                <div class="weapon-name weapon-name-label">{{localize "DCC.Name"}}</div>
                <div>{{localize "DCC.ToHit"}}</div>
                <div>{{localize "DCC.Damage"}}</div>
                <div>{{localize "DCC.Range"}}</div>
                <div title="{{localize 'DCC.WeaponTrained'}}"><i class="fa-solid fa-user-graduate"></i></div>
                <div class="weapon-controls">
                    <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="weapon">
                        <i class="fas fa-plus" data-melee=0></i>
                        {{localize "DCC.Add"}}
                    </a>
                </div>
            </li>
            {{#each actor.weapons.ranged as |weapon index|}}
            {{> weaponRow weapon=weapon id=weapon._id type='r' index=index canBackstab=../system.config.showBackstab}}
            {{/each}}
        </ol>

        {{!-- Armor --}}
        {{#* inline "armorRow"}}
        <li class="armor" data-item-id="{{id}}" data-item-index="{{index}}">
            <input type="checkbox"
                   name="itemUpdates.{{id}}.system.equipped"
                   data-dtype="Boolean" {{checked armor.system.equipped}}/>
            <img class="item-draggable" src="{{armor.img}}" title="{{armor.name}}" alt="{{armor.name}}" width="20" height="20">
            <input type="text"
                   name="itemUpdates.{{id}}.name"
                   value="{{armor.name}}"/>
            <input type="text"
                   name="itemUpdates.{{id}}.system.acBonus"
                   value="{{numberFormat armor.system.acBonus decimals=0 sign=true}}"/>
            <input type="text"
                   name="itemUpdates.{{id}}.system.checkPenalty"
                   value="{{armor.system.checkPenalty}}"/>
            <input type="text"
                   name="itemUpdates.{{id}}.system.fumbleDie"
                   value="{{armor.system.fumbleDie}}"/>
            <input type="text"
                   name="itemUpdates.{{id}}.system.description.summary"
                   value="{{{armor.system.description.summary}}}"/>
            <div>
                <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/inline}}
        <div class="weapons-heading">{{localize "DCC.Armor"}}</div>
        <ol class="armor-list">
            <li class="weapon-list-header">
                <div class="" title="{{localize 'DCC.Equipped'}}"><i class="fa-solid fa-hand-holding"></i></div>
                <div></div>
                <div>{{localize "DCC.Name"}}</div>
                <div>{{localize "DCC.Bonus"}}</div>
                <div>{{localize "DCC.Penalty"}}</div>
                <div>{{localize "DCC.FumbleDie"}}</div>
                <div>{{localize "DCC.Notes"}}</div>
                <div class="armor-controls">
                    <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="armor"><i class="fas fa-plus"></i>
                        {{localize "DCC.Add"}}</a>
                </div>
            </li>
            {{#each actor.armor as |armor index|}}
            {{> armorRow armor=armor id=armor._id index=index}}
            {{/each}}
        </ol>

        {{!-- Other items --}}
        {{#* inline "ItemHeader"}}
        <li class="item-list-header">
            <div></div>
            <div>{{localize "DCC.Name"}}</div>
            <div>{{localize "DCC.Quantity"}}</div>
            <div>
                <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="{{type}}"><i class="fas fa-plus"></i>
                    {{localize "DCC.Add"}}</a>
            </div>
        </li>
        {{/inline}}
        {{#* inline "ItemRow"}}
        <li class="item item-draggable" data-item-id="{{item._id}}">
            <img class="item-draggable" src="{{item.img}}" title="{{item.name}}" alt="{{item.name}}" width="20" height="20">
            <div>{{item.name}}</div>
            <div>{{item.system.quantity}}</div>
            <div>
                <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/inline}}

        {{!-- Equipment --}}
        <div class="weapons-heading">{{localize "DCC.Equipment"}}</div>
        <ol class="item-list">
            {{> ItemHeader type="equipment"}}
            {{#each actor.equipment as |equipment id|}}
            {{> ItemRow item=equipment id=id}}
            {{/each}}
        </ol>
        {{!-- Ammunition --}}
        <div class="weapons-heading">{{localize "DCC.Ammunition"}}</div>
        <ol class="item-list">
            {{> ItemHeader type="ammunition"}}
            {{#each actor.ammunition as |ammunition id|}}
            {{> ItemRow item=ammunition id=id}}
            {{/each}}
        </ol>
        {{!-- Mounts --}}
        <div class="weapons-heading">{{localize "DCC.Mounts"}}</div>
        <ol class="item-list">
            {{> ItemHeader type="mount"}}
            {{#each actor.mounts as |mount id|}}
            {{> ItemRow item=mount id=id}}
            {{/each}}
        </ol>

        {{!-- Treasure --}}
        {{#* inline "TreasureRow"}}
        <li class="item item-draggable item-currency" data-item-id="{{item._id}}">
            <img class="item-draggable" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            <div>{{item.name}}</div>
            <div class="item-is-coins">{{#if item.isCoins}}({{localize "DCC.AsCoins"}}){{/if}}</div>
            <div class="item-pp currency-field">{{item.value.pp}}</div>
            <div class="item-ep currency-field">{{item.value.ep}}</div>
            <div class="item-gp currency-field">{{item.value.gp}}</div>
            <div class="item-sp currency-field">{{item.value.sp}}</div>
            <div class="item-cp currency-field">{{item.value.cp}}</div>
            <div class="item-controls">
                <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/inline}}
        <div class="weapons-heading">{{localize "DCC.Treasure"}}</div>
        <ol class="item-list item-list-currency">
            <li class="item-list-header" style="grid-column-end: span 9;">
                <div></div>
                <div>{{localize "DCC.Name"}}</div>
                <div></div>
                <div>{{localize "DCC.CurrencyShortPP"}}</div>
                <div>{{localize "DCC.CurrencyShortEP"}}</div>
                <div>{{localize "DCC.CurrencyShortGP"}}</div>
                <div>{{localize "DCC.CurrencyShortSP"}}</div>
                <div>{{localize "DCC.CurrencyShortCP"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="treasure"><i
                        class="fas fa-plus"></i> {{localize "DCC.Add"}}</a>
                </div>
            </li>
            <li class="item item-currency">
                <div><img src="systems/dcc/styles/images/game-icons-net/coins.svg" title="{{localize 'DCC.Funds'}}"
                          width="24" height="24"/></div>
                <div>{{localize 'DCC.Funds'}}</div>
                <div></div>
                <input class="item-pp currency-field" type="text" name="system.currency.pp" placeholder="0"
                       value="{{numberFormat system.currency.pp decimals=0 sign=false}}" data-dtype="number"/>
                <input class="item-ep currency-field" type="text" name="system.currency.ep" placeholder="0"
                       value="{{numberFormat system.currency.ep decimals=0 sign=false}}" data-dtype="number"/>
                <input class="item-gp currency-field" type="text" name="system.currency.gp" placeholder="0"
                       value="{{numberFormat system.currency.gp decimals=0 sign=false}}" data-dtype="number"/>
                <input class="item-sp currency-field" type="text" name="system.currency.sp" placeholder="0"
                       value="{{numberFormat system.currency.sp decimals=0 sign=false}}" data-dtype="number"/>
                <input class="item-cp currency-field" type="text" name="system.currency.cp" placeholder="0"
                       value="{{numberFormat system.currency.cp decimals=0 sign=false}}" data-dtype="number"/>
                <div></div>
            </li>
            {{#each actor.treasure as |treasure id|}}
            {{> TreasureRow item=treasure id=id}}
            {{/each}}
        </ol>
    </div>
</div>
{{!-- End Equipment Tab --}}
