{{!-- Sheet Header --}}
<header class="sheet-header flexrow" >
    <div class="profile-div">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" alt="{{localize 'Character Portrait'}}'"/>
    </div>
    <div class="upper-level flexrow">
        <div class="charname flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}"
                       placeholder="{{localize 'DCC.CharacterName'}}"/>
            </h1>
            <div class="level">
              <label for="system.details.level.value">{{class.className}} {{localize "DCC.Level"}}</label>
                <input type="text" id="system.details.level.value" name="system.details.level.value"
                       value="{{system.details.level.value}}" maxlength="6"
                       data-dtype="Number"/>
            </div>
        </div>

        <div class="title flex1">
            <label for="system.details.title.value">{{localize "DCC.Title"}}</label>
            <input type="text" id="system.details.title.value" name="system.details.title.value"
                   value="{{system.details.title.value}}" maxlength="40"/>
        </div>


        <div class="occupation flex1">
            <label for="system.details.occupation.value">{{localize "DCC.Occupation"}}</label>
            <input type="text" id="system.details.occupation.value" name="system.details.occupation.value"
                   value="{{system.details.occupation.value}}" maxlength="40"/>
        </div>

        <div class="alignment">
            <label for="system.details.alignment">{{localize "DCC.Alignment"}}</label>
            <select id="system.details.alignment" name="system.details.alignment">
                {{#select system.details.alignment}}
                {{#each system.config.alignments as |label alignment|}}
                <option value="{{alignment}}">{{localize label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="experience">
            <label for="system.details.xp.value">{{localize "DCC.Experience"}}</label>
            <input type="text" id="system.details.xp.value" name="system.details.xp.value"
                   value="{{numberFormat system.details.xp.value decimals=0 sign=false}}"
                   placeholder="0" maxlength="40" data-dtype="Number"/>
        </div>
    </div>
</header>

