<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <div class="profile-div">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" alt="{{localize 'Character Portrait'}}'"/>
        </div>
        <div class="flexrow">
          <h1 class="charname">
             <input name="name" type="text" value="{{actor.name}}"
                    placeholder="{{localize 'DCC.CharacterName'}}"/>
          </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="party">{{localize "DCC.Party"}}</a>
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Party Tab --}}
        <div class="tab" data-group="primary" data-tab="party">
          <div class="party">
            {{#each partyMembers}}
            <div class="character-row">
              <div class="profile-div portrait">
                <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt="{{localize 'Character Portrait'}}'"/>
              </div>
              <label class="name">{{name}}</label>
              <label class="occupation">{{data.details.occupation.value}}</label>
              <i class="fas fa-shield-alt"></i>
              <label>{{data.attributes.ac.value}}</label>
              <i class="fas fa-heart"></i>
              <label class="hp-summary">{{data.attributes.hp.value}} / {{data.attributes.hp.max}}</label>
              <label>{{localize "DCC.AbilityStrShort"}}</label>
              <label>{{numberFormat data.abilities.str.mod decimals=0 sign=true}}</label>
              <label>{{localize "DCC.AbilityAglShort"}}</label>
              <label>{{numberFormat data.abilities.agl.mod decimals=0 sign=true}}</label>
              <label>{{localize "DCC.AbilityStaShort"}}</label>
              <label>{{numberFormat data.abilities.sta.mod decimals=0 sign=true}}</label>
              <label>{{localize "DCC.AbilityPerShort"}}</label>
              <label>{{numberFormat data.abilities.per.mod decimals=0 sign=true}}</label>
              <label>{{localize "DCC.AbilityIntShort"}}</label>
              <label>{{numberFormat data.abilities.int.mod decimals=0 sign=true}}</label>
              <label>{{localize "DCC.AbilityLckShort"}}</label>
              <label>{{numberFormat data.abilities.lck.mod decimals=0 sign=true}}</label>
              <i class="weapon fas fa-hammer"></i>
              <label>{{localize "DCC.SavesReflexShort"}}</label>
              <label>{{numberFormat data.saves.ref.value decimals=0 sign=true}}</label>
              <label>{{localize "DCC.SavesFortitudeShort"}}</label>
              <label>{{numberFormat data.saves.frt.value decimals=0 sign=true}}</label>
              <label>{{localize "DCC.SavesWillShort"}}</label>
              <label>{{numberFormat data.saves.wil.value decimals=0 sign=true}}</label>
              <div class="filler"></div>
              <a class="party-control party-edit" title="{{localize 'DCC.PartyEdit'}}" data-actor-id="{{_id}}"><i class="fas fa-user-cog"></i></a>
              <a class="party-control party-delete" title="{{localize 'DCC.PartyDelete'}}" data-actor-id="{{_id}}"><i class="fas fa-user-times"></i></a>
            </div>
            {{/each}}
          </div>
        </div>
        {{!-- End Party Tab --}}

        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            <div class="notes">
                {{editor content=data.details.notes.value target="data.details.notes.value" button=true isOwner=isOwner
                editable=editable}}
            </div>
        </div>
    </section>
</form>

