<form class="{{cssClass}}" autocomplete="off">

  {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
  <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Halfling" data-dtype="String"/>
  <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number"/>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a data-tab="character" title="{{localize 'DCC.CharacterTabHint'}}">{{localize "DCC.Character"}}</a>
    <a data-tab="equipment" title="{{localize 'DCC.EquipmentTabHint'}}">{{localize "DCC.Equipment"}}</a>
    <a data-tab="halfling">{{localize "DCC.Halfling"}}</a>
    {{#if system.config.showSpells}}
      <a data-tab="spells" title="{{localize 'DCC.SpellsTabHint'}}">{{localize "DCC.Spells"}}</a>
    {{/if}}
    {{#if system.config.showSkills}}
      <a data-tab="skills" title="{{localize 'DCC.SkillsTabHint'}}">{{localize "DCC.Skills"}}</a>
    {{/if}}
    <a data-tab="notes" title="{{localize 'DCC.NotesTabHint'}}">{{localize "DCC.Notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Character Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-common.html }}

    {{!-- Equipment Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

    {{!-- Spells Tab --}}
    {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

    {{!-- Skills Tab --}}
    {{> systems/dcc/templates/actor-partial-skills.html }}

    {{!-- Notes Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-notes.html }}

    {{!-- Class Tab --}}
    <div class="tab" data-group="primary" data-tab="halfling">
      <div class="grid-container dark-border">
        <div class="grid-col-span-12 dark-title">{{localize "DCC.HalflingAbilities"}}</div>
        <div class="grid-col-span-12 grid-tpl-max label-font p-5 grid-row-gap-8">
          <div class="grid-tpl-max-25" data-skill="sneakAndHide">
            <label class="skill-check rollable" for="system.skills.sneakAndHide.value">{{localize "DCC.Stealth"}}</label>
            <input type="text" id="system.skills.sneakAndHide.value" name="system.skills.sneakAndHide.value"
                   value="{{system.skills.sneakAndHide.value}}" data-dtype="String"/>
          </div>
          <div></div>
          <div>
            {{localize "DCC.InfravisionHalfling"}}
          </div>
          <div class="full-width">
            {{localize "DCC.Lucky"}}
          </div>
          <div class="grid-tpl-max">
            <div>{{localize "DCC.TwoWeaponFighting"}}</div>
            <ul style="font-size:14px">
              <li>{{localize "DCC.HalflingTwoWeaponActionDie"}}</li>
              <li>{{localize "DCC.HalflingTwoWeaponCrit"}}</li>
              <li>{{localize "DCC.HalflingTwoWeaponFumble"}}</li>
              <li>{{localize "DCC.HalflingTwoWeaponHighAg"}}</li>
            </ul>
          </div>
          {{#dccPackExists "dcc-core-book.dcc-core-journals"}}
            <div>{{{system.class.classLink}}}</div>
          {{/dccPackExists}}
        </div>
      </div>
      <img class="grid-col-span-12" src="systems/dcc/styles/images/SA-4-6-FCI-spots-4-crossed-sabers.webp" height="310px" width="420px"
           style="margin: 10px 0 0 15px;">
    </div>
  </section>
</form>

