<form class="{{cssClass}}" autocomplete="off">

    {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
    <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Warrior" data-dtype="String"/>

    {{!-- Sheet Header --}}
    {{> systems/dcc/templates/actor-partial-pc-header.html }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
      <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
      <a class="item" data-tab="class">{{localize "DCC.Warrior"}}</a>
      {{#if system.config.showSpells}}
      <a class="item" data-tab="spells">{{localize "DCC.Spells"}}</a>
      {{/if}}
      {{#if system.config.showSkills}}
      <a class="item" data-tab="skills">{{localize "DCC.Skills"}}</a>
      {{/if}}
      <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{!-- Character Tab --}}
      {{> systems/dcc/templates/actor-partial-pc-common.html }}

      {{!-- Equipment Tab --}}
      {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

      {{!-- Spells Tab --}}
      {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

      {{!-- Skills Tab --}}
      {{> systems/dcc/templates/actor-partial-skills.html }}

      {{!-- Notes Tab --}}
      {{> systems/dcc/templates/actor-partial-pc-notes.html }}

      {{!-- Class Tab --}}
      <div class="tab" data-group="primary" data-tab="class">
        <div class="class">
          <div class="skills-container">
            <div class="wide split-50-25-25">
              <label for="system.details.critRange">{{localize "DCC.CritRange"}}</label>
              <select class="number" name="system.details.critRange" id="system.details.critRange">
                {{selectOptions config.critRanges selected=system.details.critRange localize=true}}
              </select>
            </div>
 
            <div class="wide split-50-50">
              <label for="system.class.luckyWeapon">{{localize "DCC.LuckyWeapon"}}</label>
              <input class="string" type="text" id="system.class.luckyWeapon" name="system.class.luckyWeapon" value="{{system.class.luckyWeapon}}" data-dtype="String"/>
            </div">
          </div>

          <ul class="class-note flexcol">
            {{#dccPackExists "dcc-core-book.dcc-core-journals"}}</li>
            <li>{{{system.class.classLink}}}</li>
            {{/dccPackExists}}
            <li>{{localize "DCC.AddClassLevelToInitiative"}}</li>
            <li>{{localize "DCC.MightyDeedsOfArms"}}</li>
            <ul class="class-note flexcol">
              {{#dccPackExists "dcc-core-book.dcc-core-journals"}}</li>
              <li>{{{system.class.mightyDeedsLink}}}</li>
              {{/dccPackExists}}
              <li><a class="external-link" href="https://github.com/foundryvtt-dcc/dcc/wiki/Mighty-Deeds"><i class="fas fa-link"></i> {{localize "DCC.MightyDeedsHowToLink"}}</a></li>
          </div>
        </div>
      </div>
    </section>
</form>

