{{!-- Spells Tab --}}
<section class="tab cleric-spells-bg {{tabs.clericSpells.id}} {{tabs.clericSpells.cssClass}}" data-tab="{{tabs.clericSpells.id}}" data-group="{{tabs.clericSpells.group}}" id="clericSpells">
  <div class="box-title">{{localize "DCC.Spells"}}</div>
  <ol class="item-list item-list-spells">
    <li class="item item-list-header grid-col-span-8">
      <div></div>
      <div></div>
      <div>{{localize "DCC.SpellLevelShort"}}</div>
      <div>{{localize "DCC.SpellName"}}</div>
      <div>{{localize "DCC.SkillResult"}}</div>
      <div>{{localize "DCC.SpellLost"}}</div>
      <div></div>
      <div>
        <a class="item-create" title="{{localize 'DCC.ItemCreate'}}" data-action="itemCreate" data-type="spell"><i class="fas fa-plus"></i> {{localize "DCC.Add"}}</a>
      </div>
    </li>
    {{#each spells as |spells spelllevel|}}
      {{#each spells as |item id|}}
        <li class="item spell-item spell-draggable grid-col-span-8" data-item-id="{{item._id}}"
            data-ability="per" data-die="{{item.spellCheck.die}}"
            data-bonus="{{item.spellCheck.value}}"
            data-spell="{{item.name}}" data-drag="true" data-drag-action="item">
          <div class="item-img">
            <img src="{{item.img}}" title="{{item.name}}" alt="{{item.name}}"
                 width="24" height="24" data-drag="true" data-drag-action="item"/>
          </div>
          <div class="rollable spell-item-button" title="Cast spell" data-action="rollSpellCheck" data-drag="true" data-drag-action="spellCheck">&nbsp;</div>
          <div>{{item.system.level}}</div>
          <div data-tooltip="{{item.descriptionHTML}}">{{item.name}}</div>
          <div>
            {{#if (and item.system.lastResult (ne item.system.lastResult "0"))}}
              <label>{{item.system.lastResult}}</label>
            {{else}}
              --
            {{/if}}
          </div>
          <input type="checkbox"
                 name="items.{{item._id}}.system.lost"
                 data-dtype="Boolean" {{checked item.system.lost}}/>
          <div></div>
          <div>
            <a title="{{localize 'DCC.ItemEdit'}}" data-action="itemEdit" data-item-id="{{item._id}}"><i class="fas fa-edit"></i></a>
            <a title="{{localize 'DCC.ItemDelete'}}" data-action="itemDelete" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    {{else}}
      <li class="item grid-col-span-8 mt-8">
        <div class="grid-col-span-8">{{localize "DCC.SpellTabHelp"}}</div>
      </li>
    {{/each}}
  </ol>
</section>
