{{!-- Character Tab --}}
<div class="tab character flexcol" data-group="primary" data-tab="character">
    <ul class="character-grid">
        {{!-- Ability Scores --}}
        {{#each data.abilities as |ability id|}}
        <li class="ability" id="{{id}}" data-ability="{{id}}">
            <label class="ability-name box-title rollable">{{localize ability.label}}</label>
            <br/>
            <input class="ability-score" id="data.abilities.{{id}}.value"
                   name="data.abilities.{{id}}.value"
                   type="text"
                   value="{{ability.value}}"
                   data-dtype="Number"
                   placeholder="10"
            />
            {{#if ../data.config.showMaxAbilities}}
            <label>/</label>
            <input class="ability-score" id="data.abilities.{{id}}.max"
                   name="data.abilities.{{id}}.max"
                   type="text"
                   value="{{ability.max}}"
                   data-dtype="Number"
                   placeholder="10"
            />
            {{/if}}
            <div class="ability-modifiers" title="Modifier">
                {{numberFormat ability.mod decimals=0 sign=true}}
            </div>
        </li>
        {{/each}}

        {{!-- Pad --}}
        <li id="pad"></li>

        {{!-- Saving Throws --}}
        {{#each data.saves as |save id|}}
        <li class="save" id="{{id}}" data-save="{{id}}">
            <label for="data.saves.{{id}}.value"
                   class="save-name box-title rollable"
            >{{localize save.label}}</label>
            <br/>
            <input id="data.saves.{{id}}.value" name="data.saves.{{id}}.value"
                   type="text"
                   value="{{ numberFormat save.value decimals=0 sign=true }}"
                   data-dtype="Number"
                   placeholder="0"
            />
        </li>
        {{/each}}

        {{!-- Languages --}}
        <li class="languages" id="languages">
          <label for="data.languages.value" name="data.languages.value">
              {{localize "DCC.Languages"}}
          </label>
          {{!-- TODO: Add list of select elements for languages --}}
          <input class="languages" type="text" id="data.details.languages"
                 name="data.details.languages"
                 value="{{data.details.languages}}" data-dtype="String"/>
        </li>

        {{!-- Birth Augur --}}
        <li class="birth-augur" id="birth-augur">
          <label for="data.details.birthAugur" name="data.details.birthAugur">
              {{localize "DCC.BirthAugur"}}
          </label>
          <input class="birth-augur" type="text" id="data.details.birthAugur"
                 name="data.details.birthAugur"
                 value="{{data.details.birthAugur}}" data-dtype="String"/>
        </li>

        {{!-- Rest of the sheet --}}
        <li class="remainder flexcol" id="remainder">
            {{!-- Top Row --}}
            <div class="character-main-top-row flexrow">
                {{!-- AC and HP --}}
                <div class="flex-padding"></div>
                <div class="ac flexcol">
                    <input class="ac-value" type="text" id="data.attributes.ac.value"
                           name="data.attributes.ac.value"
                           value="{{data.attributes.ac.value}}" data-dtype="Number"/>
                    <label for="data.attributes.ac.value">{{localize "DCC.AC"}}</label>
                </div>
                <div class="flex-padding"></div>
                <div class="hp flexcol">
                    <input class="current" type="text" id="data.attributes.hp.value"
                           name="data.attributes.hp.value"
                           value="{{data.attributes.hp.value}}" data-dtype="Number"/>
                    <input class="max" type="text" name="data.attributes.hp.max"
                           value="{{data.attributes.hp.max}}"
                           data-dtype="Number"/>
                    <label class="max-label" for="data.attributes.hp.max">{{localize "DCC.Max"}}</label>
                    <label class="current-label" for="data.attributes.hp.value">{{localize "DCC.HP"}}</label>
                </div>
                <div class="flex-padding"></div>
            </div>
    
            {{!-- Combat Basics --}}
            <div class="character-main-body-row combat-basics flexrow">
                <div class="init">
                    <label class="init-label box-title rollable" for="data.attributes.init.value">{{localize
                        "DCC.Init"}}</label>
                    <div class="flexrow">
                        <input class="init-die" type="text" id="data.attributes.init.die"
                               name="data.attributes.init.die"
                               value="{{data.attributes.init.die}}"
                               placeholder="1d20"
                               data-dtype="String"/>
                        <input class="init-value" type="text" id="data.attributes.init.value"
                               name="data.attributes.init.value"
                               value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"
                               placeholder="+0"
                               data-dtype="Number"/>
                    </div>
                </div>
                <div class="speed">
                    <label for="data.attributes.speed.value">{{localize "DCC.Speed"}}</label>
                    <input class="speed-value" type="text" id="data.attributes.speed.value"
                           name="data.attributes.speed.value"
                           value="{{distanceFormat data.attributes.speed.value}}" data-dtype="String"/>
                </div>
                <div class="action-dice">
                    <label for="data.attributes.actionDice.value">{{localize "DCC.ActionDice"}}</label>
                    <select name="data.attributes.actionDice.value" name="data.attributes.actionDice.value"
                            value="{{data.attributes.actionDice.value}}">
                      {{#select data.attributes.actionDice.value}}
                      {{#each data.attributes.actionDice.options as |actionDie index|}}
                      <option value="{{actionDie}}">{{actionDie}}</option>
                      {{/each}}
                      {{/select}}
                    </select>
                </div>
                <div class="attack-bonus">
                    <label class="attack-bonus {{#if data.config.rollAttackBonus}}rollable{{/if}}"
                           for="data.details.attackBonus">{{localize "DCC.AttackBonus"}}</label>
                    <input type="text" id="data.details.attackBonus"
                           name="data.details.attackBonus"
                           value="{{formatAttackBonus data.details.attackBonus}}" data-dtype="String"/>
                </div>
                <div class="crit-die">
                    <label for="data.attributes.critical.die">{{localize "DCC.CritDie"}}</label>
                    <input type="text" id="data.attributes.critical.die" name="data.attributes.critical.die"
                           value="{{data.attributes.critical.die}}" maxlength="40"
                           placeholder="1d4"/>
                </div>
                <div class="crit-table">
                    <label for="data.attributes.critical.table">{{localize "DCC.CritTable"}}</label>
                    <input type="text" id="data.attributes.critical.table" name="data.attributes.critical.table"
                           value="{{data.attributes.critical.table}}" maxlength="40"
                           placeholder="I"/>
                </div>
            </li>
        </ul>
    </div>
</div>
{{!-- End Character Tab --}}
