{{!-- Armor Section --}}
{{#* inline "armorRow"}}
  <li class="grid-col-span-8 armor grid-col-gap-5" data-item-id="{{id}}" data-item-index="{{index}}">
    <input type="checkbox"
           name="items.{{id}}.system.equipped"
           data-dtype="Boolean" {{checked armor.system.equipped}}/>
    <img class="item-draggable icon-filter" src="{{armor.img}}" title="{{armor.name}}" alt="{{armor.name}}" width="22"
         height="22" data-drag="true" data-drag-action="item">
    <input type="text"
           name="items.{{id}}.name"
           value="{{armor.name}}"/>
    <input type="text"
           name="items.{{id}}.system.acBonus"
           value="{{numberFormat armor.system.acBonus decimals=0 sign=true}}"/>
    <input type="text"
           name="items.{{id}}.system.checkPenalty"
           value="{{armor.system.checkPenalty}}"/>
    <input type="text"
           name="items.{{id}}.system.fumbleDie"
           value="{{armor.system.fumbleDie}}"/>
    <input type="text"
           name="items.{{id}}.system.description.summary"
           value="{{{armor.system.description.summary}}}"/>
    <div>
      <a class="item-control" title="{{localize 'DCC.ItemEdit'}}" data-action="itemEdit"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}" data-action="itemDelete"><i class="fas fa-trash"></i></a>
    </div>
  </li>
{{/inline}}
<div class="box-title">{{localize "DCC.Armor"}}{{#if compendiumLinks}}<a class="compendium-link" data-action="openCompendium" data-pack="{{compendiumLinks.armor}}" data-tooltip="{{localize 'DCC.OpenCompendium'}}"><i class="fas fa-book"></i></a>{{/if}}{{#if equipment.weights.armor}}<span class="section-weight" data-tooltip="{{localize 'DCC.TotalWeight'}}: {{numberFormat equipment.weights.total decimals=2 sign=false}}">{{numberFormat equipment.weights.armor decimals=2 sign=false}}</span>{{/if}}</div>
<ol class="armor-list box-border">
  <li class="grid-col-span-8 armor-list-header">
    <div class="" title="{{localize 'DCC.Equipped'}}"><i class="fa-solid fa-hand-holding"></i></div>
    <div></div>
    <div>{{localize "DCC.Name"}}</div>
    <div>{{localize "DCC.Bonus"}}</div>
    <div>{{localize "DCC.Penalty"}}</div>
    <div>{{localize "DCC.FumbleDie"}}</div>
    <div>{{localize "DCC.Notes"}}</div>
    <div>
      <a class="item-control" title="{{localize 'DCC.ItemCreate'}}" data-type="armor" data-action="itemCreate"><i class="fas fa-plus"></i>
        {{localize "DCC.Add"}}</a>
    </div>
  </li>
  {{#each equipment.armor as |armor index|}}
    {{> armorRow armor=armor id=armor._id index=index}}
  {{/each}}
</ol>
{{!-- End Armor Section --}}
