<form class="{{cssClass}}" autocomplete="off" xmlns="http://www.w3.org/1999/html">

    {{!-- Sheet Header --}}
    <header class="sheet-header npc-sheet flexrow">
        <div class="profile-div">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" alt="{{localize 'DCC.CharacterPortrait'}}"/>
        </div>
        <div class="flexrow">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

            <div class="hd">
                <label class="hd-label rollable" for="data.attributes.hitDice.value">{{localize "DCC.HD"}}</label>
                <input type="text" id="data.attributes.hitDice.value" name="data.attributes.hitDice.value"
                       value="{{data.attributes.hitDice.value}}" maxlength="20" data-dtype="String"/>
            </div>

            <div class="action-dice">
                <label for="data.attributes.actionDice.value">{{localize "DCC.ActionDice"}}</label>
                <select name="data.attributes.actionDice.value" name="data.attributes.actionDice.value"
                        value="{{data.attributes.actionDice.value}}">
                    {{stringify data.attributes.actionDice}}
                    {{#select data.attributes.actionDice.value}}
                    {{#each data.attributes.actionDice.options as |actionDie index|}}
                    <option value="{{actionDie}}">{{actionDie}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="crit-table">
                <label for="data.attributes.crit-table.value">{{localize "DCC.CritTable"}}</label>
                <input type="text" id="data.attributes.critical.table" name="data.attributes.critical.table"
                       value="{{data.attributes.critical.table}}" maxlength="40"/>
            </div>

            <div class="crit-die">
                <label for="data.attributes.critical.die">{{localize "DCC.CritDie"}}</label>
                <input type="text" id="data.attributes.critical.die" name="data.attributes.critical.die"
                       value="{{data.attributes.critical.die}}" maxlength="40"/>
            </div>

            <div class="alignment">
                <label for="data.details.alignment">{{localize "DCC.Alignment"}}</label>
                <select id="data.details.alignment" name="data.details.alignment">
                    {{#select data.details.alignment}}
                        {{#each config.alignments as |label alignment|}}
                            <option value="{{alignment}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
        {{#if data.config.showSpells}}
        <a class="item" data-tab="spells">{{localize "DCC.Spells"}}</a>
        {{/if}}
        {{#if data.config.showSkills}}
        <a class="item" data-tab="skills">{{localize "DCC.Skills"}}</a>
        {{/if}}
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        <div class="tab character flexrow" data-group="primary" data-tab="character">
            {{!-- Body Col To the Right of Abilities --}}
            <div class="flexcol dcccol2">
                {{!-- Top Row --}}
                <div class="character-main-top-row flexrow">
                    {{!-- Special --}}
                    <div class="special">
                        <label for="data.attributes.special.value" class="box-title">{{localize "DCC.Special"}}</label>
                        <textarea id="data.attributes.special.value" name="data.attributes.special.value" rows="5"
                                  cols="50">{{data.attributes.special.value}}</textarea>
                    </div>

                    {{!-- Saving Throws --}}
                    <ul class="saving-throws">
                        {{#each data.saves as |save id|}}
                            <li class="save" data-save="{{id}}">
                                <label for="data.saves.{{id}}.value"
                                       class="save-name box-title rollable"
                                >{{localize save.label}}</label>
                                <input id="data.saves.{{id}}.value" name="data.saves.{{id}}.value"
                                       type="text"
                                       value="{{ numberFormat save.value decimals=0 sign=true }}"
                                       data-dtype="Number"
                                       placeholder="0"
                                />
                            </li>
                        {{/each}}
                    </ul>

                    {{!-- AC and HP --}}
                    <div class="ac flexcol">
                        <input class="ac-value" type="text" id="data.attributes.ac.value"
                               name="data.attributes.ac.value"
                               value="{{data.attributes.ac.value}}" data-dtype="Number"/>
                        <label for="data.attributes.ac.value">{{localize "DCC.AC"}}</label>
                    </div>
                    <div class="hp flexcol">
                        <input class="current" type="text" id="data.attributes.hp.value"
                               name="data.attributes.hp.value"
                               value="{{data.attributes.hp.value}}" data-dtype="Number"/>
                        <input class="max" type="text" name="data.attributes.hp.max"
                               value="{{data.attributes.hp.max}}"
                               data-dtype="Number"/>
                        <label class="max-label" for="data.attributes.hp.max">{{localize "DCC.Max"}}</label>
                        <label class="current-label" for="data.attributes.hp.value">{{localize "DCC.HP"}}</label>
                    </div>

                    {{!-- Init and Speed --}}
                    <div class="init-and-speed flexcol">
                        <div class="init">
                            <label class="init-label box-title rollable" for="data.attributes.init.value">{{localize
                                    "DCC.Init"}}</label>
                            <input class="init-value" type="text" id="data.attributes.init.value"
                                   name="data.attributes.init.value"
                                   value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"
                                   data-dtype="Number"/>
                        </div>
                        <div class="speed">
                            <label for="data.attributes.speed.value">{{localize "DCC.Speed"}}</label>
                            <input class="speed-value" type="text" id="data.attributes.speed.value"
                                   name="data.attributes.speed.value"
                                   value="{{distanceFormat data.attributes.speed.value}}"
                                   data-dtype="String"/>
                            <input class="speed-other" type="text" id="data.attributes.speed.other"
                                   name="data.attributes.speed.other"
                                   value="{{data.attributes.speed.other}}"/>
                            <label class="speed-other-label" for="data.attributes.speed.other">{{localize
                                    "DCC.OtherSpeeds"}}</label>
                        </div>
                    </div>
                </div>

                {{!-- Melee Weapons --}}
                {{#* inline "weaponRow"}}
                <li class="weapon item flexrow" data-item-id="{{id}}" data-item-slot="{{type}}{{add index 1}}">
                    <div class="item-image weapon-draggable flexrow"><img class="weapon-draggable flex1" src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24"/></div>
                    <div class="rollable weapon-button weapon-draggable">&nbsp;</div>
                    <input class="weapon-name" type="text"
                           name="itemUpdates.{{id}}.name"
                           value="{{weapon.name}}"/>
                    <input class="weapon-tohit" type="text"
                           name="itemUpdates.{{id}}.data.toHit"
                           value="{{weapon.data.toHit}}"/>
                    <input class="weapon-damage" type="text"
                           name="itemUpdates.{{id}}.data.damage"
                           value="{{weapon.data.damage}}"/>
                    {{#if weapon.data.melee}}
                    <input class="weapon-notes" type="text"
                           name="itemUpdates.{{id}}.data.description.summary"
                           value="{{{weapon.data.description.summary}}}"/>
                    {{else}}
                    <input class="weapon-notes" type="text"
                           name="itemUpdates.{{id}}.data.range"
                           value="{{weapon.data.range}}"/>
                    {{/if}}
                    <div class="weapon-controls">
                        <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/inline}}
                <div class="weapons-heading">{{localize "DCC.MeleeWeapons"}}</div>
                <div class="flexrow weapons">
                    <ol class="flexcol weapon-list">
                        <li class="flexrow weapon-list-header">
                            <span class="item-image"></span>
                            <span class="weapon-name weapon-name-label">{{localize "DCC.Name"}}</span>
                            <span class="weapon-tohit">{{localize "DCC.ToHit"}}</span>
                            <span class="weapon-damage">{{localize "DCC.Damage"}}</span>
                            <span class="weapon-notes">{{localize "DCC.Notes"}}</span>
                            <span class="weapon-controls">
                              <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="weapon" data-melee=1><i class="fas fa-plus"></i> {{localize "DCC.Add"}}</a>
                            </span>
                        </li>
                        {{#each actor.weapons.melee as |weapon index|}}
                        {{> weaponRow weapon=weapon id=weapon._id type='m' index=index}}
                        {{/each}}
                    </ol>
                </div>
            
                {{!-- Ranged Weapons --}}
                <div class="ranged weapons-heading">{{localize "DCC.RangedWeapons"}}</div>
                <div class="flexrow weapons">
                    <ol class="flexcol weapon-list">
                        <li class="flexrow weapon-list-header">
                            <span class="item-image"></span>
                            <span class="weapon-name weapon-name-label">{{localize "DCC.Name"}}</span>
                            <span class="weapon-tohit">{{localize "DCC.ToHit"}}</span>
                            <span class="weapon-damage">{{localize "DCC.Damage"}}</span>
                            <span class="weapon-notes">{{localize "DCC.Range"}}</span>
                            <span class="weapon-controls">
                              <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="weapon"><i class="fas fa-plus" data-melee=0></i> {{localize "DCC.Add"}}</a>
                            </span>
                        </li>
                        {{#each actor.weapons.ranged as |weapon index|}}
                        {{> weaponRow weapon=weapon id=weapon._id type='r' index=index}}
                        {{/each}}
                    </ol>
                </div>
            
                {{!-- Armor --}}
                {{#* inline "armorRow"}}
                <li class="armor item flexrow" data-item-id="{{id}}" data-item-index="{{index}}">
                    <div class="item-image item-draggable flexrow"><img class="item-draggable flex1" src="{{armor.img}}" title="{{armor.name}}" width="24" height="24"/></div>
                    <input class="armor-equipped" type="checkbox"
                           name="itemUpdates.{{id}}.data.equipped"
                           data-dtype="Boolean" {{checked armor.data.equipped}}/>
                    <input class="armor-name" type="text"
                           name="itemUpdates.{{id}}.name"
                           value="{{armor.name}}"/>
                    <input class="armor-bonus" type="text"
                           name="itemUpdates.{{id}}.data.acBonus"
                           value="{{numberFormat armor.data.acBonus decimals=0 sign=true}}"/>
                    <input class="armor-checkpenalty" type="text"
                           name="itemUpdates.{{id}}.data.checkPenalty"
                           value="{{armor.data.checkPenalty}}"/>
                    <input class="armor-fumbledie" type="text"
                           name="itemUpdates.{{id}}.data.fumbleDie"
                           value="{{armor.data.fumbleDie}}"/>
                    <input class="armor-notes" type="text"
                           name="itemUpdates.{{id}}.data.description.summary"
                           value="{{{armor.data.description.summary}}}"/>
                    <div class="armor-controls">
                        <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/inline}}
                <div class="armor-heading">{{localize "DCC.Armor"}}</div>
                <ol class="flexcol armor-list">
                    <li class="flexrow armor-list-header">
                        <span class="item-image"></span>
                        <span class="armor-equipped"></span>
                        <span class="armor-name armor-name-label">{{localize "DCC.Name"}}</span>
                        <span class="armor-bonus">{{localize "DCC.Bonus"}}</span>
                        <span class="armor-checkpenalty">{{localize "DCC.Penalty"}}</span>
                        <span class="armor-fumbledie">{{localize "DCC.FumbleDie"}}</span>
                        <span class="armor-notes">{{localize "DCC.Notes"}}</span>
                        <span class="armor-controls">
                          <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="armor"><i class="fas fa-plus"></i> {{localize "DCC.Add"}}</a>
                        </span>
                    </li>
                    {{#each actor.armor as |armor index|}}
                    {{> armorRow armor=armor id=armor._id index=index}}
                    {{/each}}
                </ol>
              </div>
            </div>
        </div>
        {{!-- End Character Tab --}}

        {{!-- Equipment Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-equipment.html isZeroSheet=true}}

        {{!-- Spells Tab --}}
        {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

        {{!-- Skills Tab --}}
        {{> systems/dcc/templates/actor-partial-skills.html }}

        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            <div class="notes">
                {{editor content=data.details.notes.value
                         target="data.details.notes.value"
                         button=true
                         isOwner=isOwner
                         editable=editable}}
            </div>
        </div>

    </section>
</form>

