<form class="{{cssClass}}" autocomplete="off">

    {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
    <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Dwarf" data-dtype="String"/>
    <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number"/>

    {{!-- Sheet Header --}}
    {{> systems/dcc/templates/actor-partial-pc-header.html }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
        <a class="item" data-tab="class">{{localize "DCC.Dwarf"}}</a>
        {{#if system.config.showSpells}}
        <a class="item" data-tab="spells">{{localize "DCC.Spells"}}</a>
        {{/if}}
        {{#if system.config.showSkills}}
        <a class="item" data-tab="skills">{{localize "DCC.Skills"}}</a>
        {{/if}}
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-common2.html }}

        {{!-- Equipment Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

        {{!-- Spells Tab --}}
        {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

        {{!-- Skills Tab --}}
        {{> systems/dcc/templates/actor-partial-skills.html }}

        {{!-- Notes Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-notes.html }}

        {{!-- Class Tab --}}
        <div class="tab" data-group="primary" data-tab="class">
            <div class="class">
                <div class="skills-container">
                    <div class="split-50-25-25" data-skill="shieldBash">
                        <label class="skill-check rollable" for="system.skills.shieldBash.die">{{localize "DCC.ShieldBash"}}</label>
                        <input type="text" id="system.skills.shieldBash.die" name="system.skills.shieldBash.die" value="{{system.skills.shieldBash.die}}" data-dtype="String"/>
                        <input type="text" id="system.skills.shieldBash.value" name="system.skills.shieldBash.value" value="{{system.skills.shieldBash.value}}" data-dtype="String"/>
                    </div>
                    <div></div>

                    <div class="wide split-25-75">
                      <label class="box-title" for="system.class.luckyWeapon">{{localize "DCC.LuckyWeapon"}}</label>
                      <input class="string" type="text" id="system.class.luckyWeapon" name="system.class.luckyWeapon" value="{{system.class.luckyWeapon}}" data-dtype="String"/>
                    </div">
                </div>
    
                <ul class="class-note flexcol">
                  {{#dccPackExists "dcc-core-book.dcc-core-journals"}}
                  <li>{{{system.class.classLink}}}</li>
                  {{/dccPackExists}}
                  <li>{{localize "DCC.Infravision"}}</li>
                  <ul class="class-note flexcol">
                    <li><a class="external-link" href="https://github.com/foundryvtt-dcc/dcc/wiki/Infravision-and-Torches"><i class="fas fa-link"></i> {{localize "DCC.InfravisionLink"}}</a></li>
                  </ul>
                  <li>{{localize "DCC.UndergroundSkills"}}</li>
                  <li>{{localize "DCC.MightyDeedsOfArms"}}</li>
      <ul class="class-note flexcol">
                  {{#dccPackExists "dcc-core-book.dcc-core-journals"}}
                  <li>{{{system.class.mightyDeedsLink}}}</li>
                  {{/dccPackExists}} 
                  <li><a class="external-link" href="https://github.com/foundryvtt-dcc/dcc/wiki/Mighty-Deeds"><i class="fas fa-link"></i> {{localize "DCC.MightyDeedsHowToLink"}}</a></li>
                  </ul>
                </ul>
              </div>
            </div>
        </div>
    </section>
</form>

