<form class="{{cssClass}}" autocomplete="off">

  {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
  <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Dwarf" data-dtype="String"/>
  <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number"/>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a data-tab="character" title="{{localize 'DCC.CharacterTabHint'}}">{{localize "DCC.Character"}}</a>
    <a data-tab="equipment" title="{{localize 'DCC.EquipmentTabHint'}}">{{localize "DCC.Equipment"}}</a>
    <a data-tab="dwarf">{{localize "DCC.Dwarf"}}</a>
    {{#if system.config.showSpells}}
      <a data-tab="spells" title="{{localize 'DCC.SpellsTabHint'}}">{{localize "DCC.Spells"}}</a>
    {{/if}}
    {{#if system.config.showSkills}}
      <a data-tab="skills" title="{{localize 'DCC.SkillsTabHint'}}">{{localize "DCC.Skills"}}</a>
    {{/if}}
    <a data-tab="notes" title="{{localize 'DCC.NotesTabHint'}}">{{localize "DCC.Notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Character Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-common.html }}

    {{!-- Equipment Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

    {{!-- Spells Tab --}}
    {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

    {{!-- Skills Tab --}}
    {{> systems/dcc/templates/actor-partial-skills.html }}

    {{!-- Notes Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-notes.html }}

    {{!-- Class Tab --}}
    <div class="tab" data-group="primary" data-tab="dwarf">
      <div class="grid-container label-font">
        <div class="grid-col-span-12 dark-title">{{localize "DCC.DwarfAbilities"}}</div>
        <div class="grid-col-span-12 dark-border grid-tpl-max grid-row-gap-8 p-5">
          <div class="grid-tpl-max-25" data-skill="shieldBash">
            <label class="skill-check" for="system.skills.shieldBash.die" title="{{localize 'DCC.ShieldBashHint'}}">
              {{localize "DCC.ShieldBash"}}
            </label>
            <input type="text" id="system.skills.shieldBash.die" name="system.skills.shieldBash.die"
                   value="{{system.skills.shieldBash.die}}" data-dtype="String"/>
          </div>
          <div class="grid-tpl-max-auto">
            <label for="system.class.luckyWeapon" title="{{localize 'DCC.LuckyWeaponHint'}}">{{localize "DCC.LuckyWeapon"}}</label>
            <input class="full-width" type="text" id="system.class.luckyWeapon" name="system.class.luckyWeapon"
                   value="{{system.class.luckyWeapon}}" data-dtype="String"/>
          </div>
          <div class="grid-tpl-max-auto">
            <label for="system.class.luckyWeaponMod" title="{{localize 'DCC.LuckyWeaponModHint'}}">{{localize "DCC.LuckyWeaponMod"}}</label>
            <input class="full-width" type="text" id="system.class.luckyWeaponMod" name="system.class.luckyWeaponMod"
                   value="{{system.class.luckyWeaponMod}}" data-dtype="String"/>
          </div>
          <div>{{localize "DCC.Infravision"}}</div>
          <div>{{localize "DCC.MightyDeedsOfArms"}}</div>
          <div>
            <a class="external-link" href="https://github.com/foundryvtt-dcc/dcc/wiki/Mighty-Deeds">
              <i class="fas fa-link"></i> {{localize "DCC.MightyDeedsHowToLink"}}
            </a>
          </div>
          <div>{{localize "DCC.UndergroundSkills"}}</div>
          {{#dccPackExists "dcc-core-book.dcc-core-journals"}}
            <div>{{{system.class.classLink}}}</div>
            <div>{{{system.class.mightyDeedsLink}}}</div>
          {{/dccPackExists}}
        </div>
        <img class="grid-col-span-12" src="systems/dcc/styles/images/SA-1-25-FCI-spots1-shield-spiked-kite.webp" height="310px" width="450px"
             style="margin: 30px 0 0 10px;">
      </div>
    </div>
  </section>
</form>

