<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> systems/dcc/templates/actor-partial-pc-header.html }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
        <a class="item" data-tab="class">{{localize "DCC.Thief"}}</a>
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-common.html }}

        {{!-- Equipment Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

        {{!-- Notes Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-notes.html }}

        {{!-- Class Tab --}}
        <div class="tab" data-group="primary" data-tab="class">
            <h4 class="class-label">{{localize "DCC.ThiefAbilities"}}</h4>
            <div class="class">
                <div class="thief-skills-container">
                    <div class="flexrow">
                        <label for="data.classt.luckDie">{{localize "DCC.LuckDie"}}</label>
                        <input type="text" id="data.class.luckDie" name="data.class.luckDie" value="{{data.class.luckDie}}" data-dtype="String"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.backstab">{{localize "DCC.Backstab"}}</label>
                        <input type="text" id="data.class.backstab" name="data.class.backstab" value="{{data.class.backstab}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.sneakSilently">{{localize "DCC.SneakSilently"}}</label>
                        <input type="text" id="data.class.sneakSilently" name="data.class.sneakSilently" value="{{data.class.sneakSilently}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.hideInShadows">{{localize "DCC.HideInShadows"}}</label>
                        <input type="text" id="data.class.hideInShadows" name="data.class.hideInShadows" value="{{data.class.hideInShadows}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.pickPocket">{{localize "DCC.PickPocket"}}</label>
                        <input type="text" id="data.class.pickPocket" name="data.class.pickPocket" value="{{data.class.pickPocket}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.climbSheerSurfaces">{{localize "DCC.ClimbSheerSurfaces"}}</label>
                        <input type="text" id="data.class.climbSheerSurfaces" name="data.class.climbSheerSurfaces" value="{{data.class.climbSheerSurfaces}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.pickLock">{{localize "DCC.PickLock"}}</label>
                        <input type="text" id="data.class.pickLock" name="data.class.pickLock" value="{{data.class.pickLock}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.findTrap">{{localize "DCC.FindTrap"}}</label>
                        <input type="text" id="data.class.findTrap" name="data.class.findTrap" value="{{data.class.findTrap}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.disableTrap">{{localize "DCC.DisableTrap"}}</label>
                        <input type="text" id="data.class.disableTrap" name="data.class.disableTrap" value="{{data.class.disableTrap}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.forgeDocument">{{localize "DCC.ForgeDocument"}}</label>
                        <input type="text" id="data.class.forgeDocument" name="data.class.forgeDocument" value="{{data.class.forgeDocument}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.disguiseSelf">{{localize "DCC.DisguiseSelf"}}</label>
                        <input type="text" id="data.class.disguiseSelf" name="data.class.disguiseSelf" value="{{data.class.disguiseSelf}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.readLanguages">{{localize "DCC.ReadLanguages"}}</label>
                        <input type="text" id="data.class.readLanguages" name="data.class.readLanguages" value="{{data.class.readLanguages}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.handlePoison">{{localize "DCC.HandlePoison"}}</label>
                        <input type="text" id="data.class.handlePoison" name="data.class.handlePoison" value="{{data.class.handlePoison}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label for="data.class.castSpellFromScroll">{{localize "DCC.CastSpellFromScroll"}}</label>
                        <input type="text" id="data.class.castSpellFromScroll" name="data.class.castSpellFromScroll" value="{{data.class.castSpellFromScroll}}" data-dtype="String"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

