<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"
             alt="{{localize 'Character Portrait'}}'"/>
        <div class="flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}"
                       placeholder="{{localize 'DCC.CharacterName'}}"/>
            </h1>

            <div class="occupation flex1">
                <label for="data.details.occupation.value">{{localize "DCC.Occupation"}}</label>
                <input type="text" id="data.details.occupation.value" name="data.details.occupation.value"
                       value="{{data.details.occupation.value}}" maxlength="40"/>
            </div>

            <div class="alignment">
                <label for="data.details.alignment">{{localize "DCC.Alignment"}}</label>
                <select id="data.details.alignment" name="data.details.alignment">
                    {{#select data.details.alignment}}
                    {{#each config.alignments as |label alignment|}}
                    <option value="{{alignment}}">{{localize label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="experience">
                <label for="data.details.xp.value">{{localize "DCC.Experience"}}</label>
                <input type="text" id="data.details.xp.value" name="data.details.xp.value"
                       value="{{numberFormat data.details.xp.value decimals=0 sign=false}}"
                       placeholder="0" maxlength="40" data-dtype="Number"/>
            </div>
        </div>

        <input type="hidden" id="data.details.sheetClass" name="data.details.sheetClass" value="Zero" data-dtype="String"/>
        <input type="hidden" id="data.details.critRange" name="data.details.critRange" value="20" data-dtype="Number"/>
        <input type="hidden" id="data.attributes.actionDice.value" name="data.attributes.actionDice.value" value="{{data.attributes.actionDice.options.[0]}}" data-dtype="String"/>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
        {{#if data.config.showSpells}}
        <a class="item" data-tab="spells">{{localize "DCC.Spells"}}</a>
        {{/if}}
        {{#if data.config.showSkills}}
        <a class="item" data-tab="skills">{{localize "DCC.Skills"}}</a>
        {{/if}}
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        <div class="tab character flexrow" data-group="primary" data-tab="character">
            {{!-- Ability Scores --}}
            <ul class="ability-scores flexcol">
                {{#each data.abilities as |ability id|}}
                <li class="ability" data-ability="{{id}}">
                    <label class="ability-name box-title rollable">{{localize ability.label}}</label>
                    <br/>
                    <input class="ability-score" id="data.abilities.{{id}}.value" name="data.abilities.{{id}}.value"
                           type="text"
                           value="{{ability.value}}"
                           data-dtype="Number"
                           placeholder="10"
                    />
                    {{#if ../data.config.showMaxAbilities}}
                    <label>/</label>
                    <input class="ability-score" id="data.abilities.{{id}}.max"
                           name="data.abilities.{{id}}.max"
                           type="text"
                           value="{{ability.max}}"
                           data-dtype="Number"
                           placeholder="10"
                    />
                    {{/if}}
                    <div class="ability-modifiers" title="Modifier">
                        {{numberFormat ability.mod decimals=0 sign=true}}
                    </div>
                </li>
                {{/each}}
            </ul>

            {{!-- Body Col To the Right of Abilities --}}
            <div class="flexcol dcccol2">
                {{!-- Top Row --}}
                <div class="character-main-top-row flexrow">
                    {{!-- Saving Throws --}}
                    <ul class="saving-throws">
                        {{#each data.saves as |save id|}}
                        <li class="save" data-save="{{id}}">
                            <label for="data.saves.{{id}}.value"
                                   class="save-name box-title rollable"
                            >{{localize save.label}}</label>
                            <input id="data.saves.{{id}}.value" name="data.saves.{{id}}.value"
                                   type="text"
                                   value="{{ numberFormat save.value decimals=0 sign=true }}"
                                   data-dtype="Number"
                                   placeholder="0"
                            />
                        </li>
                        {{/each}}
                    </ul>

                    {{!-- AC and HP --}}
                    <div class="flex-padding"></div>
                    <div class="ac flexcol">
                        <input class="ac-value" type="text" id="data.attributes.ac.value"
                               name="data.attributes.ac.value"
                               value="{{data.attributes.ac.value}}" data-dtype="Number"/>
                        <label for="data.attributes.ac.value">{{localize "DCC.AC"}}</label>
                    </div>
                    <div class="flex-padding"></div>
                    <div class="hp flexcol">
                        <input class="current" type="text" id="data.attributes.hp.value"
                               name="data.attributes.hp.value"
                               value="{{data.attributes.hp.value}}" data-dtype="Number"/>
                        <input class="max" type="text" name="data.attributes.hp.max"
                               value="{{data.attributes.hp.max}}"
                               data-dtype="Number"/>
                        <label class="max-label" for="data.attributes.hp.max">{{localize "DCC.Max"}}</label>
                        <label class="current-label" for="data.attributes.hp.value">{{localize "DCC.HP"}}</label>
                    </div>

                    {{!-- Init, Speed, and HD --}}
                    <div class="init-and-speed flexcol">
                        <div class="init">
                            <label class="init-label box-title rollable" for="data.attributes.init.value">{{localize "DCC.Init"}}</label>
                            <input class="init-value" type="text" id="data.attributes.init.value"
                                   name="data.attributes.init.value"
                                   value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"
                                   placeholder="+0"
                                   data-dtype="Number"/>
                        </div>
                        <div class="speed">
                            <label for="data.attributes.speed.value">{{localize "DCC.Speed"}}</label>
                            <input class="speed-value" type="text" id="data.attributes.speed.value"
                                   name="data.attributes.speed.value"
                                   value="{{distanceFormat data.attributes.speed.value}}" data-dtype="String"/>
                        </div>
                        <div class="hd">
                            <label class="hd-label rollable" for="data.attributes.hitDice.value">{{localize "DCC.HD"}}</label>
                            <input class="hd-value" type="text" id="data.attributes.hitDice.value"
                                   name="data.attributes.hitDice.value"
                                   value="{{data.attributes.hitDice.value}}" maxlength="20" data-dtype="String"/>
                        </div>
                    </div>
                </div>

                {{!-- Melee Weapons --}}
                {{#* inline "weaponRow"}}
                <li class="weapon item flexrow" data-item-id="{{id}}" data-item-slot="{{type}}{{add index 1}}">
                    <div class="rollable weapon-button">&nbsp;</div>
                    <input class="weapon-name" type="text"
                           name="itemUpdates.{{id}}.name"
                           value="{{weapon.name}}"/>
                    <input class="weapon-tohit" type="text"
                           name="itemUpdates.{{id}}.data.toHit"
                           value="{{weapon.data.toHit}}"/>
                    <input class="weapon-damage" type="text"
                           name="itemUpdates.{{id}}.data.damage"
                           value="{{weapon.data.damage}}"/>
                    {{#if weapon.data.melee}}
                    <input class="weapon-notes" type="text"
                           name="itemUpdates.{{id}}.data.description.summary"
                           value="{{{weapon.data.description.summary}}}"/>
                    {{else}}
                    <input class="weapon-notes" type="text"
                           name="itemUpdates.{{id}}.data.range"
                           value="{{weapon.data.range}}"/>
                    {{/if}}
                    <div class="weapon-controls">
                        <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/inline}}
                <div class="weapons-heading">{{localize "DCC.MeleeWeapons"}}</div>
                <div class="flexrow weapons">
                    <ol class="flexcol weapon-list">
                        <li class="flexrow weapon-list-header">
                            <span class="weapon-name weapon-name-label">{{localize "DCC.Name"}}</span>
                            <span class="weapon-tohit">{{localize "DCC.ToHit"}}</span>
                            <span class="weapon-damage">{{localize "DCC.Damage"}}</span>
                            <span class="weapon-notes">{{localize "DCC.Notes"}}</span>
                            <span class="weapon-controls">
                              <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="weapon" data-melee=1><i class="fas fa-plus"></i> {{localize "DCC.Add"}}</a>
                            </span>
                        </li>
                        {{#each actor.weapons.melee as |weapon index|}}
                        {{> weaponRow weapon=weapon id=weapon._id type='m' index=index}}
                        {{/each}}
                    </ol>
                </div>
            
                {{!-- Ranged Weapons --}}
                <div class="ranged weapons-heading">{{localize "DCC.RangedWeapons"}}</div>
                <div class="flexrow weapons">
                    <ol class="flexcol weapon-list">
                        <li class="flexrow weapon-list-header">
                            <span class="weapon-name weapon-name-label">{{localize "DCC.Name"}}</span>
                            <span class="weapon-tohit">{{localize "DCC.ToHit"}}</span>
                            <span class="weapon-damage">{{localize "DCC.Damage"}}</span>
                            <span class="weapon-notes">{{localize "DCC.Range"}}</span>
                            <span class="weapon-controls">
                              <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="weapon"><i class="fas fa-plus" data-melee=0></i> {{localize "DCC.Add"}}</a>
                            </span>
                        </li>
                        {{#each actor.weapons.ranged as |weapon index|}}
                        {{> weaponRow weapon=weapon id=weapon._id type='r' index=index}}
                        {{/each}}
                    </ol>
                </div>
            
                {{!-- Armor --}}
                {{#* inline "armorRow"}}
                <li class="armor item flexrow" data-item-id="{{id}}" data-item-index="{{index}}">
                    <input class="armor-equipped" type="checkbox"
                           name="itemUpdates.{{id}}.data.equipped"
                           data-dtype="Boolean" {{checked armor.data.equipped}}/>
                    <input class="armor-name" type="text"
                           name="itemUpdates.{{id}}.name"
                           value="{{armor.name}}"/>
                    <input class="armor-bonus" type="text"
                           name="itemUpdates.{{id}}.data.acBonus"
                           value="{{numberFormat armor.data.acBonus decimals=0 sign=true}}"/>
                    <input class="armor-checkpenalty" type="text"
                           name="itemUpdates.{{id}}.data.checkPenalty"
                           value="{{armor.data.checkPenalty}}"/>
                    <input class="armor-fumbledie" type="text"
                           name="itemUpdates.{{id}}.data.fumbleDie"
                           value="{{armor.data.fumbleDie}}"/>
                    <div class="armor-controls">
                        <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/inline}}
                <div class="armor-heading">{{localize "DCC.Armor"}}</div>
                <ol class="flexcol armor-list">
                    <li class="flexrow armor-list-header">
                        <span class="armor-equipped"></span>
                        <span class="armor-name armor-name-label">{{localize "DCC.Name"}}</span>
                        <span class="armor-bonus">{{localize "DCC.Bonus"}}</span>
                        <span class="armor-checkpenalty">{{localize "DCC.Penalty"}}</span>
                        <span class="armor-fumbledie">{{localize "DCC.FumbleDie"}}</span>
                        <span class="armor-controls">
                          <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="armor"><i class="fas fa-plus"></i> {{localize "DCC.Add"}}</a>
                        </span>
                    </li>
                    {{#each actor.armor as |armor index|}}
                    {{> armorRow armor=armor id=armor._id index=index}}
                    {{/each}}
                </ol>
              </div>
            </div>
        </div>
        {{!-- End Character Tab --}}

        {{!-- Equipment Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
          <div class="equipment-container">
            {{!-- Other items --}}
            {{#* inline "ItemHeader"}}
            <li class="item flexrow item-list-header">
              <div class="item-image"></div>
              <div class="item-name">{{localize "DCC.ItemName"}}</div>
              <div class="item-weight">{{localize "DCC.Weight"}}</div>
              <div class="item-quantity">{{localize "DCC.Quantity"}}</div>
              <div class="item-controls">
                <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="{{type}}"><i class="fas fa-plus"></i> {{localize "DCC.Add"}}</a>
              </div>
            </li>
            {{/inline}}
            {{#* inline "ItemRow"}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-image flexrow"><img class="flex1" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4 class="item-name flex3">{{item.name}}</h4>
                <h4 class="item-weight flex3">{{item.data.weight}}</h4>
                <h4 class="item-quantity flex1">{{item.data.quantity}}</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/inline}}
            
            {{!-- Equipment --}}
            <div class="item-heading">{{localize "DCC.Equipment"}}</div>
            <ol class="item-list">
                {{> ItemHeader type="equipment"}}
                {{#each actor.equipment as |equipment id|}}
                {{> ItemRow item=equipment id=id}}
                {{/each}}
            </ol>
            {{!-- Ammunition --}}
            <div class="item-heading">{{localize "DCC.Ammunition"}}</div>
            <ol class="item-list">
                {{> ItemHeader type="ammunition"}}
                {{#each actor.ammunition as |ammunition id|}}
                {{> ItemRow item=ammunition id=id}}
                {{/each}}
            </ol>
            {{!-- Mounts --}}
            <div class="item-heading">{{localize "DCC.Mounts"}}</div>
            <ol class="item-list">
                {{> ItemHeader type="mount"}}
                {{#each actor.mounts as |mount id|}}
                {{> ItemRow item=mount id=id}}
                {{/each}}
            </ol>
        
            {{!-- Treasure --}}
            {{#* inline "TreasureRow"}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-image flexrow"><img class="flex1" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4 class="item-name">{{item.name}}</h4>
                <h4 class="item-is-coins">{{#if item.data.isCoins}}({{localize "DCC.AsCoins"}}){{/if}}</h4>
                <h4 class="item-pp">{{item.data.value.pp}}</h4>
                <h4 class="item-ep">{{item.data.value.ep}}</h4>
                <h4 class="item-gp">{{item.data.value.gp}}</h4>
                <h4 class="item-sp">{{item.data.value.sp}}</h4>
                <h4 class="item-cp">{{item.data.value.cp}}</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'DCC.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'DCC.ItemDelete'}}"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/inline}}
            <div class="item-heading">{{localize "DCC.Treasure"}}</div>
            <ol class="item-list">
                <li class="item flexrow item-list-header">
                  <div class="item-image"></div>
                  <div class="item-name">{{localize "DCC.ItemName"}}</div>
                  <div class="item-is-coins"></div>
                  <div class="item-pp">{{localize "DCC.CurrencyShortEP"}}</div>
                  <div class="item-ep">{{localize "DCC.CurrencyShortPP"}}</div>
                  <div class="item-gp">{{localize "DCC.CurrencyShortGP"}}</div>
                  <div class="item-sp">{{localize "DCC.CurrencyShortSP"}}</div>
                  <div class="item-cp">{{localize "DCC.CurrencyShortCP"}}</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="{{localize 'DCC.ItemCreate'}}" data-type="treasure"><i class="fas fa-plus"></i> {{localize "DCC.Add"}}</a>
                  </div>
                </li>
                {{#each actor.treasure as |treasure id|}}
                {{> TreasureRow item=treasure id=id}}
                {{/each}}
            </ol>
          </div>
        </div>
        {{!-- End Equipment Tab --}}

        {{!-- Skills Tab --}}
        {{> systems/dcc/templates/actor-partial-skills.html }}

        {{!-- Spells Tab --}}
        {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            <h4 class="notes-label">{{localize "DCC.Notes"}}</h4>
            <div class="notes">
                {{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner
                editable=editable}}
            </div>
        </div>
    </section>
</form>

