{{!-- Notes Tab --}}
<section class="tab notes-bg {{tabs.notes.id}} {{tabs.notes.cssClass}}" id="notes" data-tab="{{tabs.notes.id}}" data-group="{{tabs.notes.group}}">
  <div class="grid-col-span-12" style="height: 100%;">
    <div class="box-title">{{localize "DCC.Notes"}}</div>
    {{#if editable}}
      <prose-mirror
        name="system.details.notes.value"
        button="true"
        editable="{{editable}}"
        toggled="false"
        value="{{system.details.notes.value}}">
        {{{notesHTML}}}
      </prose-mirror>
    {{else}}
      {{{notesHTML}}}
    {{/if}}
  </div>
</section>
