{{!-- Spells Tab --}}
<div class="tab spells" data-group="primary" data-tab="spells">
    <h4 class="class-label">{{localize "DCC.WizardSpells"}}</h4>
    <div class="spells-container-wizard">
        <ol class="item-list">
            <li class="item flexrow item-list-header">
              <div class="item-equipped"></div>
              <div class="item-image"></div>
              <div class="spell-item-button-heading"></div>
              <div class="item-level">{{localize "DCC.SpellLevelShort"}}</div>
              <div class="item-name">{{localize "DCC.SpellName"}}</div>
              <div class="item-notes">{{localize "DCC.MercurialEffect"}}</div>
              <div class="item-controls">
                <a class="item-control item-create" title="{{DCC.ItemCreate}}" data-type="spell"><i class="fas fa-plus"></i> Add</a>
              </div>
            </li>
            {{#each actor.spells as |spells spelllevel|}}
            {{#each spells as |item id|}}
            <li class="item spell-item flexrow" data-item-id="{{item._id}}"
                data-ability="int" data-die="{{item.data.spellCheck.die}}"
                data-bonus="{{item.data.spellCheck.value}}"
                data-spell="{{item.name}}">
                <input class="item-equipped" type="checkbox"
                       name="itemUpdates.{{item._id}}.data.available"
                       data-dtype="Boolean" {{checked item.data.available}}/>
                <div class="item-image flexrow">
                  <img class="flex1" src="{{item.img}}" title="{{item.name}}"
                       width="24" height="24"/>
                </div>
                <div class="rollable spell-item-button">&nbsp;</div>
                <h4 class="item-level">{{item.data.level}}</h4>
                <h4 class="item-name flex3">{{item.name}}</h4>
                <h4 class="item-name flex3">
                  {{item.data.mercurialEffect.value}} - {{item.data.mercurialEffect.summary}}
                </h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{DCC.ItemEdit}}"><i class="fas fa-edit"></i></a>
                    <a class="" title="{{DCC.ItemDelete}}"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
            {{/each}}
        </ol>
    </div>
</div>
