<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> systems/dcc/templates/actor-partial-pc-header.html }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="class">{{localize "DCC.Dwarf"}}</a>
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-common.html }}

        {{!-- Notes Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-notes.html }}

        {{!-- Class Tab --}}
        <div class="tab" data-group="primary" data-tab="class">
            <h4 class="class-label">{{localize "DCC.DwarfAbilities"}}</h4>
            <div class="class">
                <div class="lucky-weapon flexcol">
                    <label class="box-title" for="data.class.luckyWeapon">{{localize "DCC.LuckyWeapon"}}</label>
                    <input type="text" id="data.class.luckyWeapon" name="data.class.luckyWeapon" value="{{data.class.luckyWeapon}}" data-dtype="String"/>
                </div>
    
                <ul class="class-note flexcol">
                  <li>{{localize "DCC.Infravision"}}</li>
                  <li>{{localize "DCC.UndergroundSkills"}}</li>
                  <li>{{localize "DCC.MightyDeedsOfArms"}}</li>
                  <li>{{localize "DCC.ShieldBash"}}</li>
                </div>
            </div>
        </div>
    </section>
</form>

