<form class="{{cssClass}}" autocomplete="off">

    {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
    <input type="hidden" id="data.details.sheetClass" name="data.details.sheetClass" value="Warrior" data-dtype="String"/>

    {{!-- Sheet Header --}}
    {{> systems/dcc/templates/actor-partial-pc-header.html }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
      <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
      <a class="item" data-tab="class">{{localize "DCC.Warrior"}}</a>
      {{#if data.config.showSpells}}
      <a class="item" data-tab="spells">{{localize "DCC.Spells"}}</a>
      {{/if}}
      {{#if data.config.showSkills}}
      <a class="item" data-tab="skills">{{localize "DCC.Skills"}}</a>
      {{/if}}
      <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{!-- Character Tab --}}
      {{> systems/dcc/templates/actor-partial-pc-common.html }}

      {{!-- Equipment Tab --}}
      {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

      {{!-- Spells Tab --}}
      {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

      {{!-- Skills Tab --}}
      {{> systems/dcc/templates/actor-partial-skills.html }}

      {{!-- Notes Tab --}}
      {{> systems/dcc/templates/actor-partial-pc-notes.html }}

      {{!-- Class Tab --}}
      <div class="tab" data-group="primary" data-tab="class">
        <div class="class">
          <div class="skills-container">
            <div class="wide split-50-25-25">
              <label for="data.details.critRange">{{localize "DCC.CritRange"}}</label>
              <select class="number" name="data.details.critRange" id="data.details.critRange">
                {{#select data.details.critRange}}
                  <option value="20">20 - 20</option>
                  <option value="19" default>19 - 20</option>
                  <option value="18">18 - 20</option>
                  <option value="17">17 - 20</option>
                  <option value="16">16 - 20</option>
                  <option value="15">15 - 20</option>
                  <option value="14">14 - 20</option>
                  <option value="13">13 - 20</option>
                  <option value="12">12 - 20</option>
                  <option value="11">11 - 20</option>
                  <option value="10">10 - 20</option>
                  <option value="9">9 - 20</option>
                  <option value="8">8 - 20</option>
                  <option value="7">7 - 20</option>
                  <option value="6">6 - 20</option>
                  <option value="5">5 - 20</option>
                  <option value="4">4 - 20</option>
                  <option value="3">3 - 20</option>
                  <option value="2">2 - 20</option>
                  <option value="1">1 - 20</option>
                {{/select}}
              </select>
            </div>
 
            <div class="wide split-50-50">
              <label for="data.class.luckyWeapon">{{localize "DCC.LuckyWeapon"}}</label>
              <input class="string" type="text" id="data.class.luckyWeapon" name="data.class.luckyWeapon" value="{{data.class.luckyWeapon}}" data-dtype="String"/>
            </div">
          </div>

          <ul class="class-note flexcol">
                 {{#dccPackExists "dcc-core-book.dcc-core-journals"}}</li>
                <li>{{{dccLocalizeAndEnrich "DCC.WarriorClassLink"}}}</li>
                {{/dccPackExists}}
            <li>{{localize "DCC.AddClassLevelToInitiative"}}</li>
	    <li>{{localize "DCC.MightyDeedsOfArms"}}</li>
	    <ul class="class-note flexcol">
		 {{#dccPackExists "dcc-core-book.dcc-core-journals"}}</li>
            	<li>{{{dccLocalizeAndEnrich "DCC.MightyDeedsLink"}}}</li>
            	{{/dccPackExists}}
		{{#dccPackExists "dcc.dcc-userguide"}}
		<li>{{{dccLocalizeAndEnrich "DCC.MightyDeedsHowtoLink"}}}</li>
	  	  {{/dccPackExists}}
          </div>
        </div>
      </div>
    </section>
</form>

