<form class="{{cssClass}}" autocomplete="off">

    {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
    <input type="hidden" id="data.details.sheetClass" name="data.details.sheetClass" value="Halfling" data-dtype="String"/>
    <input type="hidden" id="data.details.critRange" name="data.details.critRange" value="20" data-dtype="Number"/>

    {{!-- Sheet Header --}}
    {{> systems/dcc/templates/actor-partial-pc-header.html }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
        <a class="item" data-tab="class">{{localize "DCC.Halfling"}}</a>
        {{#if data.config.showSkills}}
        <a class="item" data-tab="skills">{{localize "DCC.Skills"}}</a>
        {{/if}}
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-common.html }}

        {{!-- Equipment Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

        {{!-- Spells Tab --}}
        {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

        {{!-- Skills Tab --}}
        {{> systems/dcc/templates/actor-partial-skills.html }}

        {{!-- Notes Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-notes.html }}

        {{!-- Class Tab --}}
        <div class="tab" data-group="primary" data-tab="class">
            <h4 class="class-label">{{localize "DCC.HalflingAbilities"}}</h4>
            <div class="class">
                <div class="skills-container">
                    <div class="split-50-25-25" data-skill="sneakAndHide">
                        <label class="skill-check rollable" for="data.skills.sneakAndHide.value">{{localize "DCC.SneakAndHide"}}</label>
                        <input type="text" id="data.skills.sneakAndHide.value" name="data.skills.sneakAndHide.value" value="{{numberFormat data.skills.sneakAndHide.value decimals=0 sign=true}}" data-dtype="String"/>
                    </div>
                    <div></div>
                </div>

                <ul class="class-note flexcol">
                  <li>{{localize "DCC.Infravision"}}</li>
                  <li>{{localize "DCC.Lucky"}}</li>
                  <li>{{localize "DCC.TwoWeaponFighting"}}
                    <ul class="class-note flexcol">
                      <li>{{localize "DCC.HalflingTwoWeaponActionDie"}}</li>
                      <li>{{localize "DCC.HalflingTwoWeaponCrit"}}</li>
                      <li>{{localize "DCC.HalflingTwoWeaponFumble"}}</li>
                      <li>{{localize "DCC.HalflingTwoWeaponHighAg"}}</li>
                    </ul>
                  </li>
                </ul>
            </div>
        </div>
    </section>
</form>

