<form class="{{cssClass}}" autocomplete="off" xmlns="http://www.w3.org/1999/html">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"
             alt="{{localize 'DCC.CharacterPortrait'}}"/>
        <div class="flexrow">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

            <div class="hd">
                <label for="data.attributes.hitDice.value">{{localize "DCC.HD"}}</label>
                <input type="text" id="data.attributes.hitDice.value" name="data.attributes.hitDice.value"
                       value="{{data.attributes.hitDice.value}}" maxlength="20"/>
            </div>

            <div class="action-dice">
                <label for="data.attributes.action-dice.value">{{localize "DCC.ActionDice"}}</label>
                <input type="text" id="data.attributes.actionDice.value" name="data.attributes.actionDice.value"
                       value="{{data.attributes.actionDice.value}}" maxlength="40"/>
            </div>

            <div class="crit-table">
                <label for="data.attributes.crit-table.value">{{localize "DCC.CritTable"}}</label>
                <input type="text" id="data.attributes.critical.table" name="data.attributes.critical.table"
                       value="{{data.attributes.critical.table}}" maxlength="40"/>
            </div>

            <div class="crit-die">
                <label for="data.attributes.critical.die">{{localize "DCC.CritDie"}}</label>
                <input type="text" id="data.attributes.critical.die" name="data.attributes.critical.die"
                       value="{{data.attributes.critical.die}}" maxlength="40"/>
            </div>

            <div class="alignment">
                <label for="data.details.alignment">{{localize "DCC.Alignment"}}</label>
                <select id="data.details.alignment" name="data.details.alignment">
                    {{#select data.details.alignment}}
                        {{#each config.alignments as |label alignment|}}
                            <option value="{{alignment}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        <div class="tab character flexrow" data-group="primary" data-tab="character">
            {{!-- Body Col To the Right of Abilities --}}
            <div class="flexcol dcccol2">
                {{!-- Top Row --}}
                <div class="character-main-top-row flexrow">
                    {{!-- Special --}}
                    <div class="special">
                        <label for="data.attributes.special.value" class="box-title">{{localize "DCC.Special"}}</label>
                        <textarea id="data.attributes.special.value" name="data.attributes.special.value" rows="5"
                                  cols="50">{{data.attributes.special.value}}</textarea>
                    </div>

                    {{!-- Saving Throws --}}
                    <ul class="saving-throws">
                        {{#each data.saves as |save id|}}
                            <li class="save" data-save="{{id}}">
                                <label for="data.saves.{{id}}.value"
                                       class="save-name box-title rollable"
                                >{{localize save.label}}</label>
                                <input id="data.saves.{{id}}.value" name="data.saves.{{id}}.value"
                                       type="text"
                                       value="{{ numberFormat save.value decimals=0 sign=true }}"
                                       data-dtype="Number"
                                       placeholder="0"
                                />
                            </li>
                        {{/each}}
                    </ul>

                    {{!-- AC and HP --}}
                    <div class="ac flexcol">
                        <input class="ac-value" type="text" id="data.attributes.ac.value"
                               name="data.attributes.ac.value"
                               value="{{data.attributes.ac.value}}" data-dtype="Number"/>
                        <label for="data.attributes.ac.value">{{localize "DCC.AC"}}</label>
                    </div>
                    <div class="hp flexcol">
                        <input class="current" type="text" id="data.attributes.hp.value"
                               name="data.attributes.hp.value"
                               value="{{data.attributes.hp.value}}" data-dtype="Number"/>
                        <input class="max" type="text" name="data.attributes.hp.max"
                               value="{{data.attributes.hp.max}}"
                               data-dtype="Number"/>
                        <label class="max-label" for="data.attributes.hp.max">{{localize "DCC.Max"}}</label>
                        <label class="current-label" for="data.attributes.hp.value">{{localize "DCC.HP"}}</label>
                    </div>

                    {{!-- Init and Speed --}}
                    <div class="init-and-speed flexcol">
                        <div class="init">
                            <label class="init-label box-title rollable" for="data.attributes.init.value">{{localize
                                    "DCC.Init"}}</label>
                            <input class="init-value" type="text" id="data.attributes.init.value"
                                   name="data.attributes.init.value"
                                   value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"
                                   data-dtype="Number"/>
                        </div>
                        <div class="speed">
                            <label for="data.attributes.speed.value">{{localize "DCC.Speed"}}</label>
                            <input class="speed-value" type="text" id="data.attributes.speed.value"
                                   name="data.attributes.speed.value"
                                   value="{{data.attributes.speed.value}}" data-dtype="Number"/>
                            <input class="speed-other" type="text" id="data.attributes.speed.other"
                                   name="data.attributes.speed.other"
                                   value="{{data.attributes.speed.other}}"/>
                            <label class="speed-other-label" for="data.attributes.speed.other">{{localize
                                    "DCC.OtherSpeeds"}}</label>
                        </div>
                    </div>
                </div>

                {{!-- Melee Weapons --}}
                {{#* inline "weaponRow"}}
                    <li class="weapon flexrow" data-weapon-id="{{weaponIndex}}">
                        <div class="rollable weapon-button">&nbsp;</div>
                        <input type="text"
                               name="data.items.weapons.{{weaponIndex}}.name"
                               value="{{weapon.name}}"/>
                        <input class="weapon-tohit" type="text"
                               name="data.items.weapons.{{weaponIndex}}.toHit"
                               value="{{weapon.toHit}}"/>
                        <input class="weapon-damage" type="text"
                               name="data.items.weapons.{{weaponIndex}}.damage"
                               value="{{weapon.damage}}"/>
                        <input class="weapon-special" type="text"
                               name="data.items.weapons.{{weaponIndex}}.special"
                               value="{{weapon.special}}"/>
                    </li>
                {{/inline}}
                <div class="weapons-heading">{{localize "DCC.MeleeWeapons"}}</div>
                <div class="flexrow weapons">
                    <ol class="flexcol weapon-list">
                        <li class="flexrow weapon-list-header">
                            <span class="weapon-name-label">{{localize "DCC.Name"}}</span>
                            <span class="weapon-tohit">{{localize "DCC.ToHit"}}</span>
                            <span class="weapon-damage">{{localize "DCC.Damage"}}</span>
                            <span class="weapon-special flex1">{{localize "DCC.Special"}}</span>
                        </li>
                        {{> weaponRow weaponIndex='m1' weapon=data.items.weapons.m1}}
                        {{> weaponRow weaponIndex='m2' weapon=data.items.weapons.m2}}
                    </ol>
                </div>

                {{!-- Ranged Weapons --}}
                <div class="ranged weapons-heading">{{localize "DCC.RangedWeapons"}}</div>
                <div class="flexrow weapons">
                    <ol class="flexcol weapon-list">
                        {{> weaponRow weaponIndex='r1' weapon=data.items.weapons.r1}}
                        {{> weaponRow weaponIndex='r2' weapon=data.items.weapons.r2}}
                    </ol>
                </div>

                {{!-- Armor --}}
                <div class="armor-heading">{{localize "DCC.Armor"}}</div>
                <ol class="flexcol armor-list">
                    <li class="flexrow armor-list-header">
                        <span class="armor-name armor-name-label">{{localize "DCC.Name"}}</span>
                        <span class="armor-bonus">{{localize "DCC.Bonus"}}</span>
                        <span class="armor-checkpenalty">{{localize "DCC.Penalty"}}</span>
                        <span class="armor-fumbledie">{{localize "DCC.FumbleDie"}}</span>
                        <span class="armor-notes">{{localize "DCC.Notes"}}</span>
                    </li>
                    <li class="armor flexrow" data-weapon-id="{{weaponIndex}}">
                        <input class="armor-name" type="text"
                               name="data.items.armor.a0.name"
                               value="{{data.items.armor.a0.name}}"/>
                        <input class="armor-bonus" type="text"
                               name="data.items.armor.a0.bonus"
                               value="{{data.items.armor.a0.bonus}}"/>
                        <input class="armor-checkpenalty" type="text"
                               name="data.items.armor.a0.checkPenalty"
                               value="{{data.items.armor.a0.checkPenalty}}"/>
                        <input class="armor-fumbledie" type="text"
                               name="data.items.armor.a0.fumbleDie"
                               value="{{data.items.armor.a0.fumbleDie}}"/>
                        <input class="armor-notes" type="text"
                               name="data.items.armor.a0.notes"
                               value="{{data.items.armor.a0.notes}}"/>
                    </li>
                </ol>

            </div>

        </div>
        {{!-- End Character Tab --}}

        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            <h4 class="notes-label">{{localize "DCC.Notes"}}</h4>
            <div class="notes">
                {{editor content=data.details.notes.value
                         target="data.details.notes.value"
                         button=true
                         owner=owner
                         editable=editable}}
            </div>
        </div>
    </section>
</form>

