<div class="dcc-release-notes-card">
  <p class="title-f">{{localize "DCC.Welcome.Title"}}</p>
  <button data-action="dcc-release-notes">
    <i class="fas fa-sticky-note"></i> {{localize "DCC.ReleaseNotesButton"}}
  </button>
  <button data-action="dcc-credits">
    <i class="fas fa-list"></i> {{localize "DCC.CreditsButton"}}
  </button>
  <button data-action="dcc-user-guide">
    <i class="fas fa-file-alt"></i> {{localize "DCC.UserGuideButton"}}
  </button>
  {{#if message}}
    <div class="dcc-release-message">{{{message}}}</div>
  {{/if}}
</div>
