<form id="modify-roll-form">
  <div class="roll-modifier-formula">
    <label for="formula">{{localize 'DCC.RollModifierFormula'}}</label>
    <input type="text" name="formula" placeholder="{{roll.formula}}" value="{{roll.formula}}"/>
  </div>
  <div class="roll-modifier-button-row">
    <div class="roll-modifier-button-stack">
      <button class="roll-modifier-down-dice-chain">{{localize 'DCC.RollModifierDownDiceChain'}}</button>
      <button class="roll-modifier-up-dice-chain">{{localize 'DCC.RollModifierUpDiceChain'}}</button>
    </div>
    <div class="roll-modifier-button-stack">
      <button class="roll-modifier-sub-bonus">{{localize 'DCC.RollModifierSubBonus'}}</button>
      <button class="roll-modifier-add-bonus">{{localize 'DCC.RollModifierAddBonus'}}</button>
    </div>
  </div>
</form>
