<aside>
  <div>
    <h2>{{{heading}}}</h2>
    {{{info}}}
  </div>
  <div class="grid-just-center">
    <img style="border:0" src="{{{logoURL}}}" alt="{{{logoAlt}}}" width="337px" height="200px"/>
  </div>
  <div>
    {{{credits}}}
  </div>
  <div>
    {{{copyright}}}
  </div>
  <div class="mt-8 mb-8 grid-tpl-max-auto">
    <input name="showWelcomeDialog" id="showWelcomeDialog" type="checkbox" data-action="doNotShow" title="{{showWelcomeDialogLabelHint}}" {{checked showWelcomeDialog}}></input>
    <label for="showWelcomeDialog" style="margin-left: 8px; margin-top: 1px;" title="{{showWelcomeDialogLabelHint}}">{{{showWelcomeDialogLabel}}}</label>
  </div>
  <footer class="mt-8 grid-just-center">
    {{#if importContentLabel}}
      <button type="submit">
        <i class="fas fa-file-import"></i>{{{importContentLabel}}}
      </button>
    {{/if}}
    {{#if submitLabel}}
      <button type="submit">
        <i class="fas fa-save"></i>{{{submitLabel}}}
      </button>
    {{/if}}
    {{#if closeLabel}}
      <button type="submit" data-action="close">
        <i class="fas fa-xmark"></i>{{{closeLabel}}}
      </button>
    {{/if}}
  </footer>
</aside>
