<form class="actor config-dialog" autocomplete="off">
  <div class="form-group">
    <label for="data.config.capLevel">{{localize "DCC.CapLevelConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.capLevel" id="data.config.capLevel" {{checked data.config.capLevel}} data-dtype="boolean"/>
    </div>
    <label for="data.config.maxLevel">{{localize "DCC.MaxLevelConfig"}}</label>
    <div class="form-fields">
      <input type="text" name="data.config.maxLevel" id="data.config.maxLevel" value="{{numberFormat data.config.maxLevel decimals=0 sign=false}}" data-dtype="number"/>
    </div>
  </div>
  <div class="form-group">
    <label for="data.config.rollAttackBonus">{{localize "DCC.RollAttackBonusConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.rollAttackBonus" id="data.config.rollAttackBonus" {{checked data.config.rollAttackBonus}} data-dtype="boolean"/>
    </div>
    <label class="info span">{{localize "DCC.RollAttackBonusInfo"}}</label>
  </div>
  <div class="form-group">
    <label for="data.config.computeAC">{{localize "DCC.ComputeACConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.computeAC" id="data.config.computeAC" {{checked data.config.computeAC}} data-dtype="boolean"/>
    </div>
    <label for="data.config.baseACAbility">{{localize "DCC.BaseACAbilityConfig"}}</label>
    <div class="form-fields">
      <select name="data.config.baseACAbility" id="data.config.baseACAbility">
        {{#select data.config.baseACAbility}}
        <option value="str">Strength</option>
        <option value="agl">Agility</option>
        <option value="sta">Stamina</option>
        <option value="per">Personality</option>
        <option value="int">Intelligence</option>
        <option value="lck">Luck</option>
        {{/select}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="data.config.sortInventory">{{localize "DCC.SortInventory"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.sortInventory" id="data.config.sortInventory" {{checked data.config.sortInventory}} data-dtype="boolean"/>
    </div>
    <label for="data.config.removeEmptyItems">{{localize "DCC.RemoveEmptyItems"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.removeEmptyItems" id="data.config.removeEmptyItems" {{checked data.config.removeEmptyItems}} data-dtype="boolean"/>
    </div>
    <label class="info span">{{localize "DCC.RemoveEmptyItemsInfo"}}</label>
  </div>
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "DCC.SaveSheetConfig"}}
    </button>
  </footer>
</form>
