<form class="{{cssClass}}" autocomplete="off">
{{!-- Party Tab --}}
  <div class="fleeting-luck">
    {{#each users}}
    <div class="fleeting-luck-row">
      <div class="avatar">
        <img src="{{avatar}}" data-edit="img" title="{{name}}" alt="{{localize 'DCC.Avatar'}}'"/>
      </div>
      <label class="name">{{name}}</label>
      <i class="minus fas fa-minus"></i>
      <label class="value">{{fleetingLuck}}</label>
      <i class="plus fas fa-plus"></i>
    </div>
    {{/each}}
  </div>
</form>
