<form autocomplete="off" class="p-5">
  <div class="info">
    <h1 class="p-5">{{{heading}}}</h1>
    {{{info}}}
  </div>
  <div class="logo-container">
    <img class="dcc-logo" src="{{{logoURL}}}" alt="{{{logoAlt}}}" width="337px" height="200px"/>
  </div>
  <div class="credits">
    {{{credits}}}
  </div>
  <div class="dcc-copyright">
    {{{copyright}}}
  </div>
  <div class="form-group">
    <input name="data.doNotShow" id="data.doNotShow" type="checkbox"></input>
    <label for="data.doNotShow">{{{doNotShow}}}</label>
  </div>
  <footer class="sheet-footer flexrow">
    {{#if importContentLabel}}
      <button type="submit" class="import-content flex1">
        <i class="fas fa-file-import"></i>{{{importContentLabel}}}
      </button>
    {{/if}}
    <button type="submit" class="flex1">
      <i class="fas fa-save"></i>{{{submitLabel}}}
    </button>
  </footer>
</form>