<form class="item config-dialog" autocomplete="off">
    <label for="system.config.freeform">{{localize "DCC.SkillFreeform"}}</label>
    <input type="checkbox" name="system.config.freeform" id="system.config.freeform"
        {{checked system.config.freeform}} data-dtype="Boolean"/>
    <label for="system.config.useAbility">{{localize "DCC.SkillUseAbility"}}</label>
    <input type="checkbox" name="system.config.useAbility" id="system.config.useAbility"
        {{checked system.config.useAbility}} data-dtype="Boolean"/>
    <label for="system.config.useDie">{{localize "DCC.SkillUseDie"}}</label>
    <input type="checkbox" name="system.config.useDie" id="system.config.useDie"
        {{checked system.config.useDie}} data-dtype="Boolean"/>
    <label for="system.config.useValue">{{localize "DCC.SkillUseValue"}}</label>
    <input type="checkbox" name="system.config.useValue" id="system.config.useValue"
        {{checked system.config.useValue}} data-dtype="Boolean"/>
    <label for="system.config.showLastResult">{{localize "DCC.SkillShowLastResult"}}</label>
    <input type="checkbox" name="system.config.showLastResult" id="system.config.showLastResult"
        {{checked system.config.showLastResult}} data-dtype="Boolean"/>
    <footer class="grid-col-span-2">
        <button type="submit">
            <i class="fas fa-save"></i>{{localize "DCC.SaveItemConfig"}}
        </button>
    </footer>
</form>
