<form class="item config-dialog" autocomplete="off">
  <div class="form-group">
    <label for="system.config.inheritActionDie">{{localize "DCC.InheritActionDie"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.config.inheritActionDie" id="system.config.inheritActionDie" {{checked system.config.inheritActionDie}} data-dtype="boolean"/>
    </div>
    <label for="system.config.inheritCritRange">{{localize "DCC.InheritCritRange"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.config.inheritCritRange" id="system.config.inheritCritRange" {{checked system.config.inheritCritRange}} data-dtype="boolean"/>
    </div>
  </div>
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "DCC.SaveItemConfig"}}
    </button>
  </footer>
</form>
