<form class="actor config-dialog" autocomplete="off">
  <div class="form-group">
    <label for="data.config.actionDice">{{localize "DCC.ActionDice"}}</label>
    <div class="form-fields">
      <input type="text" name="data.config.actionDice" id="data.config.actionDice" value="{{data.config.actionDice}}" data-dtype="string"/>
    </div>
  </div>
  {{#if isNPC}}
  <div class="form-group">
    <label for="data.class.spellCheck">{{localize "DCC.SpellCheck"}}</label>
    <div class="form-fields">
      <input type="text" name="data.class.spellCheck" id="data.class.spellCheck" value="{{numberFormat data.class.spellCheck decimals=0 sign=true}}" data-dtype="number"/>
    </div>
  </div>
  {{else}}
  <div class="form-group">
    <label for="data.config.capLevel">{{localize "DCC.CapLevelConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.capLevel" id="data.config.capLevel" {{checked data.config.capLevel}} data-dtype="boolean"/>
    </div>
    <label for="data.config.maxLevel">{{localize "DCC.MaxLevelConfig"}}</label>
    <div class="form-fields">
      <input type="text" name="data.config.maxLevel" id="data.config.maxLevel" value="{{numberFormat data.config.maxLevel decimals=0 sign=false}}" data-dtype="number"/>
    </div>
  </div>
  <div class="form-group">
    <label for="data.config.rollAttackBonus">{{localize "DCC.RollAttackBonusConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.rollAttackBonus" id="data.config.rollAttackBonus" {{checked data.config.rollAttackBonus}} data-dtype="boolean"/>
    </div>
    <label class="info span">{{localize "DCC.RollAttackBonusInfo"}}</label>
    <label for="data.config.rollABWithAttack">{{localize "DCC.RollABWithAttackConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.rollABWithAttack" id="data.config.rollABWithAttack" {{checked data.config.rollABWithAttack}} data-dtype="boolean"/>
    </div>

  </div>  
  <div class="form-group">
    <label for="data.config.computeAC">{{localize "DCC.ComputeACConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.computeAC" id="data.config.computeAC" {{checked data.config.computeAC}} data-dtype="boolean"/>
    </div>
    <label for="data.config.baseACAbility">{{localize "DCC.BaseACAbilityConfig"}}</label>
    <div class="form-fields">
      <select name="data.config.baseACAbility" id="data.config.baseACAbility">
        {{#select data.config.baseACAbility}}
        <option value="str">{{localize "DCC.AbilityStr"}}</option>
        <option value="agl">{{localize "DCC.AbilityAgl"}}</option>
        <option value="sta">{{localize "DCC.AbilitySta"}}</option>
        <option value="per">{{localize "DCC.AbilityPer"}}</option>
        <option value="int">{{localize "DCC.AbilityInt"}}</option>
        <option value="lck">{{localize "DCC.AbilityLck"}}</option>
        {{/select}}
      </select>
    </div>
    <label for="data.config.computeCheckPenalty">{{localize "DCC.ComputeCheckPenaltyConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.computeCheckPenalty" id="data.config.computeCheckPenalty" {{checked data.config.computeCheckPenalty}} data-dtype="boolean"/>
    </div>
    <label for="data.attributes.ac.checkPenalty">{{localize "DCC.CheckPenalty"}}</label>
    <div class="form-fields">
      <input type="text" name="data.attributes.ac.checkPenalty" id="data.attributes.ac.checkPenalty" value="{{numberFormat data.attributes.ac.checkPenalty decimals=0 sign=true}}" data-dtype="number"/>
    </div>
  </div>
  <div class="form-group">
    <label for="data.config.showMaxAbilities">{{localize "DCC.ShowMaxAbilitiesConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.showMaxAbilities" id="data.config.showMaxAbilities" {{checked data.config.showMaxAbilities}} data-dtype="boolean"/>
    </div>
    <label for="data.config.showMaxAbilities">{{localize "DCC.ShowBackstabConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.showBackstab" id="data.config.showBackstab" {{checked data.config.showBackstab}} data-dtype="boolean"/>
    </div>
  </div>
  {{/if}}
  <div class="form-group">
    <label for="data.config.showSpells">{{localize "DCC.ShowSpellsConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.showSpells" id="data.config.showSpells" {{checked data.config.showSpells}} data-dtype="boolean"/>
    </div>
    <label for="data.config.showSkills">{{localize "DCC.ShowSkillsConfig"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.showSkills" id="data.config.showSkills" {{checked data.config.showSkills}} data-dtype="boolean"/>
    </div>
  </div>
  <div class="form-group">
    <label for="data.config.sortInventory">{{localize "DCC.SortInventory"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.sortInventory" id="data.config.sortInventory" {{checked data.config.sortInventory}} data-dtype="boolean"/>
    </div>
    <label for="data.config.removeEmptyItems">{{localize "DCC.RemoveEmptyItems"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.removeEmptyItems" id="data.config.removeEmptyItems" {{checked data.config.removeEmptyItems}} data-dtype="boolean"/>
    </div>
    <label class="info span">{{localize "DCC.RemoveEmptyItemsInfo"}}</label>
  </div>
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "DCC.SaveSheetConfig"}}
    </button>
  </footer>
</form>
