<section class="roll-request-form grid-container grid-row-gap-8 grid-col-gap-8 grid-align-center p-8">
  <span class="grid-col-span-4 roll-request-characters-label"
        id="dcc-roll-request-characters-label">{{localize "DCC.RequestRollCharacters"}}</span>
  <div class="grid-col-span-8 roll-request-actors" role="group" aria-labelledby="dcc-roll-request-characters-label">
    <label class="roll-request-all">
      <input type="checkbox" name="allActors" id="dcc-roll-request-all"
             {{#if allSelected}}checked{{/if}} {{#unless hasActors}}disabled{{/unless}}>
      {{localize "DCC.RequestRollAll"}}
    </label>
    <div class="roll-request-actor-list" id="dcc-roll-request-actors">
      {{#each actors}}
        <label class="roll-request-actor">
          <input type="checkbox" name="actorIds" value="{{this.id}}" {{#if this.selected}}checked{{/if}}>
          {{this.name}}
        </label>
      {{/each}}
    </div>
  </div>

  <label class="grid-col-span-4" for="dcc-roll-request-check">{{localize "DCC.RequestRollCheck"}}</label>
  <select class="grid-col-span-8" name="check" id="dcc-roll-request-check">
    <optgroup label="{{localize 'DCC.Abilities'}}">
      {{#each checks.abilities}}
        <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </optgroup>
    {{#if checks.skills.length}}
      <optgroup label="{{localize 'DCC.Skills'}}">
        {{#each checks.skills}}
          <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </optgroup>
    {{/if}}
  </select>

  <label class="grid-col-span-4" for="dcc-roll-request-dc">{{localize "DCC.RequestRollDC"}}</label>
  <input class="grid-col-span-8" type="number" name="dc" id="dcc-roll-request-dc" value="{{dc}}"
         min="0" step="1" placeholder="{{localize 'DCC.RequestRollDCHint'}}">

  <button class="grid-col-span-12" type="submit" {{#unless canSubmit}}disabled{{/unless}}>
    <i class="fas fa-dice-d20" inert></i> {{localize "DCC.RequestRoll"}}
  </button>
</section>
