<form class="config-dialog" autocomplete="off">
  <label for="system.config.inheritActionDie">{{localize "DCC.InheritActionDie"}}</label>
  <input type="checkbox" name="system.config.inheritActionDie" id="system.config.inheritActionDie"
    {{checked system.config.inheritActionDie}} data-dtype="boolean"/>

  <label for="system.config.inheritSpellCheck">{{localize "DCC.InheritSpellCheck"}}</label>
  <input type="checkbox" name="system.config.inheritSpellCheck" id="system.config.inheritSpellCheck"
    {{checked system.config.inheritSpellCheck}} data-dtype="boolean"/>

  <label for="system.config.inheritCheckPenalty">{{localize "DCC.InheritCheckPenalty"}}</label>
  <input type="checkbox" name="system.config.inheritCheckPenalty" id="system.config.inheritCheckPenalty"
    {{checked system.config.inheritCheckPenalty}} data-dtype="boolean"/>

  <div class="group-separator"></div>

  <label for="system.config.castingMode" title="{{localize 'DCC.SpellCastingModeInfo'}}">{{localize "DCC.SpellCastingMode"}}</label>
  <select name="system.config.castingMode" id="system.config.castingMode" title="{{localize 'DCC.SpellCastingModeInfo'}}">
    {{selectOptions config.castingModes selected=system.config.castingMode localize=true}}
  </select>

  <label for="system.config.showManifestationTab" title="{{localize 'DCC.ShowManifestationTabInfo'}}">
    {{localize "DCC.ShowManifestationTabConfig"}}
  </label>
  <input type="checkbox" name="system.config.showManifestationTab" id="system.config.showManifestationTab"
    {{checked system.config.showManifesatation}} data-dtype="boolean"/>

  <label for="system.config.showMercurialTab" title="{{localize 'DCC.ShowMercurialTabInfo'}}">
    {{localize "DCC.ShowMercurialTabConfig"}}
  </label>
  <input type="checkbox" name="system.config.showMercurialTab" id="system.config.showMercurialTab"
    {{checked system.config.showMercurialTab}} data-dtype="boolean"/>

  <div class="group-separator"></div>

  <label for="system.results.table">{{localize "DCC.SpellResultTable"}}</label>
  <input type="text" name="system.results.table" id="system.results.table" value="{{system.results.table}}" data-dtype="String"/>

  <label for="system.results.collection">{{localize "DCC.SpellResultCompendium"}}</label>
  <input type="text" name="system.results.collection" id="system.results.collection"
         value="{{system.results.collection}}" data-dtype="String"/>

  <footer class="grid-col-span-2">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "DCC.SaveItemConfig"}}
    </button>
  </footer>
</form>
