<!-- Judge Description Tab -->
<section class="tab {{tabs.judge-description.id}} {{tabs.judge-description.cssClass}}" data-tab="judge-description" data-group="{{tabs.judge-description.group}}" data-tooltip="{{localize tabs.judge-description.tooltip}}">
  <div class="tab-body">
    <div class="grid-col-span-12">
      <div class="dark-title">{{localize "DCC.JudgeOnlyDescription"}}</div>
      <div class="description">
        {{editor judgeDescriptionHTML target="system.description.judge.value" engine="prosemirror" button=true
                 editable=editable}}
      </div>
    </div>
  </div>
</section>
