{{!-- Spell Details Tab --}}
<section class="tab {{tabs.spell.id}} {{tabs.spell.cssClass}}" data-tab="{{tabs.spell.id}}" data-group="{{tabs.spell.group}}">
  <div class="tab-body">
    <div class="grid-col-span-12 grid-tpl-max-auto mb-5">
      <label for="name">{{localize "DCC.Name"}}</label>
      <input id="name" name="name" value="{{document.name}}" placeholder="Name" autocomplete="off" size="25">
    </div>

    <div class="dark-border grid-col-span-6">
      <div class="dark-title mb-3">{{localize "DCC.SpellDetails"}}</div>
      <div class="box-inner grid-tpl-max-auto">
        <label for="system.level">{{localize "DCC.Level"}}:</label>
        <input type="text" id="system.level" name="system.level"
               value="{{numberFormat system.level decimals=0 sign=false}}"
               placeholder="1" data-dtype="Number"/>
        <label for="system.range">{{localize "DCC.SpellRange"}}:</label>
        <input type="text" name="system.range" id="system.range" value="{{system.range}}"
               placeholder="N/A" data-dtype="String"/>
        <label for="system.duration">{{localize "DCC.SpellDuration"}}:</label>
        <input type="text" name="system.duration" id="system.duration" value="{{system.duration}}"
               placeholder="N/A" data-dtype="String"/>
        <label for="system.castingTime" style="font-size: 11px;">{{localize "DCC.SpellCastingTime"}}:</label>
        <input type="text" name="system.castingTime" id="system.castingTime" value="{{system.castingTime}}"
               placeholder="N/A" data-dtype="String"/>
        <label for="system.save">{{localize "DCC.SpellSave"}}:</label>
        <input type="text" name="system.save" id="system.save" value="{{system.save}}"
               placeholder="N/A" data-dtype="String"/>
        <label for="system.page">{{localize "DCC.SpellPage"}}:</label>
        <input type="text" name="system.page" id="system.page"
               value="{{system.page}}"
               placeholder="N/A" data-dtype="String"/>
      </div>
    </div>

    <div class="dark-border grid-col-span-4">
      <div class="dark-title mb-3">{{localize "DCC.SpellCastingHeader"}}</div>
      <div class="box-inner grid-tpl-max-auto">
        <label for="system.spellCheck.die">{{localize "DCC.ActionDie"}}:</label>
        <input type="text" id="system.spellCheck.die" name="system.spellCheck.die"
               value="{{system.spellCheck.die}}"
          {{#if system.config.inheritActionDie}}
               title="{{localize 'DCC.InheritTooltip'}}"
               disabled
          {{/if}}
               placeholder="1d20" data-dtype="String"/>
        <label for="system.spellCheck.value">{{localize "DCC.SpellCheck"}}:</label>
        <input type="text" id="system.spellCheck.value" name="system.spellCheck.value"
               value="{{system.spellCheck.value}}"
          {{#if system.config.inheritSpellCheck}} title="{{localize 'DCC.InheritTooltip'}}" disabled {{/if}}
               placeholder="+0"
               data-dtype="String"
        />
        <label for="system.spellCheck.penalty" style="font-size: 11px;">{{localize "DCC.CheckPenalty"}}:</label>
        <input type="text" id="system.spellCheck.penalty" name="system.spellCheck.penalty" value="{{system.spellCheck.penalty}}"
          {{#if system.config.inheritCheckPenalty}} title="{{localize 'DCC.InheritTooltip'}}" disabled {{/if}}
               placeholder="-0"
               data-dtype="Number"
        />
      </div>
    </div>

    <div class="grid-col-span-2">
      <div class="dark-border" style="max-height: 85px;">
        <div class="dark-title">{{localize "DCC.Image"}}</div>
        <div class="box-inner" style="padding-top: 5px;">
          <img src="{{document.img}}" data-action="editImage" data-field="img" title="{{document.name}}" alt="{{document.name}}"/>
        </div>
      </div>

      <img src="systems/dcc/styles/images/SA-1-24-FCI-spots1-spell-book-and-skull-with-candle.webp"
           alt="Grimoire Art" height="58px" width="58px" style="opacity: 50%; margin: 4px 0 0 3px;"/>
    </div>

    <div class="dark-border grid-col-span-12" title="{{localize 'DCC.DescriptionTooltip'}}">
      <div class="dark-title">{{localize "DCC.DescriptionPreview"}}</div>
      <div class="box-inner description">
        {{{descriptionHTML}}}
      </div>
    </div>
  </div>
</section>
