<!-- Item Values -->
<div class="grid-col-span-12 box-border">
  <div class="box-title">{{localize "DCC.ItemValues"}}</div>
  <div class="box-inner">
    <div class="item-values">
      <div>
        <label for="system.weight">{{localize "DCC.Weight"}}</label>
        <input type="text" id="system.weight" name="system.weight" value="{{system.weight}}" data-dtype="Number">
      </div>
      <div>
        <label for="system.value.pp">{{localize "DCC.CurrencyPP"}}</label>
        <input type="text" id="system.value.pp" name="system.value.pp" value="{{system.value.pp}}" data-dtype="String"/>
        {{#if allowConversions}}
          <div class="conversions grid-just-center">
            <div class="rollable right-arrow-button icon-filter" data-currency="pp" data-action="convertDownward">&nbsp;</div>
          </div>
        {{/if}}
      </div>
      <div>
        <label for="system.value.ep">{{localize "DCC.CurrencyEP"}}</label>
        <input type="text" id="system.value.ep" name="system.value.ep" value="{{system.value.ep}}" data-dtype="String"/>
        {{#if allowConversions}}
          <div class="conversions grid-just-center">
            <div class="rollable left-arrow-button icon-filter" data-currency="ep" data-action="convertUpward">&nbsp;</div>
            <div class="rollable right-arrow-button icon-filter" data-currency="ep" data-action="convertDownward">&nbsp;</div>
          </div>
        {{/if}}
      </div>
      <div>
        <label for="system.value.gp">{{localize "DCC.CurrencyGP"}}</label>
        <input type="text" id="system.value.gp" name="system.value.gp" value="{{system.value.gp}}" data-dtype="String"/>
        {{#if allowConversions}}
          <div class="conversions grid-just-center">
            <div class="rollable left-arrow-button icon-filter" data-currency="gp" data-action="convertUpward">&nbsp;</div>
            <div class="rollable right-arrow-button icon-filter" data-currency="gp" data-action="convertDownward">&nbsp;</div>
          </div>
        {{/if}}
      </div>
      <div>
        <label for="system.value.sp">{{localize "DCC.CurrencySP"}}</label>
        <input type="text" id="system.value.sp" name="system.value.sp" value="{{system.value.sp}}" data-dtype="String"/>
        {{#if allowConversions}}
          <div class="conversions grid-just-center">
            <div class="rollable left-arrow-button icon-filter" data-currency="sp" data-action="convertUpward">&nbsp;</div>
            <div class="rollable right-arrow-button icon-filter" data-currency="sp" data-action="convertDownward">&nbsp;</div>
          </div>
        {{/if}}
      </div>
      <div>
        <label for="system.value.cp">{{localize "DCC.CurrencyCP"}}</label>
        <input type="text" id="system.value.cp" name="system.value.cp" value="{{system.value.cp}}" data-dtype="String"/>
        {{#if allowConversions}}
          <div class="conversions grid-just-center">
            <div class="rollable left-arrow-button icon-filter" data-currency="cp" data-action="convertUpward">&nbsp;</div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
