<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <div class="flexrow">
                <div class="item-name">
                    <h1 class="charname"><input id="name" name="name" type="text" value="{{item.name}}" placeholder="Name" autocomplete="off"/></h1>
                </div>
                <label class="item-type" for="name">{{localize item.typeString}}</label>
            </div>

            <div class="flexrow">
              <div class="resource flex1">
                <label class="resource-label" for="system.isCoins">{{localize "DCC.AsCoins"}}</label>
                <input type="checkbox" name="system.isCoins" id="system.isCoins"
                    {{checked system.isCoins}} data-dtype="Boolean"/>
              </div>
              <div class="resource flex1">
                <label class="resource-label">{{localize "DCC.Weight"}}</label>
                <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </header>

    <section class="sheet-body item treasure">
      <div class="value-row">
        {{#if allowResolve}}
        <div class="rollable roll-button">&nbsp;</div>
        {{/if}}
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencyPP"}}</label>
          <input type="text" name="system.value.pp" value="{{system.value.pp}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable right-arrow-button" data-currency="pp">&nbsp;</div>
          </div>
          {{/if}}
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencyEP"}}</label>
          <input type="text" name="system.value.ep" value="{{system.value.ep}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable left-arrow-button" data-currency="ep">&nbsp;</div>
            <div class="rollable right-arrow-button" data-currency="ep">&nbsp;</div>
          </div>
          {{/if}}
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencyGP"}}</label>
          <input type="text" name="system.value.gp" value="{{system.value.gp}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable left-arrow-button" data-currency="gp">&nbsp;</div>
            <div class="rollable right-arrow-button" data-currency="gp">&nbsp;</div>
          </div>
          {{/if}}
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencySP"}}</label>
          <input type="text" name="system.value.sp" value="{{system.value.sp}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable left-arrow-button" data-currency="sp">&nbsp;</div>
            <div class="rollable right-arrow-button" data-currency="sp">&nbsp;</div>
          </div>
          {{/if}}
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencyCP"}}</label>
          <input type="text" name="system.value.cp" value="{{system.value.cp}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable left-arrow-button" data-currency="cp">&nbsp;</div>
          </div>
          {{/if}}
        </div>
      </div>
      <div class="description">
        {{editor descriptionHTML target="system.description.value" button=true editable=editable}}
      </div>
    </section>
</form>
