<section class="tab {{tabs.equipment.id}} {{tabs.equipment.cssClass}}" data-group="{{tabs.equipment.group}}" data-tab="equipment">
  <div class="tab-body">
    <div class="grid-col-span-8 grid-tpl-max-auto mb-5">
      <label for="name">{{localize "DCC.Name"}}</label>
      <input id="name" name="name" value="{{item.name}}" placeholder="Name" autocomplete="off" size="25">
    </div>
    <div class="grid-col-span-4 grid-tpl-max-auto">
      <label for="system.quantity">{{localize "DCC.Quantity"}}</label>
      <input type="text" id="system.quantity" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
    </div>

    <div class="grid-col-span-12 grid-tpl-max-auto">
      <label for="system.description.summary">{{localize "DCC.Notes"}}</label>
      <input type="text" id="system.description.summary" name="system.description.summary"
             value="{{system.description.summary}}" data-dtype="String"/>
    </div>

    <div class="dark-border grid-col-span-9" title="{{localize 'DCC.DescriptionTooltip'}}">
      <div class="dark-title">{{localize "DCC.DescriptionPreview"}}</div>
      <div class="box-inner description">
        {{{descriptionHTML}}}
      </div>
    </div>
    <div class="dark-border grid-col-span-3" style="max-height: 127px;">
      <div class="dark-title">{{localize "DCC.Image"}}</div>
      <div class="p-5">
        <img src="{{document.img}}" data-action="editImage" data-field="img" title="{{document.name}}" alt="{{document.name}}"/>
      </div>
    </div>

    {{> systems/dcc/templates/item-sheet-partial-values.html }}

    <img src="systems/dcc/styles/images/SA-4-31-FCI-spots-4-Treasure-skull-magic-sword.webp" style="justify-self: center;"
         class="grid-col-span-12" width="248" height="125">
  </div>
</section>
