{{!-- Manifestation Tab --}}
<section class="tab {{tabs.manifestation.id}}{{tabs.manifestation.cssClass}}"
         data-tab="{{tabs.manifestation.id}}"
         data-group="{{tabs.manifestation.group}}">
  <div class="tab-body">
    <div class="grid-col-span-3 grid-tpl-max-auto">
      <label class="manifestation-roll rollable grid-tpl-max-auto" for="system.manifestation.value"
             data-action="rollManifestation">
        <i class="fas fa-dice-d20">&nbsp;</i> {{localize "DCC.ManifestationValue"}}
      </label>
      <input name="system.manifestation.value" id="system.manifestation.value"
             value="{{system.manifestation.value}}" data-dtype="Number"/>
    </div>
    <div class="grid-col-span-3">&nbsp;</div>
    <div class="grid-col-span-3 grid-tpl-max-auto">
      <label class="grid-tpl-max-auto" for="system.manifestation.displayInChat">
        {{localize "DCC.DisplayInChat"}}
      </label>
      <input type="checkbox" name="system.manifestation.displayInChat" id="system.manifestation.displayInChat"
        {{checked system.manifestation.displayInChat}} data-dtype="Boolean"
             style="height: 17px; margin-left: 5px"
      />
    </div>
    <div class="grid-col-span-12">
      <div class="dark-title">{{localize "DCC.Manifestation"}}</div>
      {{editor manifestationHTML target="system.manifestation.description" engine="prosemirror" button=true
               editable=editable}}
    </div>
  </div>
</section>
