<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <div class="flexrow">
                <div class="item-name">
                    <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
                </div>
                <label class="item-type" for="name">{{localize item.data.typeString}}</label>
            </div>

            <div class="flexrow">
              <div class="resource flex1">
                <label class="resource-label" for="data.isCoins">{{localize "DCC.AsCoins"}}</label>
                <input type="checkbox" name="data.isCoins" id="data.isCoins"
                    {{checked data.isCoins}} data-dtype="Boolean"/>
              </div>
            </div>
        </div>
    </header>

    <section class="sheet-body item treasure">
      <div class="value-row">
        {{#if allowResolve}}
        <div class="rollable roll-button">&nbsp;</div>
        {{/if}}
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencyPP"}}</label>
          <input type="text" name="data.value.pp" value="{{data.value.pp}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable right-arrow-button" data-currency="pp">&nbsp;</div>
          </div>
          {{/if}}
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencyEP"}}</label>
          <input type="text" name="data.value.ep" value="{{data.value.ep}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable left-arrow-button" data-currency="ep">&nbsp;</div>
            <div class="rollable right-arrow-button" data-currency="ep">&nbsp;</div>
          </div>
          {{/if}}
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencyGP"}}</label>
          <input type="text" name="data.value.gp" value="{{data.value.gp}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable left-arrow-button" data-currency="gp">&nbsp;</div>
            <div class="rollable right-arrow-button" data-currency="gp">&nbsp;</div>
          </div>
          {{/if}}
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencySP"}}</label>
          <input type="text" name="data.value.sp" value="{{data.value.sp}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable left-arrow-button" data-currency="sp">&nbsp;</div>
            <div class="rollable right-arrow-button" data-currency="sp">&nbsp;</div>
          </div>
          {{/if}}
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DCC.CurrencyCP"}}</label>
          <input type="text" name="data.value.cp" value="{{data.value.cp}}" data-dtype="String"/>
          {{#if allowConversions}}
          <div class="conversions">
            <div class="rollable left-arrow-button" data-currency="cp">&nbsp;</div>
          </div>
          {{/if}}
        </div>
      </div>
      <h1 class="description-heading">{{localize "DCC.Description"}}</h1>
      <div class="description">
        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
