<!-- Judge Description Tab -->
<section class="tab {{tabs.judge-description.id}} {{tabs.judge-description.cssClass}}" id="{{partId}}-judge-description" data-tab="{{tabs.judge-description.id}}" data-group="{{tabs.judge-description.group}}" data-tooltip="{{localize tabs.judge-description.tooltip}}">
  <div class="tab-body">
    <div class="grid-col-span-12">
      <div class="box-title">{{localize "DCC.JudgeOnlyDescription"}}</div>
      <div class="description">
        {{#if editable}}
          <prose-mirror
            name="system.description.judge.value"
            button="true"
            editable="{{editable}}"
            toggled="false"
            value="{{system.description.judge.value}}">
            {{{judgeDescriptionHTML}}}
          </prose-mirror>
        {{else}}
          {{{judgeDescriptionHTML}}}
        {{/if}}
      </div>
    </div>
  </div>
</section>
