<section class="tab {{tabs.levelChaotic.id}} {{tabs.levelChaotic.cssClass}} level-alignment-tab" id="levelChaotic" data-tab="{{tabs.levelChaotic.id}}"
         data-group="{{tabs.levelChaotic.group}}" data-tooltip="{{localize tabs.levelChaotic.tooltip}}">

  <div class="tab-body level-tab-body">
    <!-- Level data spans full width (12 columns) -->
    <div class="box-border level-data-section grid-col-span-12">
      <label class="box-title pt-2" for="system.levelDataChaotic">{{localize "DCC.LevelData"}} - {{localize "DCC.AlignmentC"}}</label>
      <textarea id="system.levelDataChaotic" name="system.levelDataChaotic" class="level-data-textarea">{{system.levelDataChaotic}}</textarea>
    </div>
  </div>
</section>
