<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <div class="flexrow">
                <div class="item-name">
                    <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
                </div>
                <label class="item-type" for="name">{{localize item.typeString}}</label>
            </div>

            <div class="flexrow">
              <div class="resource flex2">
                <label class="resource-label" for="system.toHit">{{localize "DCC.WeaponPropertiesToHit"}}</label>
                <div class="flexrow">
                  <input type="text" name="system.actionDie" class="flex1"
                         value="{{system.actionDie}}"
                         {{#if system.config.inheritActionDie}}
                         title="{{localize 'DCC.InheritTooltip'}}"
                         disabled
                         {{/if}}
                         placeholder="1d20" data-dtype="String"/>
                  <input type="text" name="system.toHit" class="flex1"
                         value="{{system.toHit}}"
                         placeholder="+0" data-dtype="String"/>
                </div>
              </div>    
              <div class="resource flex1">
                <label class="resource-label" for="system.critRange">{{localize "DCC.WeaponPropertiesCritOn"}}</label>
                <input type="text" name="system.critRange"
                       value="{{system.critRange}}"
                       {{#if system.config.inheritCritRange}}
                       title="{{localize 'DCC.InheritTooltip'}}"
                       disabled
                       {{/if}}
                       placeholder="20" data-dtype="Number"/>
              </div>
              <div class="resource flex2">
                <label class="resource-label" for="system.damage">{{localize "DCC.WeaponPropertiesDamage"}}</label>
                <input type="text" name="system.damage"
                       value="{{system.damage}}"
                       placeholder="1d3" data-dtype="String"/>
              </div>
              <div class="resource flex1">
                <label class="resource-label">{{localize "DCC.Weight"}}</label>
                  <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </header>

    <section class="sheet-body weapon">
        <div class="weapon-header-extras">
          <div class="resource">
            <label class="resource-label" for="system.melee">{{localize "DCC.WeaponPropertiesMelee"}}</label>
            <input type="checkbox" name="system.melee" data-dtype="Boolean" {{checked system.melee}}/>
          </div>
          <div class="resource">
            <label class="resource-label" for="system.range">{{localize "DCC.WeaponPropertiesRange"}}</label>
            <input type="text" name="system.range" value="{{system.range}}"
                   {{#if system.melee}}
                   title="{{localize "DCC.WeaponPropertiesRangeTooltip"}}"
                   disabled
                   {{/if}}
                   placeholder="" data-dtype="String"/>
          </div>
          <div class="resource">
            <label class="resource-label" for="system.twoHanded">{{localize "DCC.WeaponPropertiesTwoHanded"}}</label>
            <input type="checkbox" name="system.twoHanded" data-dtype="Boolean"
                   {{checked system.twoHanded}}/>
          </div>
          <div class="resource">
            <label class="resource-label" for="system.backstab">{{localize "DCC.WeaponPropertiesBackstab"}}</label>
            <input type="checkbox" name="system.backstab" data-dtype="Boolean"
                   {{checked system.backstab}}/>
          </div>
          <div class="resource">
            <label class="resource-label" for="system.backstabDamage">{{localize "DCC.WeaponPropertiesBackstabDamage"}}</label>
            <input type="text" name="system.backstabDamage" value="{{system.backstabDamage}}"
                   {{#if system.backstab}}{{else}}
                   title="{{localize "DCC.WeaponPropertiesBackstabDamageTooltip"}}"
                   disabled
                   {{/if}}
                   placeholder="{{system.damage}}" data-dtype="String"/>
          </div>
        </div>
        <div class="value-row">
          {{#if allowResolve}}
          <div class="rollable roll-button">&nbsp;</div>
          {{/if}}
          <div class="resource">
            <label class="resource-label">{{localize "DCC.CurrencyPP"}}</label>
            <input type="text" name="system.value.pp" value="{{system.value.pp}}" data-dtype="String"/>
            {{#if allowConversions}}
            <div class="conversions">
              <div class="rollable right-arrow-button" data-currency="pp">&nbsp;</div>
            </div>
            {{/if}}
          </div>
          <div class="resource">
            <label class="resource-label">{{localize "DCC.CurrencyEP"}}</label>
            <input type="text" name="system.value.ep" value="{{system.value.ep}}" data-dtype="String"/>
            {{#if allowConversions}}
            <div class="conversions">
              <div class="rollable left-arrow-button" data-currency="ep">&nbsp;</div>
              <div class="rollable right-arrow-button" data-currency="ep">&nbsp;</div>
            </div>
            {{/if}}
          </div>
          <div class="resource">
            <label class="resource-label">{{localize "DCC.CurrencyGP"}}</label>
            <input type="text" name="system.value.gp" value="{{system.value.gp}}" data-dtype="String"/>
            {{#if allowConversions}}
            <div class="conversions">
              <div class="rollable left-arrow-button" data-currency="gp">&nbsp;</div>
              <div class="rollable right-arrow-button" data-currency="gp">&nbsp;</div>
            </div>
            {{/if}}
          </div>
          <div class="resource">
            <label class="resource-label">{{localize "DCC.CurrencySP"}}</label>
            <input type="text" name="system.value.sp" value="{{system.value.sp}}" data-dtype="String"/>
            {{#if allowConversions}}
            <div class="conversions">
              <div class="rollable left-arrow-button" data-currency="sp">&nbsp;</div>
              <div class="rollable right-arrow-button" data-currency="sp">&nbsp;</div>
            </div>
            {{/if}}
          </div>
          <div class="resource">
            <label class="resource-label">{{localize "DCC.CurrencyCP"}}</label>
            <input type="text" name="system.value.cp" value="{{system.value.cp}}" data-dtype="String"/>
            {{#if allowConversions}}
            <div class="conversions">
              <div class="rollable left-arrow-button" data-currency="cp">&nbsp;</div>
            </div>
            {{/if}}
          </div>
        </div>
        <div class="weapon-summary">
          <label class="resource-label" for="system.description.summary">{{localize "DCC.ItemSummary"}}</label>
          <input type="text" name="system.description.summary" value="{{system.description.summary}}" data-dtype="String"/>
        </div>
        <div class="description">
          {{editor descriptionHTML target="system.description.value" button=true editable=editable}}
        </div>
    </section>
</form>
