<section class="tab {{tabs.weapon.id}} {{tabs.weapon.cssClass}}" id="{{partId}}-weapon" data-group="{{tabs.weapon.group}}" data-tab="{{tabs.weapon.id}}">
  <div class="tab-body grid-align-center">
    <!-- Name and Notes -->
    <div class="grid-col-span-6 grid-tpl-max-auto-tight mb-5">
      <label for="name">{{localize "DCC.Name"}}</label>
      <input id="name" name="name" value="{{document.name}}" placeholder="Name" autocomplete="off" size="25">
    </div>
    <div class="grid-col-span-6 grid-tpl-max-auto-tight mb-5">
      <label for="system.description.summary">{{localize "DCC.Notes"}}</label>
      <input id="system.description.summary" name="system.description.summary"
             value="{{system.description.summary}}" size="25">
    </div>

    <!-- To Hit -->
    <div class="box-border grid-col-span-6">
      <div class="box-title">{{localize "DCC.ToHit"}}</div>
      <div class="grid-align-center p-5">
        <div class="grid-tpl-max-auto-tight grid-col-gap-8 grid-align-center">
          <label class="group-indent" for="system.toHit" title="{{localize 'DCC.ToHit'}}">
            {{localize "DCC.ToHit"}}
          </label>
          <input name="system.toHit" id="system.toHit"
                 value="{{system.toHit}}" data-dtype="string"/>

          <label class="group-indent" for="system.actionDie" title="{{localize 'DCC.ActionDie'}}">
            {{localize "DCC.ActionDie"}} {{localize "DCC.Override"}}
          </label>
          <input name="system.config.actionDieOverride" id="system.config.actionDieOverride"
                 value="{{system.config.actionDieOverride}}" title="{{localize 'DCC.OverrideHint'}}" data-dtype="string"/>
        </div>
      </div>
    </div>

    <!-- Damage -->
    <div class="box-border grid-col-span-6">
      <div class="box-title">{{localize "DCC.Damage"}}</div>
      <div class="grid-align-center p-5">


        <div class="grid-tpl-max-auto-tight grid-col-gap-8">
          <label class="group-heading" for="system.damage">
            {{localize "DCC.Damage"}}
          </label>
          <input id="system.damage" name="system.damage" value="{{system.damage}}"
                 size="4" data-dtype="String"/>
        </div>


      </div>
    </div>

    <!-- Initiative -->
    <div class="box-border grid-col-span-6 grid-row-span-2">
      <div class="box-title">{{localize "DCC.Initiative"}}</div>
      <div class="p-5 grid-align-center grid-tpl-max-auto-tight grid-col-gap-8">
        <div class="group-heading"> {{localize "DCC.InitiativeDie"}}</div>
        <input id="system.initiativeDie" name="system.initiativeDie" value="{{system.initiativeDie}}" data-dtype="String"/>

        <label class="" for="system.initiativeBonus">{{localize "DCC.InitiativeBonus"}}</label>
        <input id="system.initiativeBonus" name="system.initiativeBonus"
               value="{{system.initiativeBonus}}" data-dtype="String"/>
      </div>
    </div>

    <!-- Critical Hits -->
    <div class="box-border grid-col-span-6">
      <div class="box-title">{{localize "DCC.Critical"}}</div>
      <div class="p-5 grid-tpl-max-auto grid-col-gap-8 grid-align-center">
        <div class="value-display grid-col-span-2" title="{{localize 'DCC.DisplayValueHint'}}">
          {{localize "DCC.Crit"}} {{localize "DCC.on"}} {{system.critRange}}, {{localize "DCC.Roll"}}
          {{system.critDie}}{{system.lck.mod}} {{localize "DCC.on"}} {{localize "DCC.Table"}} {{system.critTable}}
        </div>

        <label for="system.config.critRangeOverride">{{localize "DCC.OverrideRange"}}</label>
        <select name="system.config.critRangeOverride" id="system.config.critRangeOverride">
          <option value=""></option>
          {{selectOptions config.critRanges selected=system.config.critRangeOverride}}
        </select>

        <label for="system.config.critDieOverride">{{localize "DCC.OverrideDie"}}</label>
        <input id="system.config.critDieOverride" name="system.config.critDieOverride" size="3"
               value="{{system.config.critDieOverride}}" data-dtype="String"/>

        <label for="system.config.critTableOverride">{{localize "DCC.OverrideTable"}}</label>
        <input id="system.config.critTableOverride" name="system.config.critTableOverride" size="3"
               value="{{system.config.critTableOverride}}" data-dtype="String"/>
      </div>
    </div>

    <!-- Attack Distance -->
    <div class="box-border grid-col-span-6 grid-align-center">
      <div class="box-title">{{localize "DCC.AttackDistance"}}</div>
      <div class="p-5 grid-tpl-max-auto-tight grid-col-gap-8 grid-align-center">
        <div class="grid-tpl-max-auto-tight grid-col-gap-8 grid-align-center">
          <input type="checkbox" id="system.melee" name="system.melee" data-dtype="Boolean" {{checked system.melee}}/>
          <label for="system.melee">{{localize "DCC.WeaponPropertiesMelee"}}</label>
        </div>

        <div class="grid-tpl-max-auto-tight  grid-col-gap-8  grid-align-center {{#if system.melee}}disabled{{/if}}">
          <label for="system.range" title="{{localize 'DCC.WeaponPropertiesRangeTooltip'}}">
            {{localize "DCC.WeaponPropertiesRange"}}</label>
          <input id="system.range" name="system.range" value="{{system.range}}" size="10"
                 title="{{localize 'DCC.WeaponPropertiesRangeTooltip'}}"
                 placeholder="" data-dtype="String" {{#if system.melee}}readonly{{/if}}/>
        </div>
      </div>
    </div>
  </div>
</section>
