<section class="tab {{tabs.armor.id}} {{tabs.armor.cssClass}}" id="{{partId}}-armor" data-tab="{{tabs.armor.id}}" data-group="{{tabs.armor.group}}"
         data-tooltip="{{localize tabs.armor.tooltip}}">
  <div class="tab-body">
    <div class="grid-col-span-6 grid-tpl-max-auto" style="margin-bottom: 5px;">
      <label for="name">{{localize "DCC.Name"}}</label>
      <input id="name" name="name" value="{{document.name}}" placeholder="Name" autocomplete="off" size="25">
    </div>

    <div class="grid-col-span-6 grid-tpl-max-auto">
      <label for="system.description.summary">{{localize "DCC.Notes"}}</label>
      <input type="text" id="system.description.summary" name="system.description.summary" value="{{system.description.summary}}"
             data-dtype="String"/>
    </div>

    <div class="box-border grid-col-span-6">
      <div class="box-title">{{localize "DCC.ArmorSettings"}}</div>
      <div class="box-inner grid-tpl-max-auto mt-5 grid-col-gap-8 grid-align-center">
        <label for="system.equipped">{{localize "DCC.ItemPropertiesEquipped"}}</label>
        <input type="checkbox" id="system.equipped" name="system.equipped"
               data-dtype="Boolean" {{checked system.equipped}}/>
      </div>
    </div>

    <div class="box-border grid-col-span-6">
      <div class="box-title">{{localize "DCC.ArmorDetails"}}</div>
      <div class="box-inner grid-tpl-max-auto grid-col-gap-8">
        <label for="system.acBonus">{{localize "DCC.ArmorPropertiesACBonus"}}</label>
        <input id="system.acBonus" name="system.acBonus"
               value="{{numberFormat system.acBonus decimals=0 sign=true}}"
               placeholder="+0" data-dtype="Number"/>
        <label for="system.checkPenalty">{{localize "DCC.ArmorPropertiesCheckPenalty"}}</label>
        <input id="system.checkPenalty" name="system.checkPenalty"
               value="{{numberFormat system.checkPenalty decimals=0 sign=true}}"
               placeholder="-0" data-dtype="Number"/>
        <label for="system.fumbleDie">{{localize "DCC.ArmorPropertiesFumbleDie"}}</label>
        <input id="system.fumbleDie" name="system.fumbleDie" value="{{system.fumbleDie}}"
               placeholder="1d4" data-dtype="String"/>
        <label for="system.speed">{{localize "DCC.ArmorPropertiesSpeed"}}</label>
        <input id="system.speed" name="system.speed" value="{{distanceFormat system.speed}}"
               placeholder="-0'" data-dtype="String"/>
      </div>
    </div>

    {{> systems/dcc/templates/item-sheet-partial-values.html }}


    <div class="box-border grid-col-span-9" title="{{localize 'DCC.DescriptionTooltip'}}">
      <div class="box-title">{{localize "DCC.DescriptionPreview"}}</div>
      <div class="box-inner">
        <div class="description">
          {{{descriptionHTML}}}
        </div>
      </div>
    </div>

    <div class="box-border grid-col-span-3" style="max-height: 126px;">
      <div class="box-title">{{localize "DCC.Image"}}</div>
      <div class="box-inner" style="padding-top: 5px;">
        <img src="{{document.img}}" data-action="editImage" data-field="img" title="{{document.name}}" alt="{{document.name}}"/>
      </div>
    </div>

    <img src="systems/dcc/styles/images/FCI-spots-8-7-Dragon-Tail-Ornament.webp"
         style="justify-self: center;"
         alt=""
         class="grid-col-span-12 background-art-filter"
         width="450" height="20">

  </div>
</section>
