<!-- Description Tab -->
<section class="tab {{tabs.description.id}} {{tabs.description.cssClass}}" data-group="{{tabs.description.group}}" data-tab="description">
  <div class="tab-body">
    <div class="grid-col-span-12">
      <div class="dark-title">{{localize "DCC.Description"}}</div>
      <div class="description">
        {{#if editable}}
          <prose-mirror
            name="system.description.value"
            button="true"
            editable="{{editable}}"
            toggled="false"
            value="{{system.description.value}}">
            {{{descriptionHTML}}}
          </prose-mirror>
        {{else}}
          {{{descriptionHTML}}}
        {{/if}}
      </div>
    </div>
  </div>
</section>
