<section class="tab {{tabs.levelLawful.id}} {{tabs.levelLawful.cssClass}} level-alignment-tab" id="{{partId}}-levelLawful" data-tab="{{tabs.levelLawful.id}}"
         data-group="{{tabs.levelLawful.group}}" data-tooltip="{{localize tabs.levelLawful.tooltip}}">

  <div class="tab-body level-tab-body">
    <!-- Level data spans full width (12 columns) -->
    <div class="box-border level-data-section grid-col-span-12">
      <label class="box-title pt-2" for="system.levelDataLawful">{{localize "DCC.LevelData"}} - {{localize "DCC.AlignmentL"}}</label>
      <textarea id="system.levelDataLawful" name="system.levelDataLawful" class="level-data-textarea">{{system.levelDataLawful}}</textarea>
    </div>
  </div>
</section>
