<label class="term-label" for="term-{{index}}">{{label}}</label>
<input class="term-field" name="term-{{index}}" id="term-{{index}}" placeholder="{{formula}}" value="{{formula}}"/>
<div class="term-controls button-row">
  <div class="button-stack">
    <button data-action="modifyBonus" class="flat-button" data-term="{{index}}" data-mod="+1">{{localize 'DCC.RollModifierAddBonus'}}</button>
    <button data-action="modifyBonus" class="flat-button" data-term="{{index}}" data-mod="-1">{{localize 'DCC.RollModifierSubBonus'}}</button>
  </div>
  <button data-action="resetTerm" class="flat-button" data-term="{{index}}">{{localize 'DCC.RollModifierReset'}}</button>
</div>
