<label class="term-label" for="term-{{index}}">{{label}}</label>
<input class="term-field" name="term-{{index}}" id="term-{{index}}" placeholder="{{formula}}" value="{{formula}}"/>
<div class="term-controls button-row">
  <div class="button-stack">
    <label>{{localize 'DCC.AbilityStrShort'}}</label>
    <button data-action="modifySpellburn" class="flat-button" data-term="{{index}}" data-mod="+1" data-stat="str">{{localize 'DCC.RollModifierAddBonus'}}</button>
    <input class="mb-8 mt-5" id="str" value="{{str}}" data-max="{{str}}"/>
    <button data-action="modifySpellburn" class="flat-button" data-term="{{index}}" data-mod="-1" data-stat="str">{{localize 'DCC.RollModifierSubBonus'}}</button>
  </div>
  <div class="button-stack">
    <label>{{localize 'DCC.AbilityAglShort'}}</label>
    <button data-action="modifySpellburn" class="flat-button" data-term="{{index}}" data-mod="+1" data-stat="agl">{{localize 'DCC.RollModifierAddBonus'}}</button>
    <input class="mb-8 mt-5" id="agl" value="{{agl}}" data-max="{{agl}}"/>
    <button data-action="modifySpellburn" class="flat-button" data-term="{{index}}" data-mod="-1" data-stat="agl">{{localize 'DCC.RollModifierSubBonus'}}</button>
  </div>
  <div class="button-stack">
    <label>{{localize 'DCC.AbilityStaShort'}}</label>
    <button data-action="modifySpellburn" class="flat-button" data-term="{{index}}" data-mod="+1" data-stat="sta">{{localize 'DCC.RollModifierAddBonus'}}</button>
    <input class="mb-8 mt-5" id="sta" value="{{sta}}" data-max="{{sta}}"/>
    <button data-action="modifySpellburn" class="flat-button" data-term="{{index}}" data-mod="-1" data-stat="sta">{{localize 'DCC.RollModifierSubBonus'}}</button>
  </div>
</div>
