<form class="sheet-config" autocomplete="off" onsubmit="event.preventDefault();">

  {{!-- Tab Navigation --}}
  <nav class="config-tabs tabs" data-group="primary">
    <a class="item" data-tab="this-sheet">{{object.name}} {{localize "Sheet"}}</label></a>
    <a class="item" data-tab="default-sheet">{{localize "Default"}}</label></a>
  </nav>

  <section class="config-body">
    <div class="tab" data-group="primary" data-tab="this-sheet">
      <div class="form-group">
        <label>{{localize "SHEETS.ThisSheet"}}</label>
        <select name="sheetClass">
          {{#select sheetClass}}
          <option value="">{{localize "Default"}}</option>
          {{#each sheetClasses as |cls|}}
          <option value="{{cls}}">{{cls}}</option>
          {{/each}}
          {{/select}}
        </select>
        <p class="notes">{{localize "SHEETS.EntitySheetHint"}}</p>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="default-sheet">
      <div class="form-group">
        <label>{{localize "Default"}} <strong>{{type}}</strong> {{localize "Sheet"}}</label>
        <select name="defaultClass" {{#unless isGM}}disabled{{/unless}}>
          {{#select defaultClass}}
          {{#each sheetClasses as |cls|}}
          <option value="{{cls}}">{{cls}}</option>
          {{/each}}
          {{/select}}
        </select>
        <p class="notes">{{localize "SHEETS.TypeSheetHint"}}</p>
      </div>
    </div>

    <button type="submit" name="submit">
      <i class="fas fa-save"></i> {{localize "SHEETS.Save"}}
    </button>
  </section>
  </div>
