.grid-align-center {
  display: grid;
  align-items: center;
}

.grid-align-just-center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-col-gap-5 {
  column-gap: 5px;
}

.grid-col-gap-8 {
  column-gap: 8px;
}

.grid-col-span-1 {
  grid-column-end: span 1;
}

.grid-col-span-2 {
  grid-column-end: span 2;
}

.grid-col-span-3 {
  grid-column-end: span 3;
}

.grid-col-span-4 {
  grid-column-end: span 4;
}

.grid-col-span-5 {
  grid-column-end: span 5;
}

.grid-col-span-6 {
  grid-column-end: span 6;
}

.grid-col-span-7 {
  grid-column-end: span 7;
}

.grid-col-span-8 {
  grid-column-end: span 8;
}

.grid-col-span-9 {
  grid-column-end: span 9;
}

.grid-col-span-10 {
  grid-column-end: span 10;
}

.grid-col-span-11 {
  grid-column-end: span 11;
}

.grid-col-span-12 {
  grid-column-end: span 12;
}

.grid-just-center {
  display: grid;
  justify-items: center;
}

.grid-row-gap-3 {
  display: grid;
  grid-row-gap: 3px;
}

.grid-row-gap-5 {
  display: grid;
  grid-row-gap: 5px;
}

.grid-row-gap-8 {
  display: grid;
  grid-row-gap: 8px;
}

.grid-row-span-2 {
  grid-row-end: span 2;
}

.grid-tpl-two {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.grid-tpl-max {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.grid-tpl-max-10 {
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: max-content 10%;
}

.grid-tpl-max-25 {
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: max-content 25%;
}

.grid-tpl-max-auto {
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: max-content minmax(0, 1fr);
}

.grid-tpl-max-auto-tight {
  display: grid;
  grid-row-gap: 3px;
  grid-template-columns: max-content minmax(0, 1fr);
}

.h-100 {
  height: 100%;
}

.h-100-19 {
  height: calc(100% - 19px);
}

.m-5 {
  margin: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mr-3 {
  margin-right: 3px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-8 {
  margin-top: 8px;
}

.p-3 {
  padding: 3px;
}

.p-5 {
  padding: 5px;
}

.p-8 {
  padding: 8px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-8 {
  padding-top: 8px;
}