/* ----------------------------------------- */
/*  Journal Styles
/* ----------------------------------------- */
.journal-sheet h1:not(.window-title) {
  font-family: var(--system-heading-font), serif;
  line-height: 1.3em;
  color: var(--system-secondary-text);
}

.journal-sheet h2 {
  font-family: var(--system-heading-font), serif;
  line-height: 1.5em;
  color: var(--system-secondary-text);
}

.journal-sheet h3 {
  font-family: var(--system-heading-font), serif;
  line-height: 1.2em;
}

.journal-sheet h4:not(.window-title) {
  font-family: var(--system-heading-font), serif;
  line-height: 1.1em;
}

.journal-sheet input[name='name'] {
  font-family: var(--system-heading-font), serif;
}

.journal-sheet div.editor-content {
  font-family: var(--system-data-font), serif;
}

.journal-sheet .journal-page-content {
  font-family: var(--system-data-font), serif;
}

.journal-sheet blockquote {
  font-family: var(--system-data-font), serif;
  font-size: larger;
}

.journal-entry {
  table th,
  table td {
    padding: 5px;
  }

  table tr td:first-child {
    padding-left: 8px;
  }

  .journal-entry-content {
    background-image: var(--system-background);
    color: var(--system-primary-color);
    font-size: larger;

    .content-link {
      background: var(--system-light-bg);
      color: var(--system-primary-color);
      padding: 2px;
      margin-right: 2px;
      line-height: 30px;

      > i {
        color: var(--system-primary-color);
      }
    }
  }

  .journal-entry-page {
    li p {
      margin-bottom: clamp(0.7em, 1vw, 0.8em);
      margin-top: 0;
    }

    p {
      margin-bottom: clamp(0.7em, 1.8vw, 1.3em);
      margin-top: 0;
    }


    table td p,
    table th p {
      padding: 5px;
      margin-bottom: 0;
    }
  }

}

.journal-entry-page,
.editor-content {
  .sidebar {
    border: var(--system-frame-border);
    padding: 0.5em;
    margin: 0.5em 0;
    background: var(--system-value-display-background-color);
    overflow: hidden;

    h4 {
      font-family: var(--system-heading-font), serif;
      font-size: 1.3em;
      text-align: center;
      color: var(--system-primary-color);
      margin: 0.3em 0;
    }
  }
}

