.grid,
.grid-2col {
  display: grid;
  gap: 10px;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  align-items: center;
  border: 1px solid #999;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

/* ----------------------------------------- */
/*  Globals                                  */
/* ----------------------------------------- */
@font-face {
  font-family: "Cooper Black";
  src: url("fonts/Cooper.otf") format("otf");
}
@font-face {
  font-family: "Book Antiqua";
  src: url("fonts/Book-Antiqua.otf");
}
@font-face {
  font-family: "DuvallSmallCaps";
  src: url("fonts/DuvallSmallCaps.otf");
}
/* Common style elements */
.dcc .window-content {
  font-family: "Book Antiqua", "Palatino Linotype", serif;
  height: 100%;
  padding: 0 5px 0 5px;
}

.dcc .window-content label {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
}

.dcc .flex-padding {
  flex: 1 0 0;
  margin: 0;
}

:root {
  --dark-bg: url("images/denim.png");
  --dark-border: 4px solid var(--dark-color);
  --dark-color: rgba(0, 0, 0, 0.75);
  --light-color: rgba(255, 255, 255, 0.87);
  --medium-color: rgba(0, 0, 0, 0.3);
  --data-font: "Book Antiqua", serif;
  --label-font: "Cooper Black", serif;
}

/* ----------------------------------------- */
/*  Headings
/* ----------------------------------------- */
.journal-sheet h1 {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  line-height: 1.3em;
}

.journal-sheet h2 {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  line-height: 1.5em;
}

.journal-sheet form input[name=name] {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
}

.journal-sheet div.editor-content {
  font-family: "Book Antiqua", "Palatino Linotype", serif;
}

/* ----------------------------------------- */
/*  Rollable                                 */
/* ----------------------------------------- */
.dcc .rollable:hover {
  color: #000;
  cursor: pointer;
  text-shadow: 0 0 10px red;
}

/* ----------------------------------------- */
/*  Actor Sheet                              */
/* ----------------------------------------- */
.dcc.sheet.actor {
  min-height: 633px;
  min-width: 533px;
}

.dcc .editor,
.dcc .editor-content {
  height: 100%;
}

.choose-class-select {
  font-size: 1.2rem;
  width: 100%;
}

/* ----------------------------------------- */
/*  Sheet Header                             */
/* ----------------------------------------- */
.dcc .sheet-header {
  justify-content: flex-start;
  margin-bottom: 10px;
  overflow: hidden;
}

.dcc .sheet-header .profile-div {
  align-items: center;
  display: flex;
  flex: 0 0 100px;
  margin: 5px 10px 0 0;
}

.dcc .sheet-header .profile-div .profile-img {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  max-width: 100px;
  width: auto;
}

.dcc .sheet-header h1.charname {
  border-bottom: 0;
  flex: 0 0 100%;
  height: 50px;
  margin: 5px 0;
  padding: 0;
}

.dcc .sheet-header .upper-level div.charname {
  flex: 0 0 100%;
}

.dcc .sheet-header .upper-level h1.charname {
  flex: 1 0 75%;
}

.dcc .sheet-header h1.charname input {
  height: 100%;
  margin: 0;
  width: 100%;
}

.dcc .sheet-header .upper-level div.level {
  flex: 1 0 25%;
  padding: 0 0 0 7px;
}

.dcc .sheet-header .upper-level div.level input {
  text-align: center;
}

.dcc .alignment {
  flex: 0 0 10%;
  margin-left: 10px;
  text-align: center;
}

.dcc .alignment select {
  font-family: inherit;
  height: 26px;
  width: 90px;
}

.dcc .title input {
  width: 100%;
}

.dcc .title label {
  margin: 0 0 0 4px;
}

.dcc .occupation input {
  width: 100%;
}

.dcc .occupation label {
  margin: 0 0 0 4px;
}

.dcc.actor.sheet .character-main-top-row {
  flex: 0 0 100px;
}

.dcc.actor.sheet .character-main-body-row {
  flex: 1 0 100px;
  margin-top: 15px;
}

/* ----------------------------------------- */
/*  Action Dice                              */
/* ----------------------------------------- */
.dcc .npc-sheet .action-dice {
  flex: 0 0 100px;
  margin: 0 0 0 10px;
  text-align: center;
}

.dcc .combat-basics .action-dice {
  align-items: center;
  flex: 0 0 80px;
}

/* ----------------------------------------- */
/*  Attack Bonus                             */
/* ----------------------------------------- */
.dcc .npc-sheet .attack-bonus {
  flex: 0 0 125px;
  margin: 0 0 0 10px;
  text-align: center;
}

.dcc .combat-basics .attack-bonus {
  align-items: center;
  flex: 0 0 100px;
}

.dcc .combat-basics .attack-bonus input {
  margin-right: 3px;
}

.dcc .attack-bonus-container.skills-container {
  font-size: 1.2rem;
  justify-content: left;
  margin-top: 12px;
}
.dcc .attack-bonus-container.skills-container label.attack-bonus {
  margin-left: 10px;
  text-align: left;
}
.dcc .attack-bonus-container.skills-container label.attack-bonus .attack-bonus-button {
  background-image: url("./images/game-icons-net/d4-black.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
  width: 30px;
}

/* ----------------------------------------- */
/*  Ability Scores                           */
/* ----------------------------------------- */
.dcc.sheet.actor .ability-scores {
  border: 2px groove #eeede0;
  border-radius: 5px;
  flex: 0 0 150px;
  font-size: 20px;
  height: 425px;
  list-style: none;
  margin: 7px;
  padding: 0;
}

.dcc.sheet.actor .ability-scores .ability {
  border-bottom: 2px groove #eeede0;
  height: 70px;
  padding-top: 3px;
  text-align: center;
}

.dcc.sheet.actor .ability-scores .ability:last-child {
  border-bottom: 0;
}

.dcc.sheet.actor .ability-scores .ability input.ability-score {
  font-size: 24px;
  height: 30px;
  line-height: 32px;
  margin: 0 auto;
  width: 36px;
}

.dcc.sheet.actor .ability-scores .ability .ability-modifiers {
  border-left: 2px groove #eeede0;
  border-top: 2px groove #eeede0;
  flex: 0 0 24px;
  font-size: 16px;
  height: 23px;
  line-height: 22px;
  margin: -15px 0 0 122px;
  width: 25px;
}

/* ----------------------------------------- */
/*  Armor                                  */
/* ----------------------------------------- */
.dcc .armor-heading {
  background-image: url("./images/gauntlet.png");
  background-position-x: 70px;
  background-repeat: no-repeat;
  background-size: 55px 17px;
  border-bottom: 2px groove #eeede0;
  flex: 0 0 10px;
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 8px 0 0;
}

.dcc .armor-list {
  font-family: "Book Antiqua", "Palatino Linotype", serif;
  margin: 0 8px 0 0;
  padding-left: 8px;
}
.dcc .armor-list .item-image {
  flex: 0 0 24px;
  margin-right: 8px;
  margin-top: 3px;
}
.dcc .armor-list input {
  height: 30px;
}

.dcc .armor-list-header {
  flex: 0 0 10px;
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: 0.8rem;
  margin: 7px 0 2px;
  padding: 0;
}

.dcc .armor-equipped {
  flex: 0 0 20px;
  margin: 0 8px 0 0;
}

.dcc .armor-bonus {
  flex: 0 0 45px;
  margin: 0 8px;
  text-align: center;
}

.dcc .armor-checkpenalty {
  flex: 0 0 60px;
  margin: 0 8px 0 0;
  text-align: center;
}

.dcc .armor-fumbledie {
  flex: 0 0 80px;
  text-align: center;
}

.dcc .armor-notes {
  flex: 0.2 0 55px;
  margin: 0 0 0 8px;
}

.dcc .armor-controls {
  flex: 0 0 60px;
  padding-left: 10px;
}

/* ----------------------------------------- */
/*  Armor Class                              */
/* ----------------------------------------- */
.dcc .ac {
  background-image: url("./images/shield.png");
  background-repeat: no-repeat;
  background-size: 60px 76px;
  flex: 0 0 60px;
  height: 99px;
  margin: 10px 0 0 6px;
  text-align: center;
}

.dcc .ac label {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 31px auto 0;
}

.dcc .ac .ac-value {
  font-size: 1.6rem;
  height: 25px;
  margin: 21px auto 0;
  width: 35px;
}

/* ----------------------------------------- */
/*  Chat Rolls                               */
/* ----------------------------------------- */
.dice-roll .dice-total.critical,
.inline-roll.critical {
  color: green;
  font-weight: 900;
}

.dice-roll .dice-total.fumble,
.inline-roll.fumble {
  color: red;
}

/* ----------------------------------------- */
/*  Spell Check Chat Card                    */
/* ----------------------------------------- */
.table-draw .table-results .table-result .result-range {
  align-items: center;
  display: flex;
  flex: 0 0 20px;
  flex-direction: column;
  justify-content: space-between;
}
.table-draw .spell-check-mod {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset;
  height: 24px;
  line-height: 24px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  word-break: break-all;
}
.table-draw .spell-check-mod h4 {
  flex: 0;
  font-size: 20px;
}
.table-draw .spell-check-mod .critical {
  color: green;
  font-weight: 900;
}
.table-draw .spell-check-mod .fumble {
  color: red;
  font-weight: 900;
}

/* ----------------------------------------- */
/*  Criticals                                */
/* ----------------------------------------- */
.dcc .npc-sheet .crit-die {
  flex: 0 0 80px;
  margin: 0 0 0 10px;
  text-align: center;
}

.dcc .npc-sheet .crit-table {
  flex: 0 0 80px;
  margin: 0 0 0 10px;
  text-align: center;
}

.dcc .combat-basics .crit-die {
  align-items: center;
  flex: 0 0 100px;
}

.dcc .combat-basics .crit-die input {
  margin: 0 3px 0 2px;
}

.dcc .combat-basics .crit-table {
  align-items: center;
  flex: 0 0 100px;
}

.dcc .combat-basics .crit-table input {
  margin-left: 4px;
}

/* ----------------------------------------- */
/*  Experience                               */
/* ----------------------------------------- */
.dcc .experience {
  flex: 0 0 80px;
  margin: 0 0 0 10px;
  text-align: left;
}

/* ----------------------------------------- */
/*  Hit Dice                                 */
/* ----------------------------------------- */
.dcc .hd {
  flex: 0 0 50px;
  margin: 0 0 0 2px;
  text-align: center;
}

.dcc .init-and-speed .hd {
  align-items: center;
  flex: 0 0 30px;
  margin: 0;
  text-align: right;
}

.dcc .init-and-speed.hd label {
  font-size: 1.1rem;
  margin: 10px auto 0 0;
}

.dcc .init-and-speed .hd .hd-value {
  font-size: 1.1rem;
  height: 25px;
  text-align: center;
  width: 40px;
}

/* ----------------------------------------- */
/*  Hit Points                               */
/* ----------------------------------------- */
.dcc .hp {
  background-image: url("./images/heart.png");
  background-position-y: 9px;
  background-repeat: no-repeat;
  background-size: 80px 75px;
  flex: 0 0 99px;
  height: 99px;
  margin: 0 0 0 5px;
  text-align: center;
}

.dcc .hp .current-label {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: -8px auto 0 28px;
}

.dcc .hp .current {
  font-size: 1.6rem;
  height: 25px;
  margin: 31px auto 0 23px;
  width: 35px;
}

.dcc .hp .max {
  font-size: 0.8rem;
  height: 17px;
  margin: 7px auto 0 63px;
  width: 25px;
}

.dcc .hp .max-label {
  font-size: 0.6rem;
  line-height: 0.8rem;
  margin: 2px auto 0 65px;
}

/* ----------------------------------------- */
/*  Initiative                               */
/* ----------------------------------------- */
.dcc .init-and-speed {
  flex: 1 0 100px;
  margin: 7px 0 0;
  text-align: right;
}

.dcc .init-and-speed .init {
  align-items: center;
  flex: 0 0 30px;
}

.dcc .init-and-speed .init label {
  font-size: 1.1rem;
}

.dcc .init-and-speed .init .init-value {
  font-size: 1.1rem;
  text-align: center;
  width: 40px;
}

.dcc .combat-basics .init {
  align-items: center;
  flex: 0 0 120px;
}

.dcc .combat-basics .init input:first-of-type {
  margin-right: 4px;
}

.dcc .combat-basics .init input:last-of-type {
  margin-right: 3px;
}

/* ----------------------------------------- */
/*  Notes                              */
/* ----------------------------------------- */
.dcc .notes {
  border: 2px groove #eeede0;
  font-size: 14px;
  height: 528px;
  line-height: 24px;
  padding: 2px;
}

.dcc .notes-label {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: 1.5rem;
  margin-top: 20px;
}

/* ----------------------------------------- */
/*  Speed                                    */
/* ----------------------------------------- */
.dcc .init-and-speed .speed {
  flex: 0 0 30px;
}

.dcc .init-and-speed .speed label {
  font-size: 1.1rem;
  margin: 10px auto 0 0;
}

.dcc .init-and-speed .speed .speed-other {
  margin: 5px 0 0;
  width: 100px;
}

.dcc .init-and-speed .speed .speed-other-label {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 0 7px 0 0;
}

.dcc .init-and-speed .speed .speed-value {
  font-size: 1.1rem;
  height: 25px;
  text-align: center;
  width: 40px;
}

.dcc .combat-basics .speed {
  align-items: center;
  flex: 0 0 60px;
}

/* ----------------------------------------- */
/*  Saving Throws                            */
/* ----------------------------------------- */
.dcc.sheet.actor .saving-throws {
  border: 2px groove #eeede0;
  border-radius: 5px;
  flex: 0 0 152px;
  font-size: 20px;
  height: 102px;
  list-style: none;
  margin: 7px 0 0;
  padding: 2px 0 3px 7px;
  text-align: left;
}

.dcc.sheet.actor .saving-throws .save {
  margin-bottom: 0.25rem;
}

.dcc.sheet.actor .saving-throws span {
  font-family: "Book Antiqua", "Palatino Linotype", serif;
}

.dcc.sheet.actor .saving-throws input {
  font-family: "Book Antiqua", "Palatino Linotype", serif;
  margin-bottom: 0;
  text-align: center;
  width: 36px;
}

/* ----------------------------------------- */
/*  Special                                  */
/* ----------------------------------------- */
.dcc .special {
  flex: 0 0 155px;
  margin: 0 8px 0 0;
}

/* ----------------------------------------- */
/*  Weapons                                  */
/* ----------------------------------------- */
.dcc .weapons {
  margin: 10px 0 0;
}

.dcc .weapons-heading {
  background-image: url("./images/axe.png");
  background-position-x: 155px;
  background-repeat: no-repeat;
  background-size: 90px 18px;
  border-bottom: 2px groove #eeede0;
  flex: 0 0 10px;
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 10px 0 0;
}

.dcc .weapons-heading.ranged {
  background-image: url("./images/bow.png");
  background-position-x: 165px;
  background-size: 90px 17px;
}

.dcc .weapon-list {
  font-family: "Book Antiqua", "Palatino Linotype", serif;
  margin: 0;
  padding-left: 8px;
}
.dcc .weapon-list .item-image {
  flex: 0 0 24px;
  margin-right: 8px;
  margin-top: 3px;
}
.dcc .weapon-list input {
  height: 30px;
  margin: 0 8px 0 0;
}

.dcc .weapon-list-header {
  flex: 0 0 10px;
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: 0.8rem;
  margin: 0 0 1px;
  padding: 0;
}

.dcc .weapon {
  flex: 0 0 35px;
}

.dcc .weapon-button {
  background-image: url("../../../icons/svg/d20-black.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 5px 0 0;
}

.dcc .weapon-checkbox {
  flex: 0 0 18px;
  padding-left: 0;
}

.dcc .weapon-headericon {
  flex: 0 0 24px;
}

.dcc .backstab-button {
  background-image: url("./images/backstab.png");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 5px 0 0;
}

.dcc .roll-button {
  background-image: url("../../../icons/svg/d20-black.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 21px 0 0;
}

.dcc .left-arrow-button {
  background-image: url("./images/left-arrow.png");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 5px 0 0;
}

.dcc .right-arrow-button {
  background-image: url("./images/right-arrow.png");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 5px 0 0;
}

.dcc .weapon-damage {
  flex: 0 0 80px;
  margin: 0 10px 0 0;
  text-align: center;
}

.dcc .backstab-padding {
  flex: 0 0 30px;
}

.dcc .weapon-name-label {
  padding: 0 0 0 30px;
}

.dcc .weapon-notes {
  flex: 0.2 0 55px;
  margin: 0 8px 0 0;
}

.dcc .weapon-tohit {
  flex: 0 0 100px;
  margin: 0 6px 0 0;
  text-align: center;
}

.dcc .weapon-special {
  flex: 0 0 1;
  text-align: center;
}

.dcc .weapon-controls {
  flex: 0 0 60px;
  padding-left: 10px;
}

/* ----------------------------------------- */
/*  Cleric Class                             */
/* ----------------------------------------- */
.dcc .lay-on-hands {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dcc .lay-on-hands .container {
  border: 2px groove #eeede0;
  display: grid;
  font-size: 0.8rem;
}
.dcc .lay-on-hands .lay-on-hands {
  flex: 0 0 60%;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}
.dcc .lay-on-hands .condition-healing {
  flex: 0 0 34%;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}
.dcc .lay-on-hands div.item {
  margin: 0;
  text-align: center;
}
.dcc .lay-on-hands div.header {
  font-weight: bold;
}
.dcc .lay-on-hands div.top {
  border-bottom: 2px groove #eeede0;
}
.dcc .lay-on-hands div.left {
  border-right: 2px groove #eeede0;
}

.dcc .spells-container-cleric {
  border: var(--dark-border);
  border-top: none;
  height: 565px;
}
.dcc .spells-container-cleric .dark-title {
  align-self: center;
  background: var(--dark-bg);
  color: var(--light-color);
  font-family: "Cooper Black", "Palatino Linotype", serif;
  grid-column-start: 1;
  grid-row: 1;
  height: 19px;
  letter-spacing: 1px;
  padding-top: 1px;
  text-align: center;
}

/* ----------------------------------------- */
/*  Thief/Halfling Class                     */
/* ----------------------------------------- */
.dcc .skills-container {
  align-items: center;
  border: var(--dark-border);
  border-top: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 6px;
}
.dcc .skills-container .dark-title {
  align-self: stretch;
  background: var(--dark-bg);
  color: var(--light-color);
  font-family: "Cooper Black", "Palatino Linotype", serif;
  grid-template-columns: 100%;
  grid-column-end: span 2;
  letter-spacing: 1px;
  padding-bottom: 3px;
  text-align: center;
}
.dcc .skills-container > div {
  display: grid;
  font-family: "Cooper Black", "Palatino Linotype", serif;
  grid-template-columns: max-content 25%;
  grid-template-rows: auto;
  margin: 0 0 8px 0;
  padding: 0 8px;
  align-items: center;
}
.dcc .skills-container > div a {
  background: none;
  border: none;
}
.dcc .skills-container > div .editor {
  background: rgba(0, 0, 0, 0.05);
  border: var(--dark-border);
  border-top: none;
  font-family: "Book Antiqua", "Palatino Linotype", serif;
  min-height: 305px;
  padding: 0 8px;
}
.dcc .skills-container > div label {
  display: grid;
  font-family: "Cooper Black", "Palatino Linotype", serif;
  margin-right: 6px;
}
.dcc .skills-container > div input {
  font-family: "Book Antiqua", "Palatino Linotype", serif;
  height: 17px;
  line-height: 1;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  border-radius: 0;
}
.dcc .skills-container > div input:focus {
  box-shadow: none;
}
.dcc .skills-container > div input.full-width {
  width: 100%;
}
.dcc .skills-container > div select {
  background: none;
  border-width: 0 0 1px 0;
  border-radius: 0;
  font-family: var(--data-font);
  font-size: 15px;
  text-align: center;
  width: 75px;
}
.dcc .skills-container > div select:focus {
  box-shadow: none;
}
.dcc .skills-container > div.grid-template-full {
  grid-column-end: span 2;
  grid-template-columns: 100%;
}
.dcc .skills-container > div.grid-template-max-auto {
  grid-column-end: span 2;
  grid-template-columns: max-content auto;
}
.dcc .skills-container > div.textarea {
  border: 2px groove #eeede0;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto minmax(100px, auto);
}
.dcc .skills-container > div.textarea label {
  text-align: left;
}

/* ----------------------------------------- */
/*  Wizard/Elf Class                         */
/* ----------------------------------------- */
.dcc .spells-container-wizard {
  border: var(--dark-border);
  border-top: none;
  height: 565px;
}
.dcc .spells-container-wizard .dark-title {
  align-self: center;
  background: var(--dark-bg);
  color: var(--light-color);
  font-family: "Cooper Black", "Palatino Linotype", serif;
  grid-column-start: 1;
  grid-row: 1;
  height: 19px;
  letter-spacing: 1px;
  padding-top: 1px;
  text-align: center;
}

/* ----------------------------------------- */
/*  Items                                    */
/* ----------------------------------------- */
.dcc .equipment-container {
  height: 100%;
  overflow-y: scroll;
}

.dcc .item-heading {
  border-bottom: 2px groove #eeede0;
  flex: 0 0 10px;
  font-family: "Cooper Black", "Palatino Linotype", serif;
  letter-spacing: 1px;
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 8px 0 0;
}

.dcc .item-list-header {
  border-bottom: 2px dotted var(--medium-color);
  flex: 0 0 10px;
  font-family: "Cooper Black", "Palatino Linotype", serif;
  font-size: 0.8rem;
  margin: 0 0 5px 0;
  padding: 0 0 3px 0;
}

.dcc .item-list {
  padding: 0 8px 8px 8px;
  margin-top: 1px;
}
.dcc .item-list .item-equipped {
  flex: 0 0 20px;
  margin: 0 8px 0 0;
}
.dcc .item-list .item-lost {
  flex: 0 0 20px;
  margin: 0 8px 0 0;
}
.dcc .item-list .item-image {
  flex: 0 0 24px;
  margin-right: 8px;
}
.dcc .item-list .spell-item-button-heading {
  flex: 0 0 40px;
  padding-left: 5px;
}
.dcc .item-list .spell-item-button {
  background-image: url("../../../icons/svg/d20-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 40px;
}
.dcc .item-list .skill-name {
  flex: 1 0 1px;
}
.dcc .item-list .skill-die {
  flex: 0 0 60px;
}
.dcc .item-list .skill-modifier {
  flex: 0 0 60px;
}
.dcc .item-list .skill-last-roll {
  flex: 0 0 60px;
  text-align: right;
}
.dcc .item-list .skill-freeform {
  flex: 0 0 180px;
}
.dcc .item-list .item-level {
  flex: 0 0 60px;
  text-align: center;
}
.dcc .item-list .item-name {
  flex: 1 0 1px;
}
.dcc .item-list .item-description {
  flex: 1 0 1px;
}
.dcc .item-list .item-weight {
  flex: 0 0 60px;
}
.dcc .item-list .item-quantity {
  flex: 0 0 70px;
}
.dcc .item-list .item-is-coins {
  flex: 0 1 100px;
  text-align: left;
}
.dcc .item-list .currency-field {
  text-align: right;
}
.dcc .item-list h4.currency-field {
  padding-right: 4px;
}
.dcc .item-list .item-pp {
  flex: 0 0 50px;
}
.dcc .item-list .item-ep {
  flex: 0 0 50px;
}
.dcc .item-list .item-gp {
  flex: 0 0 50px;
}
.dcc .item-list .item-sp {
  flex: 0 0 50px;
}
.dcc .item-list .item-cp {
  flex: 0 0 50px;
}
.dcc .item-list .item-controls {
  flex: 0 0 60px;
  padding-left: 10px;
}

.dcc .skill-controls {
  text-align: right;
}

/* ----------------------------------------- */
/*  Items Sheet                              */
/* ----------------------------------------- */
.dcc.item .sheet-body.item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px minmax(80px, auto);
}
.dcc.item .sheet-body.item .value-row {
  grid-column: span 3/span 3;
}
.dcc.item .sheet-body.weapon {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-rows: 50px 50px 50px 50px minmax(80px, auto);
}
.dcc.item .sheet-body.weapon .value-row {
  grid-column: span 3/span 3;
}
.dcc.item .sheet-body.armor {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-rows: 50px 50px 50px minmax(80px, auto);
}
.dcc.item .sheet-body.armor .value-row {
  grid-column: span 3/span 3;
}
.dcc.item .sheet-body .spell-header-extras {
  display: grid;
  gap: 10px;
  grid-column: span 5/span 5;
  grid-template-columns: repeat(4, minmax(0, 1fr)) minmax(0, 0.5fr);
  margin: 10px 0;
  padding: 0;
}
.dcc.item .sheet-body.spell {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px minmax(80px, auto) repeat(auto-fit, minmax(130px, auto));
  width: 100%;
}
.dcc.item .sheet-body.spell .mercurial-effect-header {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-rows: 50px;
}
.dcc.item .sheet-body.treasure {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px minmax(80px, auto);
  width: 100%;
}
.dcc.item .sheet-body.skill {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(80px, auto);
  width: 100%;
}
.dcc.item .value-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dcc.item .value-row .resource {
  flex: 3 0 75px;
}
.dcc.item .value-row .conversions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dcc.item .sheet-body .spell-header-overflow {
  grid-column: 1/span 3;
}
.dcc.item .sheet-body .description {
  border: 2px groove #eeede0;
  grid-column: 1/span 3;
  grid-row: 2;
}
.dcc.item .sheet-body .armor-header-extras {
  display: grid;
  grid-column: 1/span 3;
  grid-template-columns: minmax(90px, auto) minmax(120px, auto) minmax(90px, auto) minmax(60px, auto);
}
.dcc.item .sheet-body .weapon-header-basics {
  display: grid;
  grid-column: 1/span 3;
  grid-template-columns: minmax(115px, auto) minmax(125px, auto) minmax(100px, auto) minmax(150px, auto);
}
.dcc.item .sheet-body .weapon-header-extras {
  display: grid;
  grid-column: 1/span 3;
  grid-template-columns: minmax(125px, auto) minmax(115px, auto) minmax(100px, auto) minmax(150px, auto);
}
.dcc.item .sheet-body .weapon-summary {
  grid-column: 1/span 3;
}
.dcc.item .sheet-body .armor-summary {
  grid-column: 1/span 3;
}
.dcc.item .sheet-body .mercurial-effect-heading {
  grid-column: 1;
}
.dcc.item .sheet-body .mercurial-effect-heading h1 {
  border: 0;
  display: inline-block;
}
.dcc.item .sheet-body .mercurial-effect-value {
  grid-column: 2;
}
.dcc.item .sheet-body .mercurial-effect-summary {
  grid-column: 3;
}
.dcc.item .sheet-body .mercurial-effect-description {
  border: 2px groove #eeede0;
  grid-column: 1/span 3;
}
.dcc.item .item-name {
  flex: 1 1;
}
.dcc.item .item-type {
  flex: 0 0 60px;
  margin: 5px 0 0 5px;
}

/* ----------------------------------------- */
/*  Config Dialogs                           */
/* ----------------------------------------- */
.config-dialog .form-group {
  border-bottom: 2px groove #eeede0;
  display: flex;
  margin: 5px 0;
  padding-bottom: 5px;
}
.config-dialog .form-group label {
  flex: 0 0 60%;
}
.config-dialog .form-group label.span {
  flex: 0 0 96%;
}
.config-dialog .form-group label.info {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.config-dialog .form-group div.form-fields {
  flex: 0 1 40%;
}
.config-dialog .form-group input {
  text-align: right;
}
.config-dialog .form-group input.string {
  text-align: left;
}

/* ----------------------------------------- */
/*  Tabs                                     */
/* ----------------------------------------- */
.dcc.sheet .sheet-tabs.tabs {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
}
.dcc.sheet .item[data-tab] {
  padding: 4px 0 4px 0;
}
.dcc.sheet .item[data-tab=character]:before {
  content: "\f007";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=equipment]:before {
  content: "\f71d";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=skills]:before {
  content: "\f5dc";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=spells]:before {
  content: "\f6b8";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=notes]:before {
  content: "\f249";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=cleric]:before {
  content: "\f3ed";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=dwarf]:before {
  content: "\f6eb";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=elf]:before {
  content: "\f56b";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=halfling]:before {
  content: "\e139";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=warrior]:before {
  content: "\f6eb";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=wizard]:before {
  content: "\f6e8";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}
.dcc.sheet .item[data-tab=thief]:before {
  content: "\f504";
  font-family: "Font Awesome 6 Pro";
  padding-right: 5px;
}

/* ----------------------------------------- */
/*  Entity Link style links for user guide   */
/* ----------------------------------------- */
.dcc.sheet a.external-link {
  background: none;
  border: none;
  border-radius: none;
  color: var(--dark-color);
  text-decoration: none;
  white-space: nowrap;
  word-break: break-all;
}

/* ----------------------------------------- */
/*  Roll Modifier Dialog                     */
/* ----------------------------------------- */
form.dcc-roll-modifier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
}
form.dcc-roll-modifier .formula-row {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  grid-row-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto auto minmax(60px, auto);
}
form.dcc-roll-modifier .formula-row .term-label {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
}
form.dcc-roll-modifier .formula-row .term-field {
  text-align: right;
}
form.dcc-roll-modifier .formula-row .term-controls {
  margin-top: 8px;
}
form.dcc-roll-modifier .button-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
form.dcc-roll-modifier .button-row button {
  flex: 1;
}
form.dcc-roll-modifier .button-stack {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}
form.dcc-roll-modifier .button-stack button.flat-button {
  margin: 0;
}
form.dcc-roll-modifier .dialog-buttons {
  margin-top: 8px;
}
form.dcc-roll-modifier button.flat-button {
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #c9c7b8;
  margin: 0 5px 0 0;
}
form.dcc-roll-modifier button.flat-button:last-child {
  margin-right: 0;
}
form.dcc-roll-modifier label.checkbox-label {
  line-height: 26px;
  padding-left: 8px;
}
form.dcc-roll-modifier input.checkbox {
  text-align: right;
}
form.dcc-roll-modifier input.stat {
  text-align: right;
}

/* ----------------------------------------- */
/*  Fleeting Luck Dialog                     */
/* ----------------------------------------- */
.dcc .fleeting-luck {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40px, auto) repeat(auto-fill, minmax(60px, auto));
}
.dcc .fleeting-luck .fleeting-luck-header-judge {
  align-items: center;
  display: grid;
  grid-gap: 2px 3px;
  grid-template-columns: 3fr 3fr;
}
.dcc .fleeting-luck .fleeting-luck-header-judge .reset-all {
  grid-column: 1;
  justify-self: center;
}
.dcc .fleeting-luck .fleeting-luck-header-judge .clear-all {
  grid-column: 2;
  justify-self: center;
}
.dcc .fleeting-luck .fleeting-luck-header {
  align-items: center;
  display: grid;
  grid-gap: 2px 3px;
  grid-template-columns: 40px auto;
}
.dcc .fleeting-luck .fleeting-luck-header .filter {
  grid-column: 1;
  justify-self: center;
}
.dcc .fleeting-luck .fleeting-luck-header .spend {
  grid-column: 2;
  justify-self: center;
}
.dcc .fleeting-luck .fleeting-luck-row {
  align-items: center;
  display: grid;
  grid-gap: 2px 3px;
  grid-template-columns: 60px 10fr 1fr 2fr 2fr 2fr 1fr;
}
.dcc .fleeting-luck .fleeting-luck-row .avatar {
  grid-column: 1;
}
.dcc .fleeting-luck .fleeting-luck-row .name {
  font-size: 2rem;
  grid-column: 2;
}
.dcc .fleeting-luck .fleeting-luck-row .spend {
  grid-column: 3;
  justify-self: center;
}
.dcc .fleeting-luck .fleeting-luck-row .minus {
  grid-column: 4;
  justify-self: right;
}
.dcc .fleeting-luck .fleeting-luck-row .value {
  font-size: 1.5rem;
  grid-column: 5;
  justify-self: center;
}
.dcc .fleeting-luck .fleeting-luck-row .value-wide {
  font-size: 1.5rem;
  grid-column: 4/span 4;
  justify-self: center;
}
.dcc .fleeting-luck .fleeting-luck-row .plus {
  grid-column: 6;
  justify-self: left;
}
.dcc .fleeting-luck .fleeting-luck-row .clear {
  grid-column: 7;
  justify-self: center;
}

/* ----------------------------------------- */
/*  New Sheet Styles                         */
/* ----------------------------------------- */
.dcc.sheet.actor .character2 .character-grid2 {
  background: url("images/parchment.jpeg");
  column-gap: 8px;
  display: grid;
  font-family: var(--label-font);
  font-size: 16px;
  grid-template-columns: 192px 143px 82px 82px;
  grid-template-rows: 46px 114px repeat(5, 60px 9px) 60px;
  text-align: center;
}
.dcc.sheet.actor .character2 .character-grid2 input,
.dcc.sheet.actor .character2 .character-grid2 select {
  background: none;
  border-width: 0 0 1px 0;
  border-radius: 0;
  font-family: var(--data-font);
  height: 16px;
  text-align: center;
  text-align-last: center;
}
.dcc.sheet.actor .character2 .character-grid2 input:focus,
.dcc.sheet.actor .character2 .character-grid2 select:focus {
  box-shadow: none;
}
.dcc.sheet.actor .character2 .character-grid2 label {
  font-family: "Cooper Black", "Palatino Linotype", serif;
}
.dcc.sheet.actor .character2 .dark-title {
  align-self: center;
  background: var(--dark-bg);
  color: var(--light-color);
  grid-column-start: 1;
  grid-row: 1;
  height: 19px;
  letter-spacing: 1px;
  padding-top: 1px;
  text-align: center;
}
.dcc.sheet.actor .character2 .ability-scores2 {
  display: grid;
  grid-template-rows: repeat(5, 69px);
}
.dcc.sheet.actor .character2 .ability-scores2 .ability-box {
  align-items: center;
  display: grid;
  font-size: 14px;
  grid-template-columns: 85px 37px 70px;
  grid-template-rows: 19px 20px 20px;
  text-align: left;
}
.dcc.sheet.actor .character2 .ability-scores2 .ability-box input {
  border-width: 0 0 1px 0;
  font-size: 14px;
}
.dcc.sheet.actor .character2 .ability-scores2 .ability-box input[id$=max] {
  height: 17px;
  margin-right: 3px;
}
.dcc.sheet.actor .character2 .ability-scores2 .ability-box > label {
  grid-column-end: span 2;
}
.dcc.sheet.actor .character2 .ability-scores2 .ability-box > label[for="system.abilities.sta.value"],
.dcc.sheet.actor .character2 .ability-scores2 .ability-box label[for="system.abilities.lck.value"] {
  padding-top: 1.5px;
}
.dcc.sheet.actor .character2 .ability-scores2 .ability-score {
  align-self: stretch;
  border: 5px solid var(--dark-color);
  display: grid;
  grid-row-end: span 3;
}
.dcc.sheet.actor .character2 .ability-scores2 .ability-score input {
  align-self: center;
  border: none;
  font-size: 30px;
  height: unset;
}
.dcc.sheet.actor .character2 .ac-and-hp {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 65px 19px 20px;
}
.dcc.sheet.actor .character2 .ac-and-hp input {
  align-self: center;
  border: none;
  font-size: 24px;
  height: 17px;
  margin-bottom: 5px;
}
.dcc.sheet.actor .character2 .combat-basics {
  align-items: center;
  border: var(--dark-border);
  border-top: none;
  display: grid;
  font-size: 14px;
  grid-column-end: span 3;
  grid-template-columns: 110px 62px 85px 59px;
  grid-template-rows: 19px repeat(4, 20px);
  margin: 0 0 8px 0;
  padding-bottom: 4px;
}
.dcc.sheet.actor .character2 .combat-basics label {
  padding-left: 3px;
  text-align: left;
  padding-top: 2px;
}
.dcc.sheet.actor .character2 .combat-basics input, .dcc.sheet.actor .character2 .combat-basics select {
  font-size: 14px;
  height: 17px;
  vertical-align: middle;
  margin-right: 8px;
}
.dcc.sheet.actor .character2 .grid-col-span-2 {
  display: grid;
  grid-column-end: span 2;
}
.dcc.sheet.actor .character2 .grid-col-span-3 {
  display: grid;
  grid-column-end: span 3;
}
.dcc.sheet.actor .character2 .grid-col-span-4 {
  display: grid;
  grid-column-end: span 4;
}
.dcc.sheet.actor .character2 .grid-col-span-5 {
  display: grid;
  grid-column-end: span 5;
}
.dcc.sheet.actor .character2 .languages {
  border: var(--dark-border);
  border-top: none;
  display: grid;
  grid-column: 2;
  grid-row: 13;
  grid-column-end: span 3;
  grid-template-rows: 19px auto;
  font-size: 12px;
  text-align: left;
}
.dcc.sheet.actor .character2 .languages label {
  text-align: left;
  padding-left: 3px;
}
.dcc.sheet.actor .character2 .languages textarea,
.dcc.sheet.actor .character2 .lucky-roll textarea {
  background: none;
  border: none;
  font-family: var(--data-font);
  font-size: 12px;
  grid-row: 2;
  min-height: 0;
  resize: none;
  text-align: left;
}
.dcc.sheet.actor .character2 .languages textarea:focus,
.dcc.sheet.actor .character2 .lucky-roll textarea:focus {
  box-shadow: none;
}
.dcc.sheet.actor .character2 .lucky-roll {
  border: var(--dark-border);
  border-top: none;
  display: grid;
  grid-column: 2;
  grid-column-end: span 3;
  grid-row: 11;
  grid-template-rows: 19px auto;
  font-size: 12px;
}
.dcc.sheet.actor .character2 .lucky-roll label {
  text-align: left;
  padding-left: 3px;
}
.dcc.sheet.actor .character2 .melee-missile-attack-damage {
  display: grid;
  grid-column: 3;
  grid-column-end: span 2;
  grid-row: 3;
  grid-template-columns: subgrid;
  grid-template-rows: 69px 69px;
}
.dcc.sheet.actor .character2 .melee-missile-attack-damage .bonus {
  align-items: center;
  border: var(--dark-border);
  border-top: none;
  display: grid;
  font-size: 12px;
  grid-template-columns: 100%;
  grid-template-rows: 31px 20px;
  margin-bottom: 8px;
}
.dcc.sheet.actor .character2 .melee-missile-attack-damage .bonus label {
  height: 31px;
}
.dcc.sheet.actor .character2 .melee-missile-attack-damage .bonus input {
  border: none;
  font-size: 16px;
  grid-row: 2;
  margin-top: 4px;
}
.dcc.sheet.actor .character2 .name-and-level {
  column-gap: 12px;
  display: grid;
  grid-column-end: span 4;
  grid-template-rows: 20px 20px;
  grid-template-columns: 189px 113px 195px;
  text-align: left;
}
.dcc.sheet.actor .character2 .name-and-level label {
  font-size: 13px;
}
.dcc.sheet.actor .character2 .portrait {
  border: var(--dark-border);
  border-top: none;
  display: grid;
  grid-row: 7;
  grid-column: 3;
  grid-column-end: span 2;
  grid-row-end: span 3;
  grid-template-rows: 19px auto;
  font-size: 14px;
}
.dcc.sheet.actor .character2 .portrait img {
  border: none;
  justify-self: center;
  align-self: center;
}
.dcc.sheet.actor .character2 .row-separator {
  border-bottom: 2px dotted var(--medium-color);
  margin-bottom: 3px;
}
.dcc.sheet.actor .character2 .saving-throws2 {
  border: none;
  display: grid;
  grid-column: 2;
  grid-row: 5;
  grid-row-end: span 3;
  grid-template-rows: repeat(3, 69px);
  margin: 0;
  padding: 0;
}
.dcc.sheet.actor .character2 .saving-throw-box {
  align-items: center;
  background: var(--dark-bg);
  color: var(--light-color);
  column-gap: 7px;
  display: grid;
  grid-template-columns: 54px 55px;
  margin-bottom: 10px;
  text-align: left;
}
.dcc.sheet.actor .character2 .saving-throw-box input {
  align-self: center;
  background: #DBD9CD;
  border-radius: 100px;
  font-size: 18px;
  height: 50px;
  margin-left: 5px;
  width: 50px;
}
.dcc.sheet.actor .character2 .saving-throw-box label {
  font-size: 14px;
  letter-spacing: 1px;
}

/*# sourceMappingURL=dcc.css.map */
