@import 'grid';

/* ----------------------------------------- */
/*  Globals                                  */
/* ----------------------------------------- */
@font-face {
  font-family: 'Book Antiqua';
  src: url('fonts/Book-Antiqua.otf');
}

@font-face {
  font-family: 'DuvallSmallCaps';
  src: url('fonts/DuvallSmallCaps.otf');
}

/* Common style elements */
$border-style: 2px groove #eeede0;

$book-antiqua: 'Book Antiqua', 'Palatino Linotype', serif;
$duvall: 'DuvallSmallCaps', 'Palatino Linotype', serif;

.dcc .window-content {
  font-family: $book-antiqua;
  height: 100%;
  overflow-y: hidden;
  padding: 5px;
}

.dcc .window-content label {
  font-family: $duvall;
}

.dcc .flex-padding {
  flex: 1 0 0;
  margin: 0;
}

/* ----------------------------------------- */
/*  Headings
/* ----------------------------------------- */
.journal-sheet h1 {
  font-family: $duvall;
}

.journal-sheet h2 {
  font-family: $duvall;
  line-height: 1.5em;
}

.journal-sheet form input[name='name'] {
  font-family: $duvall;
}

.journal-sheet div.editor-content {
  font-family: $book-antiqua;
}

/* ----------------------------------------- */
/*  Rollable                                 */
/* ----------------------------------------- */

.dcc .rollable:hover {
  color: #000;
  cursor: pointer;
  text-shadow: 0 0 10px red;
}

/* ----------------------------------------- */
/*  Actor Sheet                              */
/* ----------------------------------------- */

.dcc.sheet.actor {
  min-height: 633px;
  min-width: 605px;
}

.dcc .editor,
.dcc .editor-content {
  height: 100%;
}

.choose-class-select {
  font-size: 1.2rem;
  width: 100%;
}

/* ----------------------------------------- */
/*  Sheet Header                             */
/* ----------------------------------------- */

.dcc .sheet-header {
  justify-content: flex-start;
  margin-bottom: 10px;
  overflow: hidden;
}

.dcc .sheet-header .profile-div {
  align-items: center;
  display: flex;
  flex: 0 0 100px;
  margin: 5px 10px 0 0;
}

.dcc .sheet-header .profile-div .profile-img {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  max-width: 100px;
  width: auto;
}

.dcc .sheet-header h1.charname {
  border-bottom: 0;
  flex: 0 0 100%;
  height: 50px;
  margin: 5px 0;
  padding: 0;
}

.dcc .sheet-header .upper-level div.charname {
  flex: 0 0 100%;
}

.dcc .sheet-header .upper-level h1.charname {
  flex: 1 0 75%;
}

.dcc .sheet-header h1.charname input {
  height: 100%;
  margin: 0;
  width: 100%;
}

.dcc .sheet-header .upper-level div.level {
  flex: 1 0 25%;
  padding: 0 0 0 7px;
}

.dcc .sheet-header .upper-level div.level input {
  text-align: center;
}

.dcc .alignment {
  flex: 0 0 10%;
  margin-left: 15px;
  text-align: center;
}

.dcc .alignment select {
  font-family: inherit;
  height: 24px;
  width: 90px;
}

.dcc .title input {
  width: 100%;
}

.dcc .title label {
  margin: 0 0 0 4px;
}

.dcc .occupation input {
  width: 100%;
}

.dcc .occupation label {
  margin: 0 0 0 4px;
}

.dcc.actor.sheet .character-main-top-row {
  flex: 0 0 100px;
}

.dcc.actor.sheet .character-main-body-row {
  flex: 1 0 100px;
  margin-top: 15px;
}

/* ----------------------------------------- */
/*  Action Dice                              */
/* ----------------------------------------- */

.dcc .npc-sheet .action-dice {
  flex: 0 0 100px;
  margin: 0 0 0 10px;
  text-align: center;
}

.dcc .combat-basics .action-dice {
  align-items: center;
  flex: 0 0 80px;
}

/* ----------------------------------------- */
/*  Attack Bonus                             */
/* ----------------------------------------- */

.dcc .npc-sheet .attack-bonus {
  flex: 0 0 125px;
  margin: 0 0 0 10px;
  text-align: center;
}

.dcc .combat-basics .attack-bonus {
  align-items: center;
  flex: 0 0 100px;
}

.dcc .attack-bonus-container.skills-container {
  font-size: 1.2rem;
  justify-content: left;
  margin-top: 12px;

  label.attack-bonus {
    margin-left: 10px;
    text-align: left;

    .attack-bonus-button {
      background-image: url('./images/game-icons-net/d4-black.svg');
      background-repeat: no-repeat;
      background-size: 22px 22px;
      display: inline-block;
      width: 30px;
    }
  }
}

/* ----------------------------------------- */
/*  Ability Scores                           */
/* ----------------------------------------- */

.dcc.sheet.actor .ability-scores {
  border: $border-style;
  border-radius: 5px;
  flex: 0 0 150px;
  font-size: 20px;
  height: 425px;
  list-style: none;
  margin: 7px;
  padding: 0;
}

.dcc.sheet.actor .ability-scores .ability {
  border-bottom: $border-style;
  height: 70px;
  padding-top: 3px;
  text-align: center;
}

.dcc.sheet.actor .ability-scores .ability:last-child {
  border-bottom: 0;
}

.dcc.sheet.actor .ability-scores .ability input.ability-score {
  font-size: 24px;
  height: 30px;
  line-height: 32px;
  margin: 0 auto;
  width: 36px;
}

.dcc.sheet.actor .ability-scores .ability .ability-modifiers {
  border-left: $border-style;
  border-top: $border-style;
  flex: 0 0 24px;
  font-size: 16px;
  height: 23px;
  line-height: 22px;
  margin: -16px 0 0 116px;
  width: 30px;
}

/* ----------------------------------------- */
/*  Armor                                  */
/* ----------------------------------------- */

.dcc .armor-heading {
  background-image: url('./images/gauntlet.png');
  background-position-x: 70px;
  background-repeat: no-repeat;
  background-size: 55px 17px;
  border-bottom: $border-style;
  flex: 0 0 10px;
  font-family: $duvall;
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 8px 0 0;
}

.dcc .armor-list {
  font-family: $book-antiqua;
  margin: 0 8px 0 0;
  padding-left: 8px;

  .item-image {
    flex: 0 0 24px;
    margin-right: 8px;
    margin-top: 3px;
  }

  input {
    height: 30px;
  }
}

.dcc .armor-list-header {
  flex: 0 0 10px;
  font-family: $duvall;
  font-size: 0.8rem;
  margin: 7px 0 2px;
  padding: 0;
}

.dcc .armor-equipped {
  flex: 0 0 20px;
  margin: 0 8px;
}

.dcc .armor-bonus {
  flex: 0 0 45px;
  margin: 0 8px;
  text-align: center;
}

.dcc .armor-checkpenalty {
  flex: 0 0 60px;
  margin: 0 8px 0 0;
  text-align: center;
}

.dcc .armor-fumbledie {
  flex: 0 0 80px;
  text-align: center;
}

.dcc .armor-notes {
  flex: 0.2 0 55px;
  margin: 0 0 0 8px;
}

.dcc .armor-controls {
  flex: 0 0 60px;
  padding-left: 10px;
}

/* ----------------------------------------- */
/*  Armor Class                              */
/* ----------------------------------------- */

.dcc .ac {
  background-image: url('./images/shield.png');
  background-repeat: no-repeat;
  background-size: 60px 76px;
  flex: 0 0 60px;
  height: 99px;
  margin: 10px 0 0 6px;
  text-align: center;
}

.dcc .ac label {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 31px auto 0;
}

.dcc .ac .ac-value {
  font-size: 1.6rem;
  height: 25px;
  margin: 21px auto 0;
  width: 35px;
}


/* ----------------------------------------- */
/*  Chat Rolls                               */
/* ----------------------------------------- */
.dice-roll .dice-total.critical,
.inline-roll.critical {
  color: green;
  font-weight: 900;
}

.dice-roll .dice-total.fumble,
.inline-roll.fumble {
  color: red;
}

/* ----------------------------------------- */
/*  Spell Check Chat Card                    */
/* ----------------------------------------- */
.table-draw {
  .table-results {
    .table-result {
      .result-range {
        align-items: center;
        display: flex;
        flex: 0 0 20px;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .spell-check-mod {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
    position: relative;
    text-align: center;
    word-break: break-all;

    h4 {
      flex: 0;
      font-size: 20px;
    }

    .critical {
      color: green;
      font-weight: 900;
    }

    .fumble {
      color: red;
      font-weight: 900;
    }
  }
}

/* ----------------------------------------- */
/*  Criticals                                */
/* ----------------------------------------- */

.dcc .npc-sheet .crit-die {
  flex: 0 0 80px;
  margin: 0 0 0 10px;
  text-align: center;
}

.dcc .npc-sheet .crit-table {
  flex: 0 0 80px;
  margin: 0 0 0 10px;
  text-align: center;
}

.dcc .combat-basics .crit-die {
  align-items: center;
  flex: 0 0 100px;
}

.dcc .combat-basics .crit-table {
  align-items: center;
  flex: 0 0 100px;
}

/* ----------------------------------------- */
/*  Experience                               */
/* ----------------------------------------- */

.dcc .experience {
  flex: 0 0 80px;
  margin: 0 0 0 10px;
  text-align: left;
}

/* ----------------------------------------- */
/*  Hit Dice                                 */
/* ----------------------------------------- */

.dcc .hd {
  flex: 0 0 50px;
  margin: 0;
  text-align: center;
}

.dcc .init-and-speed .hd {
  align-items: center;
  flex: 0 0 30px;
  margin: 0;
  text-align: right;
}

.dcc .init-and-speed.hd label {
  font-size: 1.1rem;
  margin: 10px auto 0 0;
}

.dcc .init-and-speed .hd .hd-value {
  font-size: 1.1rem;
  height: 25px;
  text-align: center;
  width: 40px;
}

/* ----------------------------------------- */
/*  Hit Points                               */
/* ----------------------------------------- */

.dcc .hp {
  background-image: url('./images/heart.png');
  background-position-y: 9px;
  background-repeat: no-repeat;
  background-size: 80px 75px;
  flex: 0 0 99px;
  height: 99px;
  margin: 0 0 0 5px;
  text-align: center;
}

.dcc .hp .current-label {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: -8px auto 0 28px;
}

.dcc .hp .current {
  font-size: 1.6rem;
  height: 25px;
  margin: 31px auto 0 23px;
  width: 35px;
}

.dcc .hp .max {
  font-size: 0.8rem;
  height: 17px;
  margin: 7px auto 0 63px;
  width: 25px;
}

.dcc .hp .max-label {
  font-size: 0.6rem;
  line-height: 0.8rem;
  margin: 2px auto 0 65px;
}

/* ----------------------------------------- */
/*  Initiative                               */
/* ----------------------------------------- */

.dcc .init-and-speed {
  flex: 1 0 100px;
  margin: 7px 0 0;
  text-align: right;
}

.dcc .init-and-speed .init {
  align-items: center;
  flex: 0 0 30px;
}

.dcc .init-and-speed .init label {
  font-size: 1.1rem;
}

.dcc .init-and-speed .init .init-value {
  font-size: 1.1rem;
  text-align: center;
  width: 40px;
}

.dcc .combat-basics .init {
  align-items: center;
  flex: 0 0 120px;
}

/* ----------------------------------------- */
/*  Notes                              */
/* ----------------------------------------- */

.dcc .notes {
  border: $border-style;
  font-size: 14px;
  height: 98%;
  line-height: 24px;
  padding: 2px;
}

.dcc .notes-label {
  font-family: $duvall;
  font-size: 1.5rem;
  margin-top: 20px;
}

/* ----------------------------------------- */
/*  Speed                                    */
/* ----------------------------------------- */

.dcc .init-and-speed .speed {
  flex: 0 0 30px;
}

.dcc .init-and-speed .speed label {
  font-size: 1.1rem;
  margin: 10px auto 0 0;
}

.dcc .init-and-speed .speed .speed-other {
  margin: 5px 0 0;
  width: 100px;
}

.dcc .init-and-speed .speed .speed-other-label {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 0 7px 0 0;
}

.dcc .init-and-speed .speed .speed-value {
  font-size: 1.1rem;
  height: 25px;
  text-align: center;
  width: 40px;
}

.dcc .combat-basics .speed {
  align-items: center;
  flex: 0 0 60px;
}

/* ----------------------------------------- */
/*  Saving Throws                            */
/* ----------------------------------------- */

.dcc.sheet.actor .saving-throws {
  border: $border-style;
  border-radius: 5px;
  flex: 0 0 152px;
  font-size: 20px;
  height: 102px;
  list-style: none;
  margin: 7px 0 0;
  padding: 2px 0 3px 7px;
  text-align: left;
}

.dcc.sheet.actor .saving-throws .save {
  margin-bottom: 0.25rem;
}

.dcc.sheet.actor .saving-throws span {
  font-family: $book-antiqua;
}

.dcc.sheet.actor .saving-throws input {
  font-family: $book-antiqua;
  margin-bottom: 0;
  text-align: center;
  width: 36px;
}

/* ----------------------------------------- */
/*  Special                                  */
/* ----------------------------------------- */

.dcc .special {
  flex: 0 0 155px;
  margin: 0 8px 0 0;
}

/* ----------------------------------------- */
/*  Tabs                                     */
/* ----------------------------------------- */

.dcc .tabs {
  height: 40px;
}

.dcc .tabs .item {
  border: $border-style;
  border-radius: 5px 5px 0 0;
  flex: 1;
  font-weight: bold;
  height: 38px;
  line-height: 35px;
  margin-bottom: 10px;
}

.dcc .tabs .item.active {
  border-bottom: 0;
  margin-bottom: 11px;
  text-decoration: underline;
  text-shadow: none;
}

.dcc .sheet-body {
  overflow: hidden;
}

.dcc .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}


/* ----------------------------------------- */
/*  Weapons                                  */
/* ----------------------------------------- */

.dcc .weapons {
  margin: 10px 0 0;
}

.dcc .weapons-heading {
  background-image: url('./images/axe.png');
  background-position-x: 155px;
  background-repeat: no-repeat;
  background-size: 90px 18px;
  border-bottom: $border-style;
  flex: 0 0 10px;
  font-family: $duvall;
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 10px 0 0;
}

.dcc .weapons-heading.ranged {
  background-image: url('./images/bow.png');
  background-position-x: 165px;
  background-size: 90px 17px;
}

.dcc .weapon-list {
  font-family: $book-antiqua;
  margin: 0;
  padding-left: 8px;

  .item-image {
    flex: 0 0 24px;
    margin-right: 8px;
    margin-top: 3px;
  }

  input {
    height: 30px;
    margin: 0 8px 0 0;
  }
}

.dcc .weapon-list-header {
  flex: 0 0 10px;
  font-family: $duvall;
  font-size: 0.8rem;
  margin: 0 0 1px;
  padding: 0;
}

.dcc .weapon {
  flex: 0 0 35px;
}

.dcc .weapon-button {
  background-image: url('../../../icons/svg/d20-black.svg');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 5px 0 0;
}

.dcc .backstab-button {
  background-image: url('./images/backstab.png');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 5px 0 0;
}

.dcc .roll-button {
  background-image: url('../../../icons/svg/d20-black.svg');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 5px 0 0;
}

.dcc .left-arrow-button {
  background-image: url('./images/left-arrow.png');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 5px 0 0;
}

.dcc .right-arrow-button {
  background-image: url('./images/right-arrow.png');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  flex: 0 0 30px;
  margin: 5px 0 0;
}

.dcc .weapon-damage {
  flex: 0 0 80px;
  margin: 0 10px 0 0;
  text-align: center;
}

.dcc .backstab-padding {
  flex: 0 0 30px;
}

.dcc .weapon-name-label {
  padding: 0 0 0 30px;
}

.dcc .weapon-notes {
  flex: 0.2 0 55px;
  margin: 0 8px 0 0;
}

.dcc .weapon-tohit {
  flex: 0 0 100px;
  margin: 0 6px 0 0;
  text-align: center;
}

.dcc .weapon-special {
  flex: 0 0 1;
  text-align: center;
}

.dcc .weapon-controls {
  flex: 0 0 60px;
  padding-left: 10px;
}

/* ----------------------------------------- */
/*  Upper Level                              */
/* ----------------------------------------- */

.dcc .combat-basics {
  flex: 1 0 50%;
  font-size: 0.8rem;
  margin: 7px 0 0 7px;
  text-align: center;
}

.dcc .character-grid {
  border-top: $border-style;
  display: grid;
  font-size: 20px;
  grid-template-columns: 150px 105px 1fr;
  grid-template-rows: repeat(6, 70px);
  list-style: none;
  margin: 7px;
  padding: 0;
}

.dcc.sheet.actor .character-grid .ability {
  border-bottom: 2px groove #eeede0;
  border-left: $border-style;
  border-right: $border-style;
  padding-top: 3px;
  text-align: center;
}

.dcc.sheet.actor .character-grid .ability input.ability-score {
  font-size: 24px;
  height: 30px;
  line-height: 32px;
  margin: 0 auto;
  width: 36px;
}

.dcc.sheet.actor .character-grid .ability .ability-modifiers {
  border-left: $border-style;
  border-top: $border-style;
  font-size: 16px;
  height: 23px;
  line-height: 22px;
  margin: -16px 0 0 116px;
  width: 30px;
}

.dcc.sheet.actor .character-grid .save {
  border-bottom: $border-style;
  border-right: $border-style;
  padding-top: 3px;
  text-align: center;
  width: 105px;
}

.dcc.sheet.actor .character-grid .save input {
  font-size: 24px;
  height: 30px;
  line-height: 32px;
  margin: 0 auto;
  width: 36px;
}

.dcc.sheet.actor .character-grid .languages {
  border-bottom: $border-style;
  border-right: $border-style;
  padding-right: 10px;
  padding-top: 3px;
  text-align: left;
}

.dcc.sheet.actor .character-grid .languages input {
  font-size: 14px;
  margin: 0 7px;
}

.dcc.sheet.actor .character-grid .birth-augur {
  border-bottom: $border-style;
  border-right: $border-style;
  padding-right: 10px;
  padding-top: 3px;
  text-align: left;
}

.dcc.sheet.actor .character-grid .birth-augur input {
  font-size: 14px;
  margin: 0 7px;
}

.dcc.sheet.actor .character-grid .remainder {
  border-bottom: $border-style;
  border-right: $border-style;
}

.dcc #str {
  grid-column: 1;
  grid-row: 1;
}

.dcc #agl {
  grid-column: 1;
  grid-row: 2;
}

.dcc #sta {
  grid-column: 1;
  grid-row: 3;
}

.dcc #per {
  grid-column: 1;
  grid-row: 4;
}

.dcc #int {
  grid-column: 1;
  grid-row: 5;
}

.dcc #lck {
  grid-column: 1;
  grid-row: 6;
}

.dcc #pad {
  border-bottom: $border-style;
  grid-column: 2;
  grid-row: 1;
}

.dcc #ref {
  grid-column: 2;
  grid-row: 2;
}

.dcc #frt {
  grid-column: 2;
  grid-row: 3;
}

.dcc #wil {
  grid-column: 2;
  grid-row: 4;
}

.dcc #languages {
  grid-column: 2 / span 2;
  grid-row: 5;
}

.dcc #birth-augur {
  grid-column: 2 / span 2;
  grid-row: 6;
}

.dcc #remainder {
  grid-column: 3;
  grid-row: 1 / span 4;
}

.dcc .class {
  font-size: 1.2rem;
}

.dcc .class-label {
  font-family: $duvall;
  font-size: 1.5rem;
  margin-top: 20px;
}

.dcc .class-note {
  flex: 0 0 100%;
  margin: 0 6px 0 0;
  text-align: left;
}

.dcc .class-note li {
  margin: 6px;
}

/* ----------------------------------------- */
/*  Cleric Class                             */
/* ----------------------------------------- */

.dcc .lay-on-hands {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .container {
    border: $border-style;
    display: grid;
    font-size: 0.8rem;
  }

  .lay-on-hands {
    flex: 0 0 60%;
    grid-template-columns: repeat(4, 1fr);
  }

  .condition-healing {
    flex: 0 0 34%;
    grid-template-columns: 2fr 1fr;
  }

  div.item {
    margin: 0;
    text-align: center;
  }

  div.header {
    font-weight: bold;
  }

  div.top {
    border-bottom: $border-style;
  }

  div.left {
    border-right: $border-style;
  }
}

.dcc .spells-container-cleric {
  margin: 4px;
}

/* ----------------------------------------- */
/*  Thief/Halfling Class                     */
/* ----------------------------------------- */

.dcc .skills-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6px;

  // Standard skill cards
  > div {
    display: grid;
    flex: 0 48%;
    grid-template-columns: auto 25%;
    grid-template-rows: auto;
    margin-bottom: 6px;

    label {
      font-family: $book-antiqua;
      font-weight: bold;
      padding-right: 6px;
      text-align: right;
    }

    input {
      height: 30px;
      text-align: center;
    }

    input.string {
      text-align: left;
    }

    select {
      margin-left: 2px;
      margin-right: 2px;
    }

    select.number {
      text-align-last: right;
    }
  }

  // Wide skill cards
  > div.wide {
    flex: 0 96%;
    grid-template-columns: 50% 50%;
  }

  // Special case grids
  > div.split-50-50 {
    grid-template-columns: 50% 50%;
  }

  > div.split-25-75 {
    grid-template-columns: 25% 75%;
  }

  > div.split-50-25-25 {
    grid-template-columns: 50% 25% 25%;
  }

  > div.split-50-12-12 {
    grid-template-columns: 50% 12% 12%;
  }

  > div.split-60-40 {
    grid-template-columns: 60% 40%;
  }

  > div.split-40-60 {
    grid-template-columns: 40% 60%;
  }

  > div.nosplit {
    grid-template-columns: 100%;
  }

  > div.textarea {
    border: $border-style;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto minmax(100px, auto);

    label {
      text-align: left;
    }

    > div.editor {
      grid-column: 1 / span 2;
    }
  }
}

/* ----------------------------------------- */
/*  Wizard/Elf Class                         */
/* ----------------------------------------- */

.dcc .spells-container-wizard {
  margin: 4px;
}

/* ----------------------------------------- */
/*  Items                                    */
/* ----------------------------------------- */

.dcc .equipment-container {
  height: 100%;
  overflow-y: scroll;
}

.dcc .item-heading {
  border-bottom: $border-style;
  flex: 0 0 10px;
  font-family: $duvall;
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 8px 0 0;
}

.dcc .item-list-header {
  flex: 0 0 10px;
  font-family: $duvall;
  font-size: 0.8rem;
  margin: 0 0 1px;
  padding: 0;
}

.dcc .item-list {
  padding-left: 8px;

  .item-equipped {
    flex: 0 0 20px;
    margin: 0 8px 0 0;
  }

  .item-lost {
    flex: 0 0 20px;
    margin: 0 8px 0 0;
  }

  .item-image {
    flex: 0 0 24px;
    margin-right: 8px;
  }

  .spell-item-button-heading {
    flex: 0 0 40px;
  }

  .spell-item-button {
    background-image: url('../../../icons/svg/d20-black.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    flex: 0 0 40px;
  }

  .skill-name {
    flex: 1 0 1px;
  }

  .skill-die {
    flex: 0 0 60px;
  }

  .skill-modifier {
    flex: 0 0 60px;
  }

  .skill-last-roll {
    flex: 0 0 60px;
    text-align: right;
  }

  .skill-freeform {
    flex: 0 0 180px;
  }

  .item-level {
    flex: 0 0 60px;
    text-align: center;
  }

  .item-name {
    flex: 1 0 1px;
  }

  .item-description {
    flex: 1 0 1px;
  }

  .item-weight {
    flex: 0 0 60px;
  }

  .item-quantity {
    flex: 0 0 70px;
  }

  .item-is-coins {
    flex: 0 1 100px;
    text-align: left;
  }

  .currency-field {
    text-align: right;
  }

  h4.currency-field {
    padding-right: 4px;
  }

  .item-pp {
    flex: 0 0 50px;
  }

  .item-ep {
    flex: 0 0 50px;
  }

  .item-gp {
    flex: 0 0 50px;
  }

  .item-sp {
    flex: 0 0 50px;
  }

  .item-cp {
    flex: 0 0 50px;
  }

  .item-controls {
    flex: 0 0 60px;
    padding-left: 10px;
  }
}

.dcc .skill-controls {
  text-align: right;
}

/* ----------------------------------------- */
/*  Items Sheet                              */
/* ----------------------------------------- */

.dcc.item {
  .sheet-body.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px minmax(80px, auto);
  }

  .sheet-body.item .value-row {
    grid-column: span 3 / span 3;
  }

  .sheet-body.weapon {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 50px 50px 50px minmax(80px, auto);
  }

  .sheet-body.weapon .value-row {
    grid-column: span 3 / span 3;
  }

  .sheet-body.armor {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 50px 50px 50px minmax(80px, auto);
  }

  .sheet-body.armor .value-row {
    grid-column: span 3 / span 3;
  }

  .sheet-body .spell-header-extras {
    display: grid;
    gap: 10px;
    grid-column: span 5 / span 5;
    grid-template-columns: repeat(4, minmax(0, 1fr)) minmax(0, 0.5fr);
    margin: 10px 0;
    padding: 0;
  }

  .sheet-body.spell {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px minmax(80px, auto) repeat(auto-fit, minmax(130px, auto));
    width: 100%;
  }

  .sheet-body.spell .mercurial-effect-header {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 50px;
  }

  .sheet-body.treasure {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px minmax(80px, auto);
    width: 100%;
  }

  .sheet-body.skill {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(80px, auto);
    width: 100%;
  }

  .value-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 150px;
    justify-content: space-between;

    .resource {
      flex: 3 0 75px;
    }

    .conversions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .sheet-body {
    .spell-header-overflow {
      grid-column: 1 / span 3;
    }

    .description {
      border: $border-style;
      grid-column: 1 / span 3;
    }

    .armor-header-extras {
      display: grid;
      grid-column: 1 / span 3;
      grid-template-columns: minmax(90px, auto) minmax(120px, auto) minmax(90px, auto) minmax(60px, auto);
    }

    .weapon-header-extras {
      display: grid;
      grid-column: 1 / span 3;
      grid-template-columns: minmax(55px, auto) minmax(90px, auto) minmax(100px, auto) minmax(85px, auto) minmax(145px, auto);
    }

    .weapon-summary {
      grid-column: 1 / span 3;
    }

    .armor-summary {
      grid-column: 1 / span 3;
    }

    .mercurial-effect-heading {
      grid-column: 1;

      h1 {
        border: 0;
        display: inline-block;
      }
    }

    .mercurial-effect-value {
      grid-column: 2;
    }

    .mercurial-effect-summary {
      grid-column: 3;
    }

    .mercurial-effect-description {
      border: $border-style;
      grid-column: 1 / span 3;
    }
  }

  .item-name {
    flex: 1 1;
  }

  .item-type {
    flex: 0 0 60px;
    margin: 5px 0 0 5px;
  }
}

/* ----------------------------------------- */
/*  Config Dialogs                           */
/* ----------------------------------------- */

.config-dialog {
  .form-group {
    border-bottom: $border-style;
    display: flex;
    margin: 5px 0;
    padding-bottom: 5px;

    label {
      flex: 0 0 48%;
    }

    label.span {
      flex: 0 0 96%;
    }

    label.info {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }

    div.form-fields {
      flex: 0 1 48%;
    }

    input {
      text-align: right;
    }

    input.string {
      text-align: left;
    }
  }
}

.sheet-config {
  .tabs {
    height: 40px;
  }

  .tabs .item {
    border: $border-style;
    border-radius: 5px 5px 0 0;
    flex: 1;
    font-weight: bold;
    height: 38px;
    line-height: 35px;
    margin-bottom: 10px;
  }

  .tabs .item.active {
    border-bottom: 0;
    margin-bottom: 11px;
    text-decoration: underline;
    text-shadow: none;
  }
}

/* ----------------------------------------- */
/*  Fix sheet tabs in 0.7.4                  */
/* ----------------------------------------- */

.dcc.sheet {
  .sheet-tabs.tabs {
    border: 0;
  }
}

/* ----------------------------------------- */
/*  Entity Link style links for user guide   */
/* ----------------------------------------- */
.dcc.sheet {
  a.external-link {
    background: #ddd;
    border: 1px solid #4b4a44;
    border-radius: 2px;
    color: #191813;
    padding: 1px 4px;
    text-decoration: none;
    white-space: nowrap;
    word-break: break-all;
  }
}

/* ----------------------------------------- */
/*  Roll Modifier Dialog                     */
/* ----------------------------------------- */

form.dcc-roll-modifier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 400px;

  .formula-row {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    grid-row-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto auto minmax(60px, auto);

    .term-label {
      font-family: $duvall;
    }

    .term-field {
      text-align: right;
    }

    .term-controls {
      margin-top: 8px;
    }
  }

  .button-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

    button {
      flex: 1;
    }
  }

  .button-stack {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;

    button.flat-button {
      margin: 0;
    }
  }

  .dialog-buttons {
    margin-top: 8px;
  }

  button.flat-button {
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #c9c7b8;
    margin: 0 5px 0 0;
  }

  button.flat-button:last-child {
    margin-right: 0;
  }

  label.checkbox-label {
    line-height: 26px;
    padding-left: 8px;
  }

  input.checkbox {
    text-align: right;
  }

  input.stat {
    text-align: right;
  }
}

/* ----------------------------------------- */
/*  Fleeting Luck Dialog                     */
/* ----------------------------------------- */

.dcc .fleeting-luck {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40px, auto) repeat(auto-fill, minmax(60px, auto));

  .fleeting-luck-header {
    align-items:center;
    display: grid;
    grid-gap: 2px 3px;
    grid-template-columns: 1fr 3fr 3fr;

    .filter {
      grid-column: 1;
      justify-self: center;
    }

    .reset-all {
      grid-column: 2;
      justify-self: center;
    }

    .clear-all {
      grid-column: 3;
      justify-self: center;
    }
  }

  .fleeting-luck-row {
    align-items:center;
    display: grid;
    grid-gap: 2px 3px;
    grid-template-columns: 60px 5fr 1fr 1fr 1fr 1fr;

    .avatar {
      grid-column: 1;
    }

    .name {
      font-size: 2rem;
      grid-column: 2;
    }

    .minus {
      grid-column: 3;
      justify-self: right;
    }

    .value {
      grid-column: 4;
      justify-self: center;
    }

    .plus {
      grid-column: 5;
      justify-self: left;
    }

    .clear {
      grid-column: 6;
      justify-self: center;
    }
  }
}
