.dcc {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */ }

@font-face {
  font-family: "Book Antiqua";
  src: url("fonts/Book-Antiqua.otf"); }

@font-face {
  font-family: "Duvall";
  src: url("fonts/Duvall.otf"); }

@font-face {
  font-family: "DuvallSmallCaps";
  src: url("fonts/DuvallSmallCaps.otf"); }

.dcc .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
  font-family: "Book Antiqua", "Palatino Linotype", serif; }

.dcc .window-content label {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif; }

.dcc .sheet-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px; }

.dcc .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin: 5px 10px 0 0; }

.dcc .sheet-header h1.charname {
  flex: 0 0 100%;
  height: 50px;
  padding: 0;
  margin: 5px 0;
  border-bottom: 0; }

.dcc .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0; }

.dcc .alignment {
  margin-left: 15px;
  text-align: center;
  flex: 0 0 10%; }

.dcc .alignment select {
  font-family: inherit;
  height: 24px;
  width: 90px; }

.dcc .class {
  flex: 0 0 1;
  height: 40px;
  font-size: 1.1rem;
  margin: 3px 0 0 5px;
  text-align: center; }

.dcc .class input {
  height: 28px;
  text-align: center; }

.dcc .occupation {
  flex: 1; }

.dcc .occupation input {
  width: 100%; }

.dcc .occupation label {
  margin: 0 0 0 4px; }

/* ----------------------------------------- */
/*  Armor Class                              */
/* ----------------------------------------- */
.dcc .ac {
  background-image: url("./images/ac-shield.png");
  background-size: 60px 76px;
  background-repeat: no-repeat;
  flex: 0 0 60px;
  flex-flow: column;
  display: flex;
  height: 99px;
  text-align: center;
  margin: 10px 0 0 10px; }

.dcc .ac label {
  margin: 31px auto 0 auto;
  font-size: 1.1rem; }

.dcc .ac .ac-value {
  width: 35px;
  margin: 21px auto 0 auto;
  font-size: 1.6rem;
  height: 25px; }

/* ----------------------------------------- */
/*  Hit Points                               */
/* ----------------------------------------- */
.dcc .hp {
  background-image: url("./images/hp-heart.png");
  background-size: 80px 90px;
  background-repeat: no-repeat;
  flex: 0 0 99px;
  flex-flow: column;
  display: flex;
  height: 99px;
  text-align: center;
  margin: 0 0 0 10px; }

.dcc .hp label {
  margin: 7px auto 0 28px;
  font-size: 1.1rem; }

.dcc .hp .current {
  width: 35px;
  margin: 31px auto 0 23px;
  font-size: 1.6rem;
  height: 25px; }

.dcc .hp .max {
  width: 25px;
  margin: 7px auto 0 63px;
  height: 17px; }

.dcc .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA; }

.dcc .tabs .item {
  line-height: 40px;
  font-weight: bold; }

.dcc .tabs .item.active {
  text-decoration: underline;
  text-shadow: none; }

.dcc .sheet-body {
  overflow: hidden; }

.dcc .sheet-body .tab {
  height: 100%;
  overflow-y: auto; }

.dcc .editor,
.dcc .editor-content {
  height: 100%; }

.dcc .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto; }

.dcc .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB; }

.dcc .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px; }

.dcc .item-list .item-name {
  margin: 0; }

.dcc .item-list .item-controls {
  flex: 0 0 36px; }

.dcc.sheet.actor {
  min-width: 560px;
  min-height: 632px; }

.dcc.sheet.item {
  min-width: 460px;
  min-height: 400px; }

/* ----------------------------------------- */
/*  Ability Scores                           */
/* ----------------------------------------- */
.dcc.sheet.actor .ability-scores {
  flex: 0 0 140px;
  height: 425px;
  list-style: none;
  margin: 7px;
  padding: 0;
  font-size: 20px;
  border: 2px groove #eeede0;
  border-radius: 3px; }

.dcc.sheet.actor .ability-scores .ability {
  height: 70px;
  text-align: center;
  border-bottom: 2px groove #eeede0;
  padding-top: 3px; }

.dcc.sheet.actor .ability-scores .ability:last-child {
  border-bottom: none;
  margin-bottom: -3px; }

.dcc.sheet.actor .ability-scores .ability input.ability-score {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px; }

.dcc.sheet.actor .ability-scores .ability .ability-modifiers {
  flex: 0 0 24px;
  height: 24px;
  margin: -16px 0 0 110px;
  width: 30px;
  line-height: 22px;
  font-size: 16px;
  border-top: 2px groove #eeede0;
  border-left: 2px groove #eeede0; }

/* ----------------------------------------- */
/*  Saving Throws                            */
/* ----------------------------------------- */
.dcc.sheet.actor .saving-throws {
  flex: 0 0 152px;
  height: 99px;
  list-style: none;
  margin: 7px;
  padding: 0;
  font-size: 20px;
  border: 2px groove #eeede0;
  border-radius: 3px; }

.dcc.sheet.actor .saving-throws .save {
  text-align: left;
  padding: 2px 0 5px 7px; }

.dcc.sheet.actor .saving-throws h4 {
  margin-bottom: -3px;
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif; }

.dcc.sheet.actor .saving-throws span {
  border-bottom: none;
  margin-bottom: -3px;
  font-family: "Book Antiqua", "Palatino Linotype", serif; }
