/* ----------------------------------------- */
/*  Globals                                  */
/* ----------------------------------------- */
@font-face {
  font-family: "Book Antiqua";
  src: url("fonts/Book-Antiqua.otf");
}

@font-face {
  font-family: "DuvallSmallCaps";
  src: url("fonts/DuvallSmallCaps.otf");
}

.dcc .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
  font-family: "Book Antiqua", "Palatino Linotype", serif;
}

.dcc .window-content label {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
}

/* ----------------------------------------- */
/*  Rollable                                 */
/* ----------------------------------------- */

.dcc .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

/* ----------------------------------------- */
/*  Actor Sheet                              */
/* ----------------------------------------- */

.dcc.sheet.actor {
  min-width: 605px;
  min-height: 633px;
}

.dcc .editor,
.dcc .editor-content {
  height: 100%;
}

/* ----------------------------------------- */
/*  Sheet Header                             */
/* ----------------------------------------- */

.dcc .sheet-header {
  overflow: hidden;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.dcc .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin: 5px 10px 0 0;
}

.dcc .sheet-header h1.charname {
  flex: 0 0 100%;
  height: 50px;
  padding: 0;
  margin: 5px 0;
  border-bottom: 0;
}

.dcc .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.dcc .alignment {
  margin-left: 15px;
  text-align: center;
  flex: 0 0 10%;
}

.dcc .alignment select {
  font-family: inherit;
  height: 24px;
  width: 90px;
}

.dcc .occupation input {
  width: 100%;
}

.dcc .occupation label {
  margin: 0 0 0 4px;
}

.dcc.actor.sheet .character-main-top-row {
  flex: 0 0 100px;
}

/* ----------------------------------------- */
/*  Action Dice                                 */
/* ----------------------------------------- */

.dcc .action-dice {
  flex: 0 0 100px;
  text-align: center;
  margin: 0 0 0 10px;
}

/* ----------------------------------------- */
/*  Ability Scores                           */
/* ----------------------------------------- */

.dcc.sheet.actor .ability-scores {
  flex: 0 0 140px;
  height: 425px;
  list-style: none;
  margin: 7px;
  padding: 0;
  font-size: 20px;
  border: 2px groove #eeede0;
  border-radius: 5px;
}

.dcc.sheet.actor .ability-scores .ability {
  height: 70px;
  text-align: center;
  border-bottom: 2px groove #eeede0;
  padding-top: 3px;
}

.dcc.sheet.actor .ability-scores .ability:last-child {
  border-bottom: none;
}

.dcc.sheet.actor .ability-scores .ability input.ability-score {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}

.dcc.sheet.actor .ability-scores .ability .ability-modifiers {
  flex: 0 0 24px;
  height: 23px;
  margin: -16px 0 0 110px;
  width: 30px;
  line-height: 22px;
  font-size: 16px;
  border-top: 2px groove #eeede0;
  border-left: 2px groove #eeede0;
}

/* ----------------------------------------- */
/*  Armor                                  */
/* ----------------------------------------- */

.dcc .armor-heading {
  margin: 8px 0 0 0;
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: 1.1rem;
  border-bottom: 2px groove #eeede0;
  flex: 0 0 10px;
  line-height: 1.2rem;
  background-image: url("./images/gauntlet.png");
  background-size: 55px 17px;
  background-position-x: 70px;
  background-repeat: no-repeat;
}

.dcc .armor-list {
  margin: 0 8px 0 0;
  font-family: "Book Antiqua", "Palatino Linotype", serif;
  padding: 0;
}

.dcc .armor-list input {
  height: 30px;
}

.dcc .armor-list-header {
  margin: 7px 0 2px 0;
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: .8rem;
  flex: 0 0 10px;
  padding: 0;
}

.dcc .armor-bonus {
  flex: 0 0 45px;
  margin: 0 8px 0 8px;
  text-align: center;
}

.dcc .armor-checkpenalty {
  flex: 0 0 60px;
  margin: 0 8px 0 0;
  text-align: center;
}

.dcc .armor-fumbledie {
  flex: 0 0 80px;
  text-align: center;
}

.dcc .armor-notes {
  flex: 0 0 110px;
  margin: 0 0 0 8px;
}

/* ----------------------------------------- */
/*  Armor Class                              */
/* ----------------------------------------- */

.dcc .ac {
  background-image: url("./images/shield.png");
  background-size: 60px 76px;
  background-repeat: no-repeat;
  flex: 0 0 60px;
  height: 99px;
  text-align: center;
  margin: 10px 0 0 6px;
}

.dcc .ac label {
  margin: 31px auto 0 auto;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.dcc .ac .ac-value {
  width: 35px;
  margin: 21px auto 0 auto;
  font-size: 1.6rem;
  height: 25px;
}


/* ----------------------------------------- */
/*  Chat Rolls                               */
/* ----------------------------------------- */
.dice-roll .dice-total.critical,
.inline-roll.critical {
  color: green;
  font-weight: 900;
}

.dice-roll .dice-total.fumble,
.inline-roll.fumble {
  color: red;
}

/* ----------------------------------------- */
/*  Criticals                                */
/* ----------------------------------------- */

.dcc .crit-die {
  flex: 0 0 80px;
  text-align: center;
  margin: 0 0 0 10px;
}

.dcc .crit-table {
  flex: 0 0 80px;
  text-align: center;
  margin: 0 0 0 10px;
}

/* ----------------------------------------- */
/*  Experience                               */
/* ----------------------------------------- */

.dcc .experience {
  flex: 0 0 80px;
  text-align: left;
  margin: 0 0 0 10px;
}

/* ----------------------------------------- */
/*  Hit Dice                                 */
/* ----------------------------------------- */

.dcc .hd {
  flex: 0 0 50px;
  text-align: center;
  margin: 0 0 0 0;
}

/* ----------------------------------------- */
/*  Hit Points                               */
/* ----------------------------------------- */

.dcc .hp {
  background-image: url("./images/heart.png");
  background-size: 80px 75px;
  background-repeat: no-repeat;
  background-position-y: 9px;
  flex: 0 0 99px;
  height: 99px;
  text-align: center;
  margin: 0 0 0 5px;
}

.dcc .hp .current-label {
  margin: -8px auto 0 28px;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.dcc .hp .current {
  width: 35px;
  margin: 31px auto 0 23px;
  font-size: 1.6rem;
  height: 25px;
}

.dcc .hp .max {
  width: 25px;
  margin: 7px auto 0 63px;
  height: 17px;
}

.dcc .hp .max-label {
  margin: 2px auto 0 65px;
  font-size: .6rem;
  line-height: .8rem;
}

/* ----------------------------------------- */
/*  Init                                     */
/* ----------------------------------------- */

.dcc .init-and-speed {
  flex: 0 0 100px;
  margin: 7px 0 0 0;
  text-align: right;
}

.dcc .init {
  flex: 0 0 30px;
  align-items: center;
}

.dcc .init label {
  font-size: 1.1rem;
}

.dcc .init .init-value {
  width: 40px;
  font-size: 1.1rem;
  text-align: center;
}

/* ----------------------------------------- */
/*  Notes                              */
/* ----------------------------------------- */

.dcc .notes {
  border: 2px groove #eeede0;
  font-size: 1.2rem;
  height: 85%;
}

.dcc .notes-label {
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: 1.5rem;
  margin-top: 20px;
}

/* ----------------------------------------- */
/*  Speed                                    */
/* ----------------------------------------- */
.dcc .speed label {
  margin: 10px auto 0 0;
  font-size: 1.1rem;
}

.dcc .speed .speed-other {
  width: 100px;
  margin: 5px 0 0 0;
}

.dcc .speed .speed-other-label {
  font-size: .8rem;
  line-height: .8rem;
  margin: 0 7px 0 0;
}

.dcc .speed .speed-value {
  width: 40px;
  font-size: 1.1rem;
  height: 25px;
  text-align: center;
}

/* ----------------------------------------- */
/*  Saving Throws                            */
/* ----------------------------------------- */

.dcc.sheet.actor .saving-throws {
  flex: 0 0 152px;
  height: 102px;
  list-style: none;
  margin: 7px 0 0 0;
  padding: 2px 0 3px 7px;
  font-size: 20px;
  border: 2px groove #eeede0;
  border-radius: 5px;
  text-align: left;
}

.dcc.sheet.actor .saving-throws .save {
  margin-bottom: .25rem;
}

.dcc.sheet.actor .saving-throws span {
  font-family: "Book Antiqua", "Palatino Linotype", serif;
}

.dcc.sheet.actor .saving-throws input {
  margin-bottom: 0;
  width: 36px;
  font-family: "Book Antiqua", "Palatino Linotype", serif;
  text-align: center;
}

/* ----------------------------------------- */
/*  Special                                  */
/* ----------------------------------------- */

.dcc .special {
  flex: 0 0 155px;
  margin: 0 8px 0 0;
}

/* ----------------------------------------- */
/*  Tabs                                     */
/* ----------------------------------------- */

.dcc .tabs {
  height: 40px;
}

.dcc .tabs .item {
  line-height: 35px;
  font-weight: bold;
  border: 2px groove #eeede0;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px
}

.dcc .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
  border-bottom: none;
  margin-bottom: 11px;
}

.dcc .sheet-body {
  overflow: hidden;
}

.dcc .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}


/* ----------------------------------------- */
/*  Weapons                                  */
/* ----------------------------------------- */

.dcc .weapons {
  margin: 10px 0 0 0;
}

.dcc .weapons-heading {
  margin: 10px 0 0 0;
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: 1.1rem;
  border-bottom: 2px groove #eeede0;
  flex: 0 0 10px;
  line-height: 1.2rem;
  background-image: url("./images/axe.png");
  background-size: 90px 18px;
  background-position-x: 155px;
  background-repeat: no-repeat;
}

.dcc .weapons-heading.ranged {
  background-image: url("./images/bow.png");
  background-size: 90px 17px;
  background-position-x: 165px;
}

.dcc .weapon-list {
  margin: 0 0 0 0;
  font-family: "Book Antiqua", "Palatino Linotype", serif;
  padding: 0;
}

.dcc .weapon-list input {
  margin: 0 8px 0 0;
  height: 30px;
}

.dcc .weapon-list-header {
  margin: 0 0 1px 0;
  font-family: "DuvallSmallCaps", "Palatino Linotype", serif;
  font-size: .8rem;
  flex: 0 0 10px;
  padding: 0;
}

.dcc .weapon {
  flex: 0 0 35px;
}

.dcc .weapon-button {
  flex: 0 0 30px;
  margin: 5px 0 0 0;
  background-image: url("/icons/svg/d20-black.svg");
  background-size: 22px 22px;
  background-repeat: no-repeat;
}

.dcc .weapon-damage {
  flex: 0 0 80px;
  margin: 0 10px 0 0;
  text-align: center;
}

.dcc .weapon-name-label {
  padding: 0 0 0 30px;
}

.dcc .weapon-notes {
  flex: 0 0 110px;
  margin: 0 8px 0 0;
}

.dcc .weapon-tohit {
  flex: 0 0 60px;
  margin: 0 6px 0 0;
  text-align: center;
}

.dcc .weapon-special {
  flex: 0 0 1;
  text-align: center;
}