/* ----------------------------------------- */
/*  Entity Link style links for user guide   */
/* ----------------------------------------- */
.dcc.sheet {
  a.external-link {
    background: none;
    border: 0;
    border-radius: 0;
    color: var(--system-primary-color);
    text-decoration: none;
    white-space: nowrap;
    word-break: break-all;
  }
}

